html {
  background: radial-gradient(ellipse at bottom, #0f1b25 0%, #0c121c 100%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 405px 1812px #090e17, 1797px 1894px #48d8e4, 1786px 512px #48d8e4, 991px 961px #48d8e4,
    1461px 1907px #48d8e4, 1715px 1377px #48d8e4, 332px 512px #48d8e4, 955px 1717px #48d8e4, 1993px 1682px #48d8e4,
    302px 939px #48d8e4, 2000px 737px #48d8e4, 1273px 1963px #48d8e4, 1993px 257px #48d8e4, 609px 1672px #48d8e4,
    624px 1075px #48d8e4, 275px 108px #48d8e4, 806px 1285px #48d8e4, 850px 781px #48d8e4, 527px 1462px #48d8e4,
    1950px 897px #48d8e4, 955px 803px #48d8e4, 955px 1291px #48d8e4, 1454px 1471px #48d8e4, 1182px 1818px #48d8e4,
    362px 764px #48d8e4, 358px 635px #48d8e4, 1478px 636px #48d8e4, 774px 102px #48d8e4, 1018px 1461px #48d8e4,
    1250px 1242px #48d8e4, 193px 121px #48d8e4, 1084px 87px #48d8e4, 334px 923px #48d8e4, 325px 1405px #48d8e4,
    1715px 1209px #48d8e4, 1470px 1774px #48d8e4, 1944px 1599px #48d8e4, 489px 1748px #48d8e4, 1884px 106px #48d8e4,
    1176px 1625px #48d8e4, 210px 919px #48d8e4, 1239px 1062px #48d8e4, 979px 872px #48d8e4, 1814px 615px #48d8e4,
    701px 1274px #48d8e4, 1px 1663px #48d8e4, 21px 1825px #48d8e4, 1261px 803px #48d8e4, 1078px 669px #48d8e4,
    179px 993px #48d8e4, 1399px 174px #48d8e4, 1857px 1005px #48d8e4, 1613px 657px #48d8e4, 805px 454px #48d8e4,
    1933px 56px #48d8e4, 721px 1858px #48d8e4, 957px 1060px #48d8e4, 1815px 1444px #48d8e4, 1566px 1977px #48d8e4,
    1633px 1475px #48d8e4, 796px 280px #48d8e4, 1626px 1623px #48d8e4, 70px 576px #48d8e4, 823px 1744px #48d8e4,
    620px 1892px #48d8e4, 1722px 950px #48d8e4, 1038px 1401px #48d8e4, 452px 585px #48d8e4, 1115px 77px #48d8e4,
    1976px 101px #48d8e4, 659px 1335px #48d8e4, 1129px 923px #48d8e4, 15px 186px #48d8e4, 1253px 1371px #48d8e4,
    843px 1152px #48d8e4, 715px 1456px #48d8e4, 7px 527px #48d8e4, 1561px 1798px #48d8e4, 191px 1337px #48d8e4,
    573px 1776px #48d8e4, 491px 512px #48d8e4, 943px 877px #48d8e4, 715px 217px #48d8e4, 829px 1695px #48d8e4,
    1162px 426px #48d8e4, 377px 828px #48d8e4, 1771px 1511px #48d8e4, 1913px 326px #48d8e4, 1031px 1036px #48d8e4,
    508px 338px #48d8e4, 640px 1109px #48d8e4, 1583px 1024px #48d8e4, 285px 512px #48d8e4, 513px 985px #48d8e4,
    1321px 729px #48d8e4, 421px 318px #48d8e4, 1586px 1190px #48d8e4, 92px 1057px #48d8e4, 119px 1594px #48d8e4,
    1387px 1672px #48d8e4, 1825px 1635px #48d8e4, 163px 1900px #48d8e4, 1098px 36px #48d8e4, 1171px 1860px #48d8e4,
    536px 244px #48d8e4, 1312px 1692px #48d8e4, 1270px 1409px #48d8e4, 518px 1454px #48d8e4, 483px 1636px #48d8e4,
    614px 1575px #48d8e4, 1776px 13px #48d8e4, 1777px 899px #48d8e4, 1097px 288px #48d8e4, 1194px 799px #48d8e4,
    29px 469px #48d8e4, 223px 790px #48d8e4, 1986px 1265px #48d8e4, 1364px 422px #48d8e4, 767px 1615px #48d8e4,
    1510px 1732px #48d8e4, 581px 780px #48d8e4, 1243px 169px #48d8e4, 1374px 95px #48d8e4, 410px 1367px #48d8e4,
    1494px 1571px #48d8e4, 1715px 1765px #48d8e4, 1822px 1203px #48d8e4, 1934px 453px #48d8e4, 1877px 1205px #48d8e4,
    1416px 1006px #48d8e4, 913px 594px #48d8e4, 677px 1725px #48d8e4, 12px 724px #48d8e4, 942px 538px #48d8e4,
    273px 1486px #48d8e4, 102px 1819px #48d8e4, 526px 1814px #48d8e4, 914px 1329px #48d8e4, 1941px 126px #48d8e4,
    1387px 1114px #48d8e4, 1608px 1008px #48d8e4, 788px 446px #48d8e4, 1066px 806px #48d8e4, 377px 528px #48d8e4,
    1099px 456px #48d8e4, 1604px 1906px #48d8e4, 810px 1082px #48d8e4, 328px 1682px #48d8e4, 978px 1331px #48d8e4,
    754px 360px #48d8e4, 359px 330px #48d8e4, 1392px 1194px #48d8e4, 1438px 711px #48d8e4, 515px 1260px #48d8e4,
    503px 131px #48d8e4, 1879px 1955px #48d8e4, 13px 1532px #48d8e4, 1639px 1939px #48d8e4, 1430px 1146px #48d8e4,
    259px 1286px #48d8e4, 822px 1950px #48d8e4, 1472px 416px #48d8e4, 1705px 402px #48d8e4, 657px 1864px #48d8e4,
    1525px 1558px #48d8e4, 885px 1893px #48d8e4, 462px 1173px #48d8e4, 1953px 1870px #48d8e4, 1866px 783px #48d8e4,
    50px 949px #48d8e4, 661px 1580px #48d8e4, 885px 1830px #48d8e4, 1524px 1428px #48d8e4, 850px 129px #48d8e4,
    1458px 151px #48d8e4, 1701px 1478px #48d8e4, 1555px 177px #48d8e4, 248px 1683px #48d8e4, 203px 1198px #48d8e4,
    186px 1756px #48d8e4, 920px 1450px #48d8e4, 819px 503px #48d8e4, 974px 276px #48d8e4, 1642px 1983px #48d8e4,
    54px 1001px #48d8e4, 1585px 929px #48d8e4, 1884px 1470px #48d8e4, 1613px 1245px #48d8e4, 1834px 711px #48d8e4,
    1338px 1588px #48d8e4, 102px 1572px #48d8e4, 244px 120px #48d8e4, 1679px 1025px #48d8e4, 37px 906px #48d8e4,
    1564px 1178px #48d8e4, 1129px 1191px #48d8e4, 1246px 552px #48d8e4, 512px 398px #48d8e4, 643px 1287px #48d8e4,
    475px 18px #48d8e4, 232px 305px #48d8e4, 753px 857px #48d8e4, 619px 175px #48d8e4, 1874px 743px #48d8e4,
    599px 490px #48d8e4, 80px 283px #48d8e4, 273px 99px #48d8e4, 1201px 350px #48d8e4, 915px 86px #48d8e4,
    1841px 1147px #48d8e4, 1715px 839px #48d8e4, 1784px 1276px #48d8e4, 1320px 1525px #48d8e4, 1938px 1688px #48d8e4,
    1231px 614px #48d8e4, 68px 1928px #48d8e4, 72px 919px #48d8e4, 1912px 676px #48d8e4, 1568px 417px #48d8e4,
    1784px 1569px #48d8e4, 815px 430px #48d8e4, 142px 846px #48d8e4, 35px 276px #48d8e4, 1786px 1043px #48d8e4,
    278px 1262px #48d8e4, 1789px 1593px #48d8e4, 921px 193px #48d8e4, 38px 1217px #48d8e4, 1473px 118px #48d8e4,
    1618px 1759px #48d8e4, 52px 822px #48d8e4, 872px 1327px #48d8e4, 1635px 1852px #48d8e4, 1270px 1540px #48d8e4,
    677px 530px #48d8e4, 608px 794px #48d8e4, 851px 654px #48d8e4, 1362px 1853px #48d8e4, 1735px 1858px #48d8e4,
    830px 70px #48d8e4, 173px 667px #48d8e4, 1867px 1374px #48d8e4, 1969px 17px #48d8e4, 1618px 747px #48d8e4,
    1029px 1452px #48d8e4, 236px 1896px #48d8e4, 1820px 1488px #48d8e4, 467px 477px #48d8e4, 1162px 355px #48d8e4,
    828px 878px #48d8e4, 968px 1554px #48d8e4, 80px 1639px #48d8e4, 1956px 223px #48d8e4, 783px 686px #48d8e4,
    1965px 1402px #48d8e4, 1195px 1235px #48d8e4, 540px 1729px #48d8e4, 1832px 1968px #48d8e4, 1956px 1279px #48d8e4,
    557px 313px #48d8e4, 1709px 901px #48d8e4, 9px 1483px #48d8e4, 1298px 1531px #48d8e4, 252px 1816px #48d8e4,
    1169px 289px #48d8e4, 684px 1604px #48d8e4, 1663px 759px #48d8e4, 767px 1331px #48d8e4, 1817px 315px #48d8e4,
    331px 1132px #48d8e4, 1367px 1979px #48d8e4, 1364px 570px #48d8e4, 1341px 1895px #48d8e4, 479px 1103px #48d8e4,
    1351px 1965px #48d8e4, 35px 1015px #48d8e4, 270px 159px #48d8e4, 1442px 1227px #48d8e4, 151px 434px #48d8e4,
    611px 300px #48d8e4, 1912px 1001px #48d8e4, 796px 1896px #48d8e4, 995px 1086px #48d8e4, 1511px 880px #48d8e4,
    1583px 158px #48d8e4, 493px 819px #48d8e4, 550px 1266px #48d8e4, 1808px 572px #48d8e4, 94px 233px #48d8e4,
    1310px 434px #48d8e4, 420px 105px #48d8e4, 927px 1740px #48d8e4, 406px 1174px #48d8e4, 1198px 1488px #48d8e4,
    269px 429px #48d8e4, 1551px 1563px #48d8e4, 418px 1652px #48d8e4, 22px 505px #48d8e4, 957px 208px #48d8e4,
    1712px 1247px #48d8e4, 1552px 274px #48d8e4, 805px 1368px #48d8e4, 100px 861px #48d8e4, 1508px 103px #48d8e4,
    901px 1250px #48d8e4, 743px 1973px #48d8e4, 800px 108px #48d8e4, 336px 1512px #48d8e4, 234px 1225px #48d8e4,
    640px 1706px #48d8e4, 1109px 1751px #48d8e4, 1341px 1757px #48d8e4, 775px 342px #48d8e4, 624px 438px #48d8e4,
    1155px 1443px #48d8e4, 15px 1097px #48d8e4, 1965px 1602px #48d8e4, 263px 122px #48d8e4, 1522px 1558px #48d8e4,
    1175px 1959px #48d8e4, 619px 605px #48d8e4, 473px 1705px #48d8e4, 959px 944px #48d8e4, 1392px 300px #48d8e4,
    1228px 875px #48d8e4, 1006px 1053px #48d8e4, 1898px 699px #48d8e4, 999px 624px #48d8e4, 926px 267px #48d8e4,
    12px 1815px #48d8e4, 1892px 1431px #48d8e4, 774px 1194px #48d8e4, 930px 48px #48d8e4, 1904px 1467px #48d8e4,
    1973px 1359px #48d8e4, 582px 1841px #48d8e4, 1174px 1008px #48d8e4, 1701px 420px #48d8e4, 1050px 1497px #48d8e4,
    1242px 1297px #48d8e4, 1221px 441px #48d8e4, 480px 990px #48d8e4, 1188px 1246px #48d8e4, 1376px 668px #48d8e4,
    1170px 955px #48d8e4, 906px 448px #48d8e4, 350px 627px #48d8e4, 714px 934px #48d8e4, 1036px 629px #48d8e4,
    759px 903px #48d8e4, 1959px 381px #48d8e4, 326px 918px #48d8e4, 757px 184px #48d8e4, 824px 1649px #48d8e4,
    881px 965px #48d8e4, 735px 800px #48d8e4, 1208px 950px #48d8e4, 1015px 1968px #48d8e4, 1133px 412px #48d8e4,
    971px 1495px #48d8e4, 84px 1274px #48d8e4, 1640px 63px #48d8e4, 643px 1016px #48d8e4, 1794px 1897px #48d8e4,
    945px 575px #48d8e4, 156px 1651px #48d8e4, 85px 1695px #48d8e4, 1536px 1037px #48d8e4, 1573px 11px #48d8e4,
    615px 1577px #48d8e4, 1541px 1947px #48d8e4, 805px 757px #48d8e4, 1303px 1738px #48d8e4, 372px 1502px #48d8e4,
    1313px 950px #48d8e4, 554px 1849px #48d8e4, 1543px 1129px #48d8e4, 607px 392px #48d8e4, 1873px 1524px #48d8e4,
    1222px 329px #48d8e4, 259px 853px #48d8e4, 896px 122px #48d8e4, 1937px 1170px #48d8e4, 649px 483px #48d8e4,
    1052px 1790px #48d8e4, 1725px 956px #48d8e4, 469px 1812px #48d8e4, 734px 650px #48d8e4, 169px 1085px #48d8e4,
    1760px 1538px #48d8e4, 1416px 176px #48d8e4, 766px 914px #48d8e4, 1246px 903px #48d8e4, 1256px 610px #48d8e4,
    1751px 1929px #48d8e4, 435px 1941px #48d8e4, 1866px 1057px #48d8e4, 2000px 1680px #48d8e4, 1900px 458px #48d8e4,
    1253px 388px #48d8e4, 547px 750px #48d8e4, 211px 8px #48d8e4, 683px 1990px #48d8e4, 148px 39px #48d8e4,
    501px 595px #48d8e4, 1727px 1040px #48d8e4, 148px 822px #48d8e4, 1673px 1063px #48d8e4, 1656px 1971px #48d8e4,
    199px 148px #48d8e4, 808px 1447px #48d8e4, 1912px 1642px #48d8e4, 1574px 1275px #48d8e4, 595px 1699px #48d8e4,
    763px 1527px #48d8e4, 1395px 1389px #48d8e4, 829px 791px #48d8e4, 1027px 337px #48d8e4, 573px 1853px #48d8e4,
    346px 434px #48d8e4, 134px 1008px #48d8e4, 805px 1511px #48d8e4, 344px 809px #48d8e4, 81px 265px #48d8e4,
    721px 1633px #48d8e4, 480px 1816px #48d8e4, 1130px 312px #48d8e4, 1831px 151px #48d8e4, 1498px 1744px #48d8e4,
    494px 1234px #48d8e4, 1252px 1595px #48d8e4, 806px 1350px #48d8e4, 1204px 899px #48d8e4, 266px 220px #48d8e4,
    1281px 1684px #48d8e4, 305px 1664px #48d8e4, 1451px 766px #48d8e4, 1197px 125px #48d8e4, 1399px 420px #48d8e4,
    1023px 540px #48d8e4, 1839px 957px #48d8e4, 1697px 108px #48d8e4, 1961px 1189px #48d8e4, 1931px 1721px #48d8e4,
    74px 448px #48d8e4, 920px 1707px #48d8e4, 1675px 1302px #48d8e4, 927px 48px #48d8e4, 307px 775px #48d8e4,
    572px 732px #48d8e4, 920px 1657px #48d8e4, 1512px 1293px #48d8e4, 503px 926px #48d8e4, 1423px 1205px #48d8e4,
    1101px 1095px #48d8e4, 1972px 1273px #48d8e4, 839px 520px #48d8e4, 684px 1015px #48d8e4, 167px 285px #48d8e4,
    411px 847px #48d8e4, 162px 767px #48d8e4, 1525px 809px #48d8e4, 1031px 1880px #48d8e4, 1993px 1979px #48d8e4,
    65px 450px #48d8e4, 1671px 383px #48d8e4, 1353px 1715px #48d8e4, 1911px 1887px #48d8e4, 1832px 1869px #48d8e4,
    701px 49px #48d8e4, 1577px 240px #48d8e4, 1626px 793px #48d8e4, 1496px 1990px #48d8e4, 1972px 1349px #48d8e4,
    673px 813px #48d8e4, 101px 105px #48d8e4, 1542px 516px #48d8e4, 1253px 1827px #48d8e4, 1721px 964px #48d8e4,
    1358px 894px #48d8e4, 806px 1333px #48d8e4, 829px 1561px #48d8e4, 659px 1136px #48d8e4, 1900px 1320px #48d8e4,
    925px 1592px #48d8e4, 588px 678px #48d8e4, 1857px 26px #48d8e4, 1587px 1597px #48d8e4, 810px 1706px #48d8e4,
    574px 371px #48d8e4, 980px 668px #48d8e4, 347px 571px #48d8e4, 281px 1164px #48d8e4, 1570px 1938px #48d8e4,
    1881px 768px #48d8e4, 959px 1551px #48d8e4, 1507px 1352px #48d8e4, 1213px 1871px #48d8e4, 1566px 253px #48d8e4,
    1191px 557px #48d8e4, 1662px 1093px #48d8e4, 570px 1080px #48d8e4, 655px 1306px #48d8e4, 611px 1447px #48d8e4,
    463px 986px #48d8e4, 1282px 1533px #48d8e4, 1379px 430px #48d8e4, 681px 1947px #48d8e4, 421px 1508px #48d8e4,
    862px 1542px #48d8e4, 896px 1135px #48d8e4, 1543px 643px #48d8e4, 135px 1565px #48d8e4, 1809px 1272px #48d8e4,
    1938px 1741px #48d8e4, 224px 775px #48d8e4, 783px 1992px #48d8e4, 998px 397px #48d8e4, 1803px 1472px #48d8e4,
    777px 700px #48d8e4, 728px 1387px #48d8e4, 1887px 145px #48d8e4, 199px 828px #48d8e4, 1918px 865px #48d8e4,
    336px 1870px #48d8e4, 64px 466px #48d8e4, 1099px 1181px #48d8e4, 1402px 892px #48d8e4, 1159px 1459px #48d8e4,
    1052px 792px #48d8e4, 1181px 228px #48d8e4, 1246px 318px #48d8e4, 507px 527px #48d8e4, 1546px 723px #48d8e4,
    1953px 1457px #48d8e4, 815px 468px #48d8e4, 1416px 748px #48d8e4, 71px 295px #48d8e4, 1388px 958px #48d8e4,
    1510px 1237px #48d8e4, 168px 1263px #48d8e4, 809px 356px #48d8e4, 661px 1290px #48d8e4, 1230px 545px #48d8e4,
    1946px 322px #48d8e4, 1755px 1277px #48d8e4, 381px 710px #48d8e4, 1500px 1808px #48d8e4, 177px 780px #48d8e4,
    1641px 248px #48d8e4, 1034px 1799px #48d8e4, 919px 133px #48d8e4, 787px 774px #48d8e4, 848px 997px #48d8e4,
    1242px 766px #48d8e4, 1349px 1966px #48d8e4, 1211px 1320px #48d8e4, 1203px 423px #48d8e4, 1555px 394px #48d8e4,
    1035px 435px #48d8e4, 1522px 316px #48d8e4, 1287px 1035px #48d8e4, 277px 228px #48d8e4, 1373px 630px #48d8e4,
    274px 1452px #48d8e4, 542px 1434px #48d8e4, 1056px 1411px #48d8e4, 1081px 477px #48d8e4, 836px 461px #48d8e4,
    1216px 1405px #48d8e4, 835px 994px #48d8e4, 1752px 1650px #48d8e4, 498px 931px #48d8e4, 493px 63px #48d8e4,
    1265px 741px #48d8e4, 1852px 828px #48d8e4, 402px 628px #48d8e4, 1583px 898px #48d8e4, 80px 1263px #48d8e4,
    1996px 1475px #48d8e4, 233px 927px #48d8e4, 588px 399px #48d8e4, 612px 1630px #48d8e4, 1936px 1750px #48d8e4,
    1972px 828px #48d8e4, 646px 1203px #48d8e4, 1755px 888px #48d8e4, 1500px 249px #48d8e4, 1853px 100px #48d8e4,
    490px 1368px #48d8e4, 1318px 970px #48d8e4, 482px 48px #48d8e4, 894px 46px #48d8e4, 1958px 88px #48d8e4,
    1329px 574px #48d8e4, 908px 1559px #48d8e4, 1888px 1111px #48d8e4, 1741px 371px #48d8e4, 173px 666px #48d8e4,
    1687px 720px #48d8e4, 1821px 307px #48d8e4, 1890px 1765px #48d8e4, 1362px 648px #48d8e4, 1263px 308px #48d8e4,
    955px 1506px #48d8e4, 1156px 1148px #48d8e4, 150px 929px #48d8e4, 550px 1617px #48d8e4, 1262px 962px #48d8e4,
    1317px 486px #48d8e4, 379px 524px #48d8e4, 1820px 1446px #48d8e4, 1905px 1486px #48d8e4, 297px 1495px #48d8e4,
    328px 1486px #48d8e4, 1653px 1232px #48d8e4, 528px 1389px #48d8e4, 1884px 1709px #48d8e4, 1781px 1231px #48d8e4,
    1378px 1060px #48d8e4, 870px 1204px #48d8e4, 215px 142px #48d8e4, 242px 326px #48d8e4, 724px 1480px #48d8e4,
    478px 244px #48d8e4, 549px 1252px #48d8e4, 599px 519px #48d8e4, 343px 416px #48d8e4, 1675px 54px #48d8e4,
    1011px 1832px #48d8e4, 1833px 1212px #48d8e4, 1526px 1691px #48d8e4, 979px 1435px #48d8e4, 1242px 797px #48d8e4,
    1549px 191px #48d8e4, 1620px 439px #48d8e4, 85px 1746px #48d8e4, 475px 1543px #48d8e4, 1733px 547px #48d8e4,
    1112px 1606px #48d8e4, 254px 1370px #48d8e4, 680px 872px #48d8e4, 1625px 979px #48d8e4, 744px 486px #48d8e4,
    1745px 1350px #48d8e4, 1430px 438px #48d8e4, 573px 1637px #48d8e4, 1370px 1940px #48d8e4, 281px 388px #48d8e4,
    871px 1072px #48d8e4, 1920px 241px #48d8e4, 1604px 788px #48d8e4, 1198px 1190px #48d8e4, 1529px 599px #48d8e4,
    616px 286px #48d8e4, 1347px 845px #48d8e4, 1903px 83px #48d8e4, 377px 1542px #48d8e4, 1906px 1527px #48d8e4,
    111px 702px #48d8e4, 1626px 274px #48d8e4, 157px 147px #48d8e4, 1576px 619px #48d8e4, 520px 518px #48d8e4,
    1521px 959px #48d8e4, 164px 115px #48d8e4, 295px 323px #48d8e4, 1154px 1467px #48d8e4, 1386px 231px #48d8e4,
    960px 1761px #48d8e4, 1556px 1378px #48d8e4, 408px 36px #48d8e4, 1747px 171px #48d8e4, 1352px 229px #48d8e4,
    725px 538px #48d8e4, 825px 1691px #48d8e4, 626px 794px #48d8e4, 625px 1504px #48d8e4, 1038px 891px #48d8e4,
    272px 1020px #48d8e4, 478px 1213px #48d8e4, 1835px 599px #48d8e4, 978px 1244px #48d8e4, 1334px 740px #48d8e4,
    383px 523px #48d8e4, 831px 1450px #48d8e4, 14px 385px #48d8e4, 1388px 251px #48d8e4, 182px 1601px #48d8e4,
    863px 1194px #48d8e4, 1585px 1750px #48d8e4, 423px 1977px #48d8e4, 1775px 1446px #48d8e4, 342px 1391px #48d8e4,
    754px 465px #48d8e4, 1177px 353px #48d8e4, 131px 1252px #48d8e4, 1953px 1970px #48d8e4, 765px 658px #48d8e4,
    1812px 522px #48d8e4;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 405px 1812px #090e17, 1797px 1894px #48d8e4, 1786px 512px #48d8e4, 991px 961px #48d8e4,
    1461px 1907px #48d8e4, 1715px 1377px #48d8e4, 332px 512px #48d8e4, 955px 1717px #48d8e4, 1993px 1682px #48d8e4,
    302px 939px #48d8e4, 2000px 737px #48d8e4, 1273px 1963px #48d8e4, 1993px 257px #48d8e4, 609px 1672px #48d8e4,
    624px 1075px #48d8e4, 275px 108px #48d8e4, 806px 1285px #48d8e4, 850px 781px #48d8e4, 527px 1462px #48d8e4,
    1950px 897px #48d8e4, 955px 803px #48d8e4, 955px 1291px #48d8e4, 1454px 1471px #48d8e4, 1182px 1818px #48d8e4,
    362px 764px #48d8e4, 358px 635px #48d8e4, 1478px 636px #48d8e4, 774px 102px #48d8e4, 1018px 1461px #48d8e4,
    1250px 1242px #48d8e4, 193px 121px #48d8e4, 1084px 87px #48d8e4, 334px 923px #48d8e4, 325px 1405px #48d8e4,
    1715px 1209px #48d8e4, 1470px 1774px #48d8e4, 1944px 1599px #48d8e4, 489px 1748px #48d8e4, 1884px 106px #48d8e4,
    1176px 1625px #48d8e4, 210px 919px #48d8e4, 1239px 1062px #48d8e4, 979px 872px #48d8e4, 1814px 615px #48d8e4,
    701px 1274px #48d8e4, 1px 1663px #48d8e4, 21px 1825px #48d8e4, 1261px 803px #48d8e4, 1078px 669px #48d8e4,
    179px 993px #48d8e4, 1399px 174px #48d8e4, 1857px 1005px #48d8e4, 1613px 657px #48d8e4, 805px 454px #48d8e4,
    1933px 56px #48d8e4, 721px 1858px #48d8e4, 957px 1060px #48d8e4, 1815px 1444px #48d8e4, 1566px 1977px #48d8e4,
    1633px 1475px #48d8e4, 796px 280px #48d8e4, 1626px 1623px #48d8e4, 70px 576px #48d8e4, 823px 1744px #48d8e4,
    620px 1892px #48d8e4, 1722px 950px #48d8e4, 1038px 1401px #48d8e4, 452px 585px #48d8e4, 1115px 77px #48d8e4,
    1976px 101px #48d8e4, 659px 1335px #48d8e4, 1129px 923px #48d8e4, 15px 186px #48d8e4, 1253px 1371px #48d8e4,
    843px 1152px #48d8e4, 715px 1456px #48d8e4, 7px 527px #48d8e4, 1561px 1798px #48d8e4, 191px 1337px #48d8e4,
    573px 1776px #48d8e4, 491px 512px #48d8e4, 943px 877px #48d8e4, 715px 217px #48d8e4, 829px 1695px #48d8e4,
    1162px 426px #48d8e4, 377px 828px #48d8e4, 1771px 1511px #48d8e4, 1913px 326px #48d8e4, 1031px 1036px #48d8e4,
    508px 338px #48d8e4, 640px 1109px #48d8e4, 1583px 1024px #48d8e4, 285px 512px #48d8e4, 513px 985px #48d8e4,
    1321px 729px #48d8e4, 421px 318px #48d8e4, 1586px 1190px #48d8e4, 92px 1057px #48d8e4, 119px 1594px #48d8e4,
    1387px 1672px #48d8e4, 1825px 1635px #48d8e4, 163px 1900px #48d8e4, 1098px 36px #48d8e4, 1171px 1860px #48d8e4,
    536px 244px #48d8e4, 1312px 1692px #48d8e4, 1270px 1409px #48d8e4, 518px 1454px #48d8e4, 483px 1636px #48d8e4,
    614px 1575px #48d8e4, 1776px 13px #48d8e4, 1777px 899px #48d8e4, 1097px 288px #48d8e4, 1194px 799px #48d8e4,
    29px 469px #48d8e4, 223px 790px #48d8e4, 1986px 1265px #48d8e4, 1364px 422px #48d8e4, 767px 1615px #48d8e4,
    1510px 1732px #48d8e4, 581px 780px #48d8e4, 1243px 169px #48d8e4, 1374px 95px #48d8e4, 410px 1367px #48d8e4,
    1494px 1571px #48d8e4, 1715px 1765px #48d8e4, 1822px 1203px #48d8e4, 1934px 453px #48d8e4, 1877px 1205px #48d8e4,
    1416px 1006px #48d8e4, 913px 594px #48d8e4, 677px 1725px #48d8e4, 12px 724px #48d8e4, 942px 538px #48d8e4,
    273px 1486px #48d8e4, 102px 1819px #48d8e4, 526px 1814px #48d8e4, 914px 1329px #48d8e4, 1941px 126px #48d8e4,
    1387px 1114px #48d8e4, 1608px 1008px #48d8e4, 788px 446px #48d8e4, 1066px 806px #48d8e4, 377px 528px #48d8e4,
    1099px 456px #48d8e4, 1604px 1906px #48d8e4, 810px 1082px #48d8e4, 328px 1682px #48d8e4, 978px 1331px #48d8e4,
    754px 360px #48d8e4, 359px 330px #48d8e4, 1392px 1194px #48d8e4, 1438px 711px #48d8e4, 515px 1260px #48d8e4,
    503px 131px #48d8e4, 1879px 1955px #48d8e4, 13px 1532px #48d8e4, 1639px 1939px #48d8e4, 1430px 1146px #48d8e4,
    259px 1286px #48d8e4, 822px 1950px #48d8e4, 1472px 416px #48d8e4, 1705px 402px #48d8e4, 657px 1864px #48d8e4,
    1525px 1558px #48d8e4, 885px 1893px #48d8e4, 462px 1173px #48d8e4, 1953px 1870px #48d8e4, 1866px 783px #48d8e4,
    50px 949px #48d8e4, 661px 1580px #48d8e4, 885px 1830px #48d8e4, 1524px 1428px #48d8e4, 850px 129px #48d8e4,
    1458px 151px #48d8e4, 1701px 1478px #48d8e4, 1555px 177px #48d8e4, 248px 1683px #48d8e4, 203px 1198px #48d8e4,
    186px 1756px #48d8e4, 920px 1450px #48d8e4, 819px 503px #48d8e4, 974px 276px #48d8e4, 1642px 1983px #48d8e4,
    54px 1001px #48d8e4, 1585px 929px #48d8e4, 1884px 1470px #48d8e4, 1613px 1245px #48d8e4, 1834px 711px #48d8e4,
    1338px 1588px #48d8e4, 102px 1572px #48d8e4, 244px 120px #48d8e4, 1679px 1025px #48d8e4, 37px 906px #48d8e4,
    1564px 1178px #48d8e4, 1129px 1191px #48d8e4, 1246px 552px #48d8e4, 512px 398px #48d8e4, 643px 1287px #48d8e4,
    475px 18px #48d8e4, 232px 305px #48d8e4, 753px 857px #48d8e4, 619px 175px #48d8e4, 1874px 743px #48d8e4,
    599px 490px #48d8e4, 80px 283px #48d8e4, 273px 99px #48d8e4, 1201px 350px #48d8e4, 915px 86px #48d8e4,
    1841px 1147px #48d8e4, 1715px 839px #48d8e4, 1784px 1276px #48d8e4, 1320px 1525px #48d8e4, 1938px 1688px #48d8e4,
    1231px 614px #48d8e4, 68px 1928px #48d8e4, 72px 919px #48d8e4, 1912px 676px #48d8e4, 1568px 417px #48d8e4,
    1784px 1569px #48d8e4, 815px 430px #48d8e4, 142px 846px #48d8e4, 35px 276px #48d8e4, 1786px 1043px #48d8e4,
    278px 1262px #48d8e4, 1789px 1593px #48d8e4, 921px 193px #48d8e4, 38px 1217px #48d8e4, 1473px 118px #48d8e4,
    1618px 1759px #48d8e4, 52px 822px #48d8e4, 872px 1327px #48d8e4, 1635px 1852px #48d8e4, 1270px 1540px #48d8e4,
    677px 530px #48d8e4, 608px 794px #48d8e4, 851px 654px #48d8e4, 1362px 1853px #48d8e4, 1735px 1858px #48d8e4,
    830px 70px #48d8e4, 173px 667px #48d8e4, 1867px 1374px #48d8e4, 1969px 17px #48d8e4, 1618px 747px #48d8e4,
    1029px 1452px #48d8e4, 236px 1896px #48d8e4, 1820px 1488px #48d8e4, 467px 477px #48d8e4, 1162px 355px #48d8e4,
    828px 878px #48d8e4, 968px 1554px #48d8e4, 80px 1639px #48d8e4, 1956px 223px #48d8e4, 783px 686px #48d8e4,
    1965px 1402px #48d8e4, 1195px 1235px #48d8e4, 540px 1729px #48d8e4, 1832px 1968px #48d8e4, 1956px 1279px #48d8e4,
    557px 313px #48d8e4, 1709px 901px #48d8e4, 9px 1483px #48d8e4, 1298px 1531px #48d8e4, 252px 1816px #48d8e4,
    1169px 289px #48d8e4, 684px 1604px #48d8e4, 1663px 759px #48d8e4, 767px 1331px #48d8e4, 1817px 315px #48d8e4,
    331px 1132px #48d8e4, 1367px 1979px #48d8e4, 1364px 570px #48d8e4, 1341px 1895px #48d8e4, 479px 1103px #48d8e4,
    1351px 1965px #48d8e4, 35px 1015px #48d8e4, 270px 159px #48d8e4, 1442px 1227px #48d8e4, 151px 434px #48d8e4,
    611px 300px #48d8e4, 1912px 1001px #48d8e4, 796px 1896px #48d8e4, 995px 1086px #48d8e4, 1511px 880px #48d8e4,
    1583px 158px #48d8e4, 493px 819px #48d8e4, 550px 1266px #48d8e4, 1808px 572px #48d8e4, 94px 233px #48d8e4,
    1310px 434px #48d8e4, 420px 105px #48d8e4, 927px 1740px #48d8e4, 406px 1174px #48d8e4, 1198px 1488px #48d8e4,
    269px 429px #48d8e4, 1551px 1563px #48d8e4, 418px 1652px #48d8e4, 22px 505px #48d8e4, 957px 208px #48d8e4,
    1712px 1247px #48d8e4, 1552px 274px #48d8e4, 805px 1368px #48d8e4, 100px 861px #48d8e4, 1508px 103px #48d8e4,
    901px 1250px #48d8e4, 743px 1973px #48d8e4, 800px 108px #48d8e4, 336px 1512px #48d8e4, 234px 1225px #48d8e4,
    640px 1706px #48d8e4, 1109px 1751px #48d8e4, 1341px 1757px #48d8e4, 775px 342px #48d8e4, 624px 438px #48d8e4,
    1155px 1443px #48d8e4, 15px 1097px #48d8e4, 1965px 1602px #48d8e4, 263px 122px #48d8e4, 1522px 1558px #48d8e4,
    1175px 1959px #48d8e4, 619px 605px #48d8e4, 473px 1705px #48d8e4, 959px 944px #48d8e4, 1392px 300px #48d8e4,
    1228px 875px #48d8e4, 1006px 1053px #48d8e4, 1898px 699px #48d8e4, 999px 624px #48d8e4, 926px 267px #48d8e4,
    12px 1815px #48d8e4, 1892px 1431px #48d8e4, 774px 1194px #48d8e4, 930px 48px #48d8e4, 1904px 1467px #48d8e4,
    1973px 1359px #48d8e4, 582px 1841px #48d8e4, 1174px 1008px #48d8e4, 1701px 420px #48d8e4, 1050px 1497px #48d8e4,
    1242px 1297px #48d8e4, 1221px 441px #48d8e4, 480px 990px #48d8e4, 1188px 1246px #48d8e4, 1376px 668px #48d8e4,
    1170px 955px #48d8e4, 906px 448px #48d8e4, 350px 627px #48d8e4, 714px 934px #48d8e4, 1036px 629px #48d8e4,
    759px 903px #48d8e4, 1959px 381px #48d8e4, 326px 918px #48d8e4, 757px 184px #48d8e4, 824px 1649px #48d8e4,
    881px 965px #48d8e4, 735px 800px #48d8e4, 1208px 950px #48d8e4, 1015px 1968px #48d8e4, 1133px 412px #48d8e4,
    971px 1495px #48d8e4, 84px 1274px #48d8e4, 1640px 63px #48d8e4, 643px 1016px #48d8e4, 1794px 1897px #48d8e4,
    945px 575px #48d8e4, 156px 1651px #48d8e4, 85px 1695px #48d8e4, 1536px 1037px #48d8e4, 1573px 11px #48d8e4,
    615px 1577px #48d8e4, 1541px 1947px #48d8e4, 805px 757px #48d8e4, 1303px 1738px #48d8e4, 372px 1502px #48d8e4,
    1313px 950px #48d8e4, 554px 1849px #48d8e4, 1543px 1129px #48d8e4, 607px 392px #48d8e4, 1873px 1524px #48d8e4,
    1222px 329px #48d8e4, 259px 853px #48d8e4, 896px 122px #48d8e4, 1937px 1170px #48d8e4, 649px 483px #48d8e4,
    1052px 1790px #48d8e4, 1725px 956px #48d8e4, 469px 1812px #48d8e4, 734px 650px #48d8e4, 169px 1085px #48d8e4,
    1760px 1538px #48d8e4, 1416px 176px #48d8e4, 766px 914px #48d8e4, 1246px 903px #48d8e4, 1256px 610px #48d8e4,
    1751px 1929px #48d8e4, 435px 1941px #48d8e4, 1866px 1057px #48d8e4, 2000px 1680px #48d8e4, 1900px 458px #48d8e4,
    1253px 388px #48d8e4, 547px 750px #48d8e4, 211px 8px #48d8e4, 683px 1990px #48d8e4, 148px 39px #48d8e4,
    501px 595px #48d8e4, 1727px 1040px #48d8e4, 148px 822px #48d8e4, 1673px 1063px #48d8e4, 1656px 1971px #48d8e4,
    199px 148px #48d8e4, 808px 1447px #48d8e4, 1912px 1642px #48d8e4, 1574px 1275px #48d8e4, 595px 1699px #48d8e4,
    763px 1527px #48d8e4, 1395px 1389px #48d8e4, 829px 791px #48d8e4, 1027px 337px #48d8e4, 573px 1853px #48d8e4,
    346px 434px #48d8e4, 134px 1008px #48d8e4, 805px 1511px #48d8e4, 344px 809px #48d8e4, 81px 265px #48d8e4,
    721px 1633px #48d8e4, 480px 1816px #48d8e4, 1130px 312px #48d8e4, 1831px 151px #48d8e4, 1498px 1744px #48d8e4,
    494px 1234px #48d8e4, 1252px 1595px #48d8e4, 806px 1350px #48d8e4, 1204px 899px #48d8e4, 266px 220px #48d8e4,
    1281px 1684px #48d8e4, 305px 1664px #48d8e4, 1451px 766px #48d8e4, 1197px 125px #48d8e4, 1399px 420px #48d8e4,
    1023px 540px #48d8e4, 1839px 957px #48d8e4, 1697px 108px #48d8e4, 1961px 1189px #48d8e4, 1931px 1721px #48d8e4,
    74px 448px #48d8e4, 920px 1707px #48d8e4, 1675px 1302px #48d8e4, 927px 48px #48d8e4, 307px 775px #48d8e4,
    572px 732px #48d8e4, 920px 1657px #48d8e4, 1512px 1293px #48d8e4, 503px 926px #48d8e4, 1423px 1205px #48d8e4,
    1101px 1095px #48d8e4, 1972px 1273px #48d8e4, 839px 520px #48d8e4, 684px 1015px #48d8e4, 167px 285px #48d8e4,
    411px 847px #48d8e4, 162px 767px #48d8e4, 1525px 809px #48d8e4, 1031px 1880px #48d8e4, 1993px 1979px #48d8e4,
    65px 450px #48d8e4, 1671px 383px #48d8e4, 1353px 1715px #48d8e4, 1911px 1887px #48d8e4, 1832px 1869px #48d8e4,
    701px 49px #48d8e4, 1577px 240px #48d8e4, 1626px 793px #48d8e4, 1496px 1990px #48d8e4, 1972px 1349px #48d8e4,
    673px 813px #48d8e4, 101px 105px #48d8e4, 1542px 516px #48d8e4, 1253px 1827px #48d8e4, 1721px 964px #48d8e4,
    1358px 894px #48d8e4, 806px 1333px #48d8e4, 829px 1561px #48d8e4, 659px 1136px #48d8e4, 1900px 1320px #48d8e4,
    925px 1592px #48d8e4, 588px 678px #48d8e4, 1857px 26px #48d8e4, 1587px 1597px #48d8e4, 810px 1706px #48d8e4,
    574px 371px #48d8e4, 980px 668px #48d8e4, 347px 571px #48d8e4, 281px 1164px #48d8e4, 1570px 1938px #48d8e4,
    1881px 768px #48d8e4, 959px 1551px #48d8e4, 1507px 1352px #48d8e4, 1213px 1871px #48d8e4, 1566px 253px #48d8e4,
    1191px 557px #48d8e4, 1662px 1093px #48d8e4, 570px 1080px #48d8e4, 655px 1306px #48d8e4, 611px 1447px #48d8e4,
    463px 986px #48d8e4, 1282px 1533px #48d8e4, 1379px 430px #48d8e4, 681px 1947px #48d8e4, 421px 1508px #48d8e4,
    862px 1542px #48d8e4, 896px 1135px #48d8e4, 1543px 643px #48d8e4, 135px 1565px #48d8e4, 1809px 1272px #48d8e4,
    1938px 1741px #48d8e4, 224px 775px #48d8e4, 783px 1992px #48d8e4, 998px 397px #48d8e4, 1803px 1472px #48d8e4,
    777px 700px #48d8e4, 728px 1387px #48d8e4, 1887px 145px #48d8e4, 199px 828px #48d8e4, 1918px 865px #48d8e4,
    336px 1870px #48d8e4, 64px 466px #48d8e4, 1099px 1181px #48d8e4, 1402px 892px #48d8e4, 1159px 1459px #48d8e4,
    1052px 792px #48d8e4, 1181px 228px #48d8e4, 1246px 318px #48d8e4, 507px 527px #48d8e4, 1546px 723px #48d8e4,
    1953px 1457px #48d8e4, 815px 468px #48d8e4, 1416px 748px #48d8e4, 71px 295px #48d8e4, 1388px 958px #48d8e4,
    1510px 1237px #48d8e4, 168px 1263px #48d8e4, 809px 356px #48d8e4, 661px 1290px #48d8e4, 1230px 545px #48d8e4,
    1946px 322px #48d8e4, 1755px 1277px #48d8e4, 381px 710px #48d8e4, 1500px 1808px #48d8e4, 177px 780px #48d8e4,
    1641px 248px #48d8e4, 1034px 1799px #48d8e4, 919px 133px #48d8e4, 787px 774px #48d8e4, 848px 997px #48d8e4,
    1242px 766px #48d8e4, 1349px 1966px #48d8e4, 1211px 1320px #48d8e4, 1203px 423px #48d8e4, 1555px 394px #48d8e4,
    1035px 435px #48d8e4, 1522px 316px #48d8e4, 1287px 1035px #48d8e4, 277px 228px #48d8e4, 1373px 630px #48d8e4,
    274px 1452px #48d8e4, 542px 1434px #48d8e4, 1056px 1411px #48d8e4, 1081px 477px #48d8e4, 836px 461px #48d8e4,
    1216px 1405px #48d8e4, 835px 994px #48d8e4, 1752px 1650px #48d8e4, 498px 931px #48d8e4, 493px 63px #48d8e4,
    1265px 741px #48d8e4, 1852px 828px #48d8e4, 402px 628px #48d8e4, 1583px 898px #48d8e4, 80px 1263px #48d8e4,
    1996px 1475px #48d8e4, 233px 927px #48d8e4, 588px 399px #48d8e4, 612px 1630px #48d8e4, 1936px 1750px #48d8e4,
    1972px 828px #48d8e4, 646px 1203px #48d8e4, 1755px 888px #48d8e4, 1500px 249px #48d8e4, 1853px 100px #48d8e4,
    490px 1368px #48d8e4, 1318px 970px #48d8e4, 482px 48px #48d8e4, 894px 46px #48d8e4, 1958px 88px #48d8e4,
    1329px 574px #48d8e4, 908px 1559px #48d8e4, 1888px 1111px #48d8e4, 1741px 371px #48d8e4, 173px 666px #48d8e4,
    1687px 720px #48d8e4, 1821px 307px #48d8e4, 1890px 1765px #48d8e4, 1362px 648px #48d8e4, 1263px 308px #48d8e4,
    955px 1506px #48d8e4, 1156px 1148px #48d8e4, 150px 929px #48d8e4, 550px 1617px #48d8e4, 1262px 962px #48d8e4,
    1317px 486px #48d8e4, 379px 524px #48d8e4, 1820px 1446px #48d8e4, 1905px 1486px #48d8e4, 297px 1495px #48d8e4,
    328px 1486px #48d8e4, 1653px 1232px #48d8e4, 528px 1389px #48d8e4, 1884px 1709px #48d8e4, 1781px 1231px #48d8e4,
    1378px 1060px #48d8e4, 870px 1204px #48d8e4, 215px 142px #48d8e4, 242px 326px #48d8e4, 724px 1480px #48d8e4,
    478px 244px #48d8e4, 549px 1252px #48d8e4, 599px 519px #48d8e4, 343px 416px #48d8e4, 1675px 54px #48d8e4,
    1011px 1832px #48d8e4, 1833px 1212px #48d8e4, 1526px 1691px #48d8e4, 979px 1435px #48d8e4, 1242px 797px #48d8e4,
    1549px 191px #48d8e4, 1620px 439px #48d8e4, 85px 1746px #48d8e4, 475px 1543px #48d8e4, 1733px 547px #48d8e4,
    1112px 1606px #48d8e4, 254px 1370px #48d8e4, 680px 872px #48d8e4, 1625px 979px #48d8e4, 744px 486px #48d8e4,
    1745px 1350px #48d8e4, 1430px 438px #48d8e4, 573px 1637px #48d8e4, 1370px 1940px #48d8e4, 281px 388px #48d8e4,
    871px 1072px #48d8e4, 1920px 241px #48d8e4, 1604px 788px #48d8e4, 1198px 1190px #48d8e4, 1529px 599px #48d8e4,
    616px 286px #48d8e4, 1347px 845px #48d8e4, 1903px 83px #48d8e4, 377px 1542px #48d8e4, 1906px 1527px #48d8e4,
    111px 702px #48d8e4, 1626px 274px #48d8e4, 157px 147px #48d8e4, 1576px 619px #48d8e4, 520px 518px #48d8e4,
    1521px 959px #48d8e4, 164px 115px #48d8e4, 295px 323px #48d8e4, 1154px 1467px #48d8e4, 1386px 231px #48d8e4,
    960px 1761px #48d8e4, 1556px 1378px #48d8e4, 408px 36px #48d8e4, 1747px 171px #48d8e4, 1352px 229px #48d8e4,
    725px 538px #48d8e4, 825px 1691px #48d8e4, 626px 794px #48d8e4, 625px 1504px #48d8e4, 1038px 891px #48d8e4,
    272px 1020px #48d8e4, 478px 1213px #48d8e4, 1835px 599px #48d8e4, 978px 1244px #48d8e4, 1334px 740px #48d8e4,
    383px 523px #48d8e4, 831px 1450px #48d8e4, 14px 385px #48d8e4, 1388px 251px #48d8e4, 182px 1601px #48d8e4,
    863px 1194px #48d8e4, 1585px 1750px #48d8e4, 423px 1977px #48d8e4, 1775px 1446px #48d8e4, 342px 1391px #48d8e4,
    754px 465px #48d8e4, 1177px 353px #48d8e4, 131px 1252px #48d8e4, 1953px 1970px #48d8e4, 765px 658px #48d8e4,
    1812px 522px #48d8e4;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 511px 1174px #090e17, 1827px 1302px #48d8e4, 984px 1884px #48d8e4, 607px 286px #48d8e4,
    1570px 824px #48d8e4, 947px 106px #48d8e4, 632px 1843px #48d8e4, 1121px 887px #48d8e4, 1337px 596px #48d8e4,
    1475px 1836px #48d8e4, 1491px 1395px #48d8e4, 1870px 1596px #48d8e4, 651px 105px #48d8e4, 1132px 1128px #48d8e4,
    612px 1093px #48d8e4, 1027px 12px #48d8e4, 1420px 1399px #48d8e4, 574px 1228px #48d8e4, 885px 718px #48d8e4,
    522px 1462px #48d8e4, 1393px 728px #48d8e4, 1533px 1264px #48d8e4, 105px 835px #48d8e4, 1458px 560px #48d8e4,
    473px 942px #48d8e4, 824px 1254px #48d8e4, 3px 904px #48d8e4, 1563px 64px #48d8e4, 1720px 1966px #48d8e4,
    1428px 1176px #48d8e4, 340px 298px #48d8e4, 663px 1958px #48d8e4, 869px 851px #48d8e4, 1190px 778px #48d8e4,
    761px 1097px #48d8e4, 367px 1331px #48d8e4, 1492px 1265px #48d8e4, 1361px 1891px #48d8e4, 1215px 722px #48d8e4,
    452px 1504px #48d8e4, 516px 1102px #48d8e4, 1202px 1963px #48d8e4, 1566px 1592px #48d8e4, 1283px 25px #48d8e4,
    1002px 1071px #48d8e4, 514px 1098px #48d8e4, 1631px 1051px #48d8e4, 1368px 90px #48d8e4, 560px 1776px #48d8e4,
    1783px 466px #48d8e4, 792px 1590px #48d8e4, 396px 36px #48d8e4, 267px 48px #48d8e4, 1904px 64px #48d8e4,
    137px 1314px #48d8e4, 1696px 471px #48d8e4, 595px 1265px #48d8e4, 1959px 797px #48d8e4, 1128px 1552px #48d8e4,
    281px 137px #48d8e4, 148px 248px #48d8e4, 1719px 408px #48d8e4, 850px 952px #48d8e4, 1724px 145px #48d8e4,
    1275px 479px #48d8e4, 1376px 310px #48d8e4, 455px 76px #48d8e4, 635px 1385px #48d8e4, 231px 462px #48d8e4,
    310px 889px #48d8e4, 553px 970px #48d8e4, 1090px 277px #48d8e4, 572px 1699px #48d8e4, 1732px 555px #48d8e4,
    1870px 1323px #48d8e4, 1584px 1863px #48d8e4, 1325px 1485px #48d8e4, 788px 826px #48d8e4, 702px 1500px #48d8e4,
    1940px 801px #48d8e4, 1402px 1792px #48d8e4, 1875px 561px #48d8e4, 78px 1039px #48d8e4, 1415px 1854px #48d8e4,
    1130px 1346px #48d8e4, 1127px 1246px #48d8e4, 1758px 1490px #48d8e4, 1492px 1133px #48d8e4, 1713px 881px #48d8e4,
    1926px 85px #48d8e4, 134px 280px #48d8e4, 349px 405px #48d8e4, 424px 201px #48d8e4, 691px 820px #48d8e4,
    1093px 358px #48d8e4, 1486px 823px #48d8e4, 406px 586px #48d8e4, 569px 1458px #48d8e4, 1906px 1015px #48d8e4,
    1413px 386px #48d8e4, 1225px 191px #48d8e4, 1350px 1774px #48d8e4, 1395px 1916px #48d8e4, 406px 897px #48d8e4,
    1431px 1446px #48d8e4, 1422px 1753px #48d8e4, 876px 391px #48d8e4, 376px 335px #48d8e4, 1696px 567px #48d8e4,
    418px 558px #48d8e4, 1573px 471px #48d8e4, 387px 748px #48d8e4, 1368px 1128px #48d8e4, 558px 1824px #48d8e4,
    1942px 907px #48d8e4, 685px 974px #48d8e4, 417px 1487px #48d8e4, 1562px 856px #48d8e4, 1481px 491px #48d8e4,
    440px 110px #48d8e4, 223px 1785px #48d8e4, 164px 183px #48d8e4, 227px 1504px #48d8e4, 432px 968px #48d8e4,
    797px 521px #48d8e4, 421px 1908px #48d8e4, 79px 1565px #48d8e4, 915px 497px #48d8e4, 241px 1845px #48d8e4,
    576px 1380px #48d8e4, 898px 381px #48d8e4, 875px 745px #48d8e4, 644px 1646px #48d8e4, 649px 1796px #48d8e4,
    787px 1173px #48d8e4, 328px 939px #48d8e4, 1913px 1344px #48d8e4, 1343px 1677px #48d8e4, 1458px 1665px #48d8e4,
    1169px 1437px #48d8e4, 1340px 1606px #48d8e4, 1745px 1484px #48d8e4, 997px 1381px #48d8e4, 189px 605px #48d8e4,
    832px 1385px #48d8e4, 1903px 234px #48d8e4, 479px 732px #48d8e4, 95px 54px #48d8e4, 1447px 1139px #48d8e4,
    513px 1856px #48d8e4, 493px 178px #48d8e4, 950px 644px #48d8e4, 433px 1334px #48d8e4, 684px 319px #48d8e4,
    37px 433px #48d8e4, 1157px 686px #48d8e4, 14px 969px #48d8e4, 304px 914px #48d8e4, 1255px 620px #48d8e4,
    553px 247px #48d8e4, 1707px 314px #48d8e4, 1718px 1557px #48d8e4, 252px 1045px #48d8e4, 459px 244px #48d8e4,
    945px 1448px #48d8e4, 1485px 1547px #48d8e4, 1960px 525px #48d8e4, 699px 1947px #48d8e4, 422px 1729px #48d8e4,
    188px 945px #48d8e4, 1492px 839px #48d8e4, 582px 611px #48d8e4, 425px 300px #48d8e4, 429px 1081px #48d8e4,
    1925px 625px #48d8e4, 1751px 52px #48d8e4, 525px 2000px #48d8e4, 92px 810px #48d8e4, 1630px 1083px #48d8e4,
    168px 1158px #48d8e4, 947px 954px #48d8e4, 928px 866px #48d8e4, 347px 1431px #48d8e4, 1327px 1629px #48d8e4,
    507px 1553px #48d8e4, 1416px 488px #48d8e4, 1539px 403px #48d8e4, 921px 255px #48d8e4, 495px 1610px #48d8e4,
    1591px 634px #48d8e4, 880px 1620px #48d8e4, 1965px 1543px #48d8e4, 62px 96px #48d8e4, 217px 1476px #48d8e4,
    191px 1181px #48d8e4, 1164px 1182px #48d8e4, 1851px 1580px #48d8e4, 1121px 470px #48d8e4, 374px 1580px #48d8e4,
    732px 1077px #48d8e4;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 511px 1174px #090e17, 1827px 1302px #48d8e4, 984px 1884px #48d8e4, 607px 286px #48d8e4,
    1570px 824px #48d8e4, 947px 106px #48d8e4, 632px 1843px #48d8e4, 1121px 887px #48d8e4, 1337px 596px #48d8e4,
    1475px 1836px #48d8e4, 1491px 1395px #48d8e4, 1870px 1596px #48d8e4, 651px 105px #48d8e4, 1132px 1128px #48d8e4,
    612px 1093px #48d8e4, 1027px 12px #48d8e4, 1420px 1399px #48d8e4, 574px 1228px #48d8e4, 885px 718px #48d8e4,
    522px 1462px #48d8e4, 1393px 728px #48d8e4, 1533px 1264px #48d8e4, 105px 835px #48d8e4, 1458px 560px #48d8e4,
    473px 942px #48d8e4, 824px 1254px #48d8e4, 3px 904px #48d8e4, 1563px 64px #48d8e4, 1720px 1966px #48d8e4,
    1428px 1176px #48d8e4, 340px 298px #48d8e4, 663px 1958px #48d8e4, 869px 851px #48d8e4, 1190px 778px #48d8e4,
    761px 1097px #48d8e4, 367px 1331px #48d8e4, 1492px 1265px #48d8e4, 1361px 1891px #48d8e4, 1215px 722px #48d8e4,
    452px 1504px #48d8e4, 516px 1102px #48d8e4, 1202px 1963px #48d8e4, 1566px 1592px #48d8e4, 1283px 25px #48d8e4,
    1002px 1071px #48d8e4, 514px 1098px #48d8e4, 1631px 1051px #48d8e4, 1368px 90px #48d8e4, 560px 1776px #48d8e4,
    1783px 466px #48d8e4, 792px 1590px #48d8e4, 396px 36px #48d8e4, 267px 48px #48d8e4, 1904px 64px #48d8e4,
    137px 1314px #48d8e4, 1696px 471px #48d8e4, 595px 1265px #48d8e4, 1959px 797px #48d8e4, 1128px 1552px #48d8e4,
    281px 137px #48d8e4, 148px 248px #48d8e4, 1719px 408px #48d8e4, 850px 952px #48d8e4, 1724px 145px #48d8e4,
    1275px 479px #48d8e4, 1376px 310px #48d8e4, 455px 76px #48d8e4, 635px 1385px #48d8e4, 231px 462px #48d8e4,
    310px 889px #48d8e4, 553px 970px #48d8e4, 1090px 277px #48d8e4, 572px 1699px #48d8e4, 1732px 555px #48d8e4,
    1870px 1323px #48d8e4, 1584px 1863px #48d8e4, 1325px 1485px #48d8e4, 788px 826px #48d8e4, 702px 1500px #48d8e4,
    1940px 801px #48d8e4, 1402px 1792px #48d8e4, 1875px 561px #48d8e4, 78px 1039px #48d8e4, 1415px 1854px #48d8e4,
    1130px 1346px #48d8e4, 1127px 1246px #48d8e4, 1758px 1490px #48d8e4, 1492px 1133px #48d8e4, 1713px 881px #48d8e4,
    1926px 85px #48d8e4, 134px 280px #48d8e4, 349px 405px #48d8e4, 424px 201px #48d8e4, 691px 820px #48d8e4,
    1093px 358px #48d8e4, 1486px 823px #48d8e4, 406px 586px #48d8e4, 569px 1458px #48d8e4, 1906px 1015px #48d8e4,
    1413px 386px #48d8e4, 1225px 191px #48d8e4, 1350px 1774px #48d8e4, 1395px 1916px #48d8e4, 406px 897px #48d8e4,
    1431px 1446px #48d8e4, 1422px 1753px #48d8e4, 876px 391px #48d8e4, 376px 335px #48d8e4, 1696px 567px #48d8e4,
    418px 558px #48d8e4, 1573px 471px #48d8e4, 387px 748px #48d8e4, 1368px 1128px #48d8e4, 558px 1824px #48d8e4,
    1942px 907px #48d8e4, 685px 974px #48d8e4, 417px 1487px #48d8e4, 1562px 856px #48d8e4, 1481px 491px #48d8e4,
    440px 110px #48d8e4, 223px 1785px #48d8e4, 164px 183px #48d8e4, 227px 1504px #48d8e4, 432px 968px #48d8e4,
    797px 521px #48d8e4, 421px 1908px #48d8e4, 79px 1565px #48d8e4, 915px 497px #48d8e4, 241px 1845px #48d8e4,
    576px 1380px #48d8e4, 898px 381px #48d8e4, 875px 745px #48d8e4, 644px 1646px #48d8e4, 649px 1796px #48d8e4,
    787px 1173px #48d8e4, 328px 939px #48d8e4, 1913px 1344px #48d8e4, 1343px 1677px #48d8e4, 1458px 1665px #48d8e4,
    1169px 1437px #48d8e4, 1340px 1606px #48d8e4, 1745px 1484px #48d8e4, 997px 1381px #48d8e4, 189px 605px #48d8e4,
    832px 1385px #48d8e4, 1903px 234px #48d8e4, 479px 732px #48d8e4, 95px 54px #48d8e4, 1447px 1139px #48d8e4,
    513px 1856px #48d8e4, 493px 178px #48d8e4, 950px 644px #48d8e4, 433px 1334px #48d8e4, 684px 319px #48d8e4,
    37px 433px #48d8e4, 1157px 686px #48d8e4, 14px 969px #48d8e4, 304px 914px #48d8e4, 1255px 620px #48d8e4,
    553px 247px #48d8e4, 1707px 314px #48d8e4, 1718px 1557px #48d8e4, 252px 1045px #48d8e4, 459px 244px #48d8e4,
    945px 1448px #48d8e4, 1485px 1547px #48d8e4, 1960px 525px #48d8e4, 699px 1947px #48d8e4, 422px 1729px #48d8e4,
    188px 945px #48d8e4, 1492px 839px #48d8e4, 582px 611px #48d8e4, 425px 300px #48d8e4, 429px 1081px #48d8e4,
    1925px 625px #48d8e4, 1751px 52px #48d8e4, 525px 2000px #48d8e4, 92px 810px #48d8e4, 1630px 1083px #48d8e4,
    168px 1158px #48d8e4, 947px 954px #48d8e4, 928px 866px #48d8e4, 347px 1431px #48d8e4, 1327px 1629px #48d8e4,
    507px 1553px #48d8e4, 1416px 488px #48d8e4, 1539px 403px #48d8e4, 921px 255px #48d8e4, 495px 1610px #48d8e4,
    1591px 634px #48d8e4, 880px 1620px #48d8e4, 1965px 1543px #48d8e4, 62px 96px #48d8e4, 217px 1476px #48d8e4,
    191px 1181px #48d8e4, 1164px 1182px #48d8e4, 1851px 1580px #48d8e4, 1121px 470px #48d8e4, 374px 1580px #48d8e4,
    732px 1077px #48d8e4;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 783px 1342px #090e17, 701px 877px #48d8e4, 1494px 1224px #48d8e4, 34px 1366px #48d8e4,
    1468px 259px #48d8e4, 1110px 1386px #48d8e4, 695px 1458px #48d8e4, 1473px 199px #48d8e4, 144px 1703px #48d8e4,
    1702px 1676px #48d8e4, 1668px 1154px #48d8e4, 357px 803px #48d8e4, 858px 650px #48d8e4, 9px 1098px #48d8e4,
    1423px 1964px #48d8e4, 366px 1868px #48d8e4, 1451px 816px #48d8e4, 242px 1208px #48d8e4, 1471px 1513px #48d8e4,
    1542px 790px #48d8e4, 1309px 1722px #48d8e4, 651px 960px #48d8e4, 1754px 849px #48d8e4, 264px 1635px #48d8e4,
    520px 1882px #48d8e4, 1429px 1042px #48d8e4, 1781px 755px #48d8e4, 1272px 257px #48d8e4, 956px 92px #48d8e4,
    305px 1418px #48d8e4, 1474px 1625px #48d8e4, 1579px 519px #48d8e4, 1210px 1166px #48d8e4, 1859px 847px #48d8e4,
    1404px 239px #48d8e4, 1309px 1350px #48d8e4, 479px 1692px #48d8e4, 646px 1371px #48d8e4, 851px 1566px #48d8e4,
    1379px 183px #48d8e4, 1644px 475px #48d8e4, 59px 1420px #48d8e4, 529px 33px #48d8e4, 634px 1893px #48d8e4,
    827px 346px #48d8e4, 353px 1823px #48d8e4, 1099px 868px #48d8e4, 81px 1820px #48d8e4, 52px 1165px #48d8e4,
    378px 644px #48d8e4, 142px 1875px #48d8e4, 703px 1117px #48d8e4, 336px 1758px #48d8e4, 946px 737px #48d8e4,
    782px 1734px #48d8e4, 777px 1938px #48d8e4, 383px 449px #48d8e4, 1843px 1591px #48d8e4, 774px 573px #48d8e4,
    157px 1231px #48d8e4, 169px 875px #48d8e4, 760px 320px #48d8e4, 928px 50px #48d8e4, 1706px 172px #48d8e4,
    1466px 1405px #48d8e4, 729px 567px #48d8e4, 1815px 81px #48d8e4, 568px 1579px #48d8e4, 1086px 266px #48d8e4,
    1372px 394px #48d8e4, 343px 1030px #48d8e4, 1690px 737px #48d8e4, 631px 1043px #48d8e4, 413px 1404px #48d8e4,
    626px 360px #48d8e4, 1504px 209px #48d8e4, 122px 1155px #48d8e4, 693px 465px #48d8e4, 666px 1897px #48d8e4,
    1803px 541px #48d8e4, 1367px 1207px #48d8e4, 7px 102px #48d8e4, 1744px 1699px #48d8e4, 1454px 514px #48d8e4,
    17px 383px #48d8e4, 1246px 945px #48d8e4, 1358px 1507px #48d8e4, 532px 1005px #48d8e4, 1760px 1544px #48d8e4,
    650px 1040px #48d8e4, 806px 1287px #48d8e4, 1139px 212px #48d8e4, 1488px 661px #48d8e4, 1657px 1737px #48d8e4,
    266px 1396px #48d8e4, 930px 1660px #48d8e4, 1794px 1975px #48d8e4, 1554px 1130px #48d8e4, 607px 1110px #48d8e4,
    728px 744px #48d8e4;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 783px 1342px #090e17, 701px 877px #48d8e4, 1494px 1224px #48d8e4, 34px 1366px #48d8e4,
    1468px 259px #48d8e4, 1110px 1386px #48d8e4, 695px 1458px #48d8e4, 1473px 199px #48d8e4, 144px 1703px #48d8e4,
    1702px 1676px #48d8e4, 1668px 1154px #48d8e4, 357px 803px #48d8e4, 858px 650px #48d8e4, 9px 1098px #48d8e4,
    1423px 1964px #48d8e4, 366px 1868px #48d8e4, 1451px 816px #48d8e4, 242px 1208px #48d8e4, 1471px 1513px #48d8e4,
    1542px 790px #48d8e4, 1309px 1722px #48d8e4, 651px 960px #48d8e4, 1754px 849px #48d8e4, 264px 1635px #48d8e4,
    520px 1882px #48d8e4, 1429px 1042px #48d8e4, 1781px 755px #48d8e4, 1272px 257px #48d8e4, 956px 92px #48d8e4,
    305px 1418px #48d8e4, 1474px 1625px #48d8e4, 1579px 519px #48d8e4, 1210px 1166px #48d8e4, 1859px 847px #48d8e4,
    1404px 239px #48d8e4, 1309px 1350px #48d8e4, 479px 1692px #48d8e4, 646px 1371px #48d8e4, 851px 1566px #48d8e4,
    1379px 183px #48d8e4, 1644px 475px #48d8e4, 59px 1420px #48d8e4, 529px 33px #48d8e4, 634px 1893px #48d8e4,
    827px 346px #48d8e4, 353px 1823px #48d8e4, 1099px 868px #48d8e4, 81px 1820px #48d8e4, 52px 1165px #48d8e4,
    378px 644px #48d8e4, 142px 1875px #48d8e4, 703px 1117px #48d8e4, 336px 1758px #48d8e4, 946px 737px #48d8e4,
    782px 1734px #48d8e4, 777px 1938px #48d8e4, 383px 449px #48d8e4, 1843px 1591px #48d8e4, 774px 573px #48d8e4,
    157px 1231px #48d8e4, 169px 875px #48d8e4, 760px 320px #48d8e4, 928px 50px #48d8e4, 1706px 172px #48d8e4,
    1466px 1405px #48d8e4, 729px 567px #48d8e4, 1815px 81px #48d8e4, 568px 1579px #48d8e4, 1086px 266px #48d8e4,
    1372px 394px #48d8e4, 343px 1030px #48d8e4, 1690px 737px #48d8e4, 631px 1043px #48d8e4, 413px 1404px #48d8e4,
    626px 360px #48d8e4, 1504px 209px #48d8e4, 122px 1155px #48d8e4, 693px 465px #48d8e4, 666px 1897px #48d8e4,
    1803px 541px #48d8e4, 1367px 1207px #48d8e4, 7px 102px #48d8e4, 1744px 1699px #48d8e4, 1454px 514px #48d8e4,
    17px 383px #48d8e4, 1246px 945px #48d8e4, 1358px 1507px #48d8e4, 532px 1005px #48d8e4, 1760px 1544px #48d8e4,
    650px 1040px #48d8e4, 806px 1287px #48d8e4, 1139px 212px #48d8e4, 1488px 661px #48d8e4, 1657px 1737px #48d8e4,
    266px 1396px #48d8e4, 930px 1660px #48d8e4, 1794px 1975px #48d8e4, 1554px 1130px #48d8e4, 607px 1110px #48d8e4,
    728px 744px #48d8e4;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
