html {
  background: radial-gradient(ellipse at bottom, #0f1b25 0%, #0c121c 100%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1001px 116px #090e17, 1577px 1566px #48d8e4, 1130px 1218px #48d8e4, 1102px 404px #48d8e4,
    1249px 822px #48d8e4, 946px 578px #48d8e4, 590px 1371px #48d8e4, 234px 1684px #48d8e4, 948px 1509px #48d8e4,
    488px 547px #48d8e4, 351px 106px #48d8e4, 438px 480px #48d8e4, 924px 1700px #48d8e4, 356px 228px #48d8e4,
    108px 677px #48d8e4, 311px 314px #48d8e4, 1359px 1389px #48d8e4, 149px 217px #48d8e4, 1148px 878px #48d8e4,
    783px 174px #48d8e4, 934px 1618px #48d8e4, 267px 1621px #48d8e4, 723px 1631px #48d8e4, 1344px 1356px #48d8e4,
    570px 865px #48d8e4, 658px 66px #48d8e4, 193px 968px #48d8e4, 707px 924px #48d8e4, 1517px 1342px #48d8e4,
    316px 346px #48d8e4, 1561px 1233px #48d8e4, 377px 846px #48d8e4, 434px 21px #48d8e4, 1530px 1211px #48d8e4,
    1148px 974px #48d8e4, 857px 1289px #48d8e4, 889px 1016px #48d8e4, 29px 1247px #48d8e4, 866px 370px #48d8e4,
    698px 1091px #48d8e4, 622px 182px #48d8e4, 1629px 1006px #48d8e4, 554px 1242px #48d8e4, 256px 1376px #48d8e4,
    442px 1203px #48d8e4, 1658px 143px #48d8e4, 519px 1631px #48d8e4, 1324px 1015px #48d8e4, 757px 248px #48d8e4,
    1059px 1260px #48d8e4, 1552px 1568px #48d8e4, 567px 181px #48d8e4, 1px 1195px #48d8e4, 385px 870px #48d8e4,
    1410px 1069px #48d8e4, 158px 877px #48d8e4, 215px 374px #48d8e4, 474px 1613px #48d8e4, 525px 581px #48d8e4,
    1494px 737px #48d8e4, 712px 675px #48d8e4, 85px 80px #48d8e4, 280px 1088px #48d8e4, 477px 786px #48d8e4,
    541px 102px #48d8e4, 231px 1242px #48d8e4, 1174px 483px #48d8e4, 1611px 652px #48d8e4, 1124px 936px #48d8e4,
    1417px 22px #48d8e4, 1361px 420px #48d8e4, 486px 855px #48d8e4, 65px 1365px #48d8e4, 848px 146px #48d8e4,
    90px 705px #48d8e4, 1319px 769px #48d8e4, 86px 1240px #48d8e4, 419px 1061px #48d8e4, 1078px 633px #48d8e4,
    533px 1065px #48d8e4, 1623px 291px #48d8e4, 937px 1271px #48d8e4, 1294px 112px #48d8e4, 25px 932px #48d8e4,
    962px 569px #48d8e4, 660px 320px #48d8e4, 1286px 720px #48d8e4, 1460px 938px #48d8e4, 120px 1431px #48d8e4,
    23px 853px #48d8e4, 642px 1600px #48d8e4, 1204px 890px #48d8e4, 748px 606px #48d8e4, 589px 1044px #48d8e4,
    1128px 56px #48d8e4, 1004px 712px #48d8e4, 240px 1568px #48d8e4, 66px 1429px #48d8e4, 1327px 1444px #48d8e4,
    311px 1122px #48d8e4, 1663px 969px #48d8e4, 230px 1001px #48d8e4, 1109px 1411px #48d8e4, 1487px 1273px #48d8e4,
    1500px 994px #48d8e4, 477px 1501px #48d8e4, 9px 392px #48d8e4, 940px 457px #48d8e4, 564px 348px #48d8e4,
    141px 608px #48d8e4, 1581px 1356px #48d8e4, 245px 1192px #48d8e4, 1067px 1207px #48d8e4, 1229px 1589px #48d8e4,
    881px 657px #48d8e4, 965px 672px #48d8e4, 335px 555px #48d8e4, 579px 931px #48d8e4, 1683px 227px #48d8e4,
    781px 1321px #48d8e4, 1475px 1472px #48d8e4, 1578px 1708px #48d8e4, 1687px 107px #48d8e4, 1199px 774px #48d8e4,
    1079px 82px #48d8e4, 23px 763px #48d8e4, 330px 571px #48d8e4, 907px 1641px #48d8e4, 365px 1294px #48d8e4,
    528px 356px #48d8e4, 724px 1031px #48d8e4, 545px 937px #48d8e4, 487px 115px #48d8e4, 291px 495px #48d8e4,
    167px 240px #48d8e4, 828px 1540px #48d8e4, 713px 533px #48d8e4, 1098px 509px #48d8e4, 1336px 1206px #48d8e4,
    618px 1591px #48d8e4, 1654px 632px #48d8e4, 1648px 1181px #48d8e4, 167px 1511px #48d8e4, 297px 1001px #48d8e4,
    222px 692px #48d8e4, 1456px 517px #48d8e4, 877px 560px #48d8e4, 74px 1662px #48d8e4, 419px 1203px #48d8e4,
    64px 199px #48d8e4, 1235px 961px #48d8e4, 536px 993px #48d8e4, 1685px 940px #48d8e4, 1466px 881px #48d8e4,
    1078px 946px #48d8e4, 157px 1270px #48d8e4, 467px 1578px #48d8e4, 372px 513px #48d8e4, 1247px 128px #48d8e4,
    473px 172px #48d8e4, 1489px 751px #48d8e4, 154px 749px #48d8e4, 1514px 940px #48d8e4, 1363px 625px #48d8e4,
    838px 1595px #48d8e4, 423px 292px #48d8e4, 351px 1213px #48d8e4, 1088px 1387px #48d8e4, 656px 1460px #48d8e4,
    1001px 851px #48d8e4, 1437px 409px #48d8e4, 716px 246px #48d8e4, 198px 970px #48d8e4, 637px 407px #48d8e4,
    420px 1294px #48d8e4, 1638px 1px #48d8e4, 1453px 257px #48d8e4, 1202px 1242px #48d8e4, 149px 1020px #48d8e4,
    213px 1151px #48d8e4, 1174px 271px #48d8e4, 323px 804px #48d8e4, 604px 1382px #48d8e4, 939px 1692px #48d8e4,
    511px 56px #48d8e4, 1123px 639px #48d8e4, 961px 184px #48d8e4, 1436px 652px #48d8e4, 783px 1544px #48d8e4,
    1090px 329px #48d8e4, 1103px 1678px #48d8e4, 117px 524px #48d8e4, 866px 1072px #48d8e4, 265px 957px #48d8e4,
    801px 357px #48d8e4, 390px 1334px #48d8e4, 869px 1223px #48d8e4, 1627px 1094px #48d8e4, 1205px 197px #48d8e4,
    3px 324px #48d8e4, 246px 1282px #48d8e4, 391px 874px #48d8e4, 1665px 171px #48d8e4, 210px 1701px #48d8e4,
    1208px 1587px #48d8e4, 1273px 561px #48d8e4, 846px 950px #48d8e4, 1598px 305px #48d8e4, 139px 1136px #48d8e4,
    139px 995px #48d8e4, 971px 580px #48d8e4, 389px 218px #48d8e4, 1610px 521px #48d8e4, 1168px 1230px #48d8e4,
    718px 142px #48d8e4, 944px 1522px #48d8e4, 914px 972px #48d8e4, 452px 1326px #48d8e4, 1208px 626px #48d8e4,
    812px 1610px #48d8e4, 340px 717px #48d8e4, 191px 1582px #48d8e4, 1706px 1321px #48d8e4, 415px 603px #48d8e4,
    792px 1480px #48d8e4, 334px 833px #48d8e4, 1017px 506px #48d8e4, 777px 881px #48d8e4, 623px 962px #48d8e4,
    785px 1359px #48d8e4, 1394px 1418px #48d8e4, 1317px 432px #48d8e4, 1460px 812px #48d8e4, 322px 1054px #48d8e4,
    1610px 820px #48d8e4, 1526px 992px #48d8e4, 31px 1294px #48d8e4, 888px 1154px #48d8e4, 762px 1443px #48d8e4,
    1272px 286px #48d8e4, 177px 424px #48d8e4, 1663px 1621px #48d8e4, 1653px 1210px #48d8e4, 657px 355px #48d8e4,
    1596px 524px #48d8e4, 657px 1623px #48d8e4, 368px 837px #48d8e4, 878px 898px #48d8e4, 1040px 230px #48d8e4,
    666px 321px #48d8e4, 1531px 375px #48d8e4, 314px 532px #48d8e4, 303px 117px #48d8e4, 1494px 94px #48d8e4,
    1560px 302px #48d8e4, 567px 173px #48d8e4, 1577px 1347px #48d8e4, 1499px 677px #48d8e4, 959px 17px #48d8e4,
    997px 1460px #48d8e4, 1207px 1419px #48d8e4, 1375px 684px #48d8e4, 1223px 1567px #48d8e4, 942px 356px #48d8e4,
    585px 1622px #48d8e4, 1191px 248px #48d8e4, 1532px 9px #48d8e4, 644px 136px #48d8e4, 500px 1344px #48d8e4,
    923px 709px #48d8e4, 1656px 1568px #48d8e4, 656px 418px #48d8e4, 776px 615px #48d8e4, 759px 640px #48d8e4,
    1060px 1381px #48d8e4, 1514px 1442px #48d8e4, 477px 812px #48d8e4, 386px 103px #48d8e4, 680px 1396px #48d8e4,
    1279px 1486px #48d8e4, 810px 1247px #48d8e4, 146px 1312px #48d8e4, 510px 1349px #48d8e4, 340px 1369px #48d8e4,
    1582px 897px #48d8e4, 1535px 1155px #48d8e4, 32px 126px #48d8e4, 127px 654px #48d8e4, 226px 1038px #48d8e4,
    21px 1561px #48d8e4, 1541px 919px #48d8e4, 1459px 101px #48d8e4, 182px 397px #48d8e4, 1304px 69px #48d8e4,
    1006px 1437px #48d8e4, 1130px 1224px #48d8e4, 1400px 1098px #48d8e4, 357px 1308px #48d8e4, 1277px 394px #48d8e4,
    779px 313px #48d8e4, 1143px 1440px #48d8e4, 712px 1480px #48d8e4, 825px 1390px #48d8e4, 1510px 1320px #48d8e4,
    850px 1373px #48d8e4, 1069px 1609px #48d8e4, 617px 305px #48d8e4, 653px 933px #48d8e4, 1353px 613px #48d8e4,
    620px 800px #48d8e4, 381px 1052px #48d8e4, 1550px 583px #48d8e4, 879px 826px #48d8e4, 855px 1006px #48d8e4,
    48px 603px #48d8e4, 644px 1111px #48d8e4, 1038px 560px #48d8e4, 164px 685px #48d8e4, 1186px 13px #48d8e4,
    1195px 480px #48d8e4, 1625px 140px #48d8e4, 1532px 1216px #48d8e4, 735px 15px #48d8e4, 434px 488px #48d8e4,
    1665px 169px #48d8e4, 276px 421px #48d8e4, 1106px 917px #48d8e4, 678px 1213px #48d8e4, 1394px 1058px #48d8e4,
    1354px 1256px #48d8e4, 572px 1532px #48d8e4, 1305px 98px #48d8e4, 346px 1578px #48d8e4, 393px 905px #48d8e4,
    768px 927px #48d8e4, 829px 405px #48d8e4, 1692px 957px #48d8e4, 917px 1650px #48d8e4, 1495px 281px #48d8e4,
    637px 637px #48d8e4, 1199px 155px #48d8e4, 967px 1145px #48d8e4, 998px 341px #48d8e4, 803px 881px #48d8e4,
    295px 1318px #48d8e4, 1210px 829px #48d8e4, 1702px 716px #48d8e4, 1464px 1059px #48d8e4, 114px 761px #48d8e4,
    143px 1515px #48d8e4, 1058px 772px #48d8e4, 796px 621px #48d8e4, 1593px 471px #48d8e4, 1243px 1408px #48d8e4,
    627px 67px #48d8e4, 1157px 1084px #48d8e4, 1023px 1091px #48d8e4, 1703px 1713px #48d8e4, 222px 87px #48d8e4,
    565px 1222px #48d8e4, 472px 925px #48d8e4, 1314px 551px #48d8e4, 1223px 573px #48d8e4, 446px 778px #48d8e4,
    622px 262px #48d8e4, 340px 1667px #48d8e4, 117px 378px #48d8e4, 821px 300px #48d8e4, 730px 910px #48d8e4,
    201px 303px #48d8e4, 811px 1497px #48d8e4, 244px 692px #48d8e4, 1059px 467px #48d8e4, 791px 309px #48d8e4,
    927px 1357px #48d8e4, 1594px 510px #48d8e4, 1092px 706px #48d8e4, 689px 486px #48d8e4, 1542px 93px #48d8e4,
    565px 1308px #48d8e4, 1679px 933px #48d8e4, 253px 1259px #48d8e4, 634px 680px #48d8e4, 1533px 277px #48d8e4,
    491px 721px #48d8e4, 402px 1286px #48d8e4, 580px 1198px #48d8e4, 650px 1219px #48d8e4, 1539px 1518px #48d8e4,
    789px 1571px #48d8e4, 685px 68px #48d8e4, 995px 1164px #48d8e4, 1522px 1360px #48d8e4, 1081px 19px #48d8e4,
    407px 1602px #48d8e4, 457px 162px #48d8e4, 1231px 1067px #48d8e4, 1412px 1415px #48d8e4, 475px 645px #48d8e4,
    878px 1657px #48d8e4, 206px 1686px #48d8e4, 1440px 1343px #48d8e4, 237px 1098px #48d8e4, 779px 330px #48d8e4,
    1118px 1366px #48d8e4, 341px 1431px #48d8e4, 1449px 1484px #48d8e4, 1120px 592px #48d8e4, 1032px 81px #48d8e4,
    306px 950px #48d8e4, 1609px 851px #48d8e4, 142px 1364px #48d8e4, 1433px 756px #48d8e4, 200px 1018px #48d8e4,
    1102px 348px #48d8e4, 942px 1105px #48d8e4, 1525px 358px #48d8e4, 935px 1626px #48d8e4, 703px 1407px #48d8e4,
    1212px 940px #48d8e4, 199px 257px #48d8e4, 517px 1195px #48d8e4, 1345px 184px #48d8e4, 118px 1487px #48d8e4,
    1616px 1330px #48d8e4, 707px 997px #48d8e4, 198px 1038px #48d8e4, 185px 1003px #48d8e4, 167px 375px #48d8e4,
    633px 389px #48d8e4, 532px 1273px #48d8e4, 1479px 1542px #48d8e4, 105px 717px #48d8e4, 1599px 5px #48d8e4,
    1150px 1593px #48d8e4, 408px 911px #48d8e4, 988px 1655px #48d8e4, 930px 726px #48d8e4, 593px 1162px #48d8e4,
    1597px 967px #48d8e4, 394px 1666px #48d8e4, 1325px 454px #48d8e4, 71px 138px #48d8e4, 1534px 824px #48d8e4,
    786px 1715px #48d8e4, 607px 1426px #48d8e4, 319px 1362px #48d8e4, 1599px 222px #48d8e4, 1383px 485px #48d8e4,
    256px 679px #48d8e4, 1557px 775px #48d8e4, 730px 842px #48d8e4, 1258px 1196px #48d8e4, 1133px 68px #48d8e4,
    1349px 964px #48d8e4, 156px 745px #48d8e4, 1626px 989px #48d8e4, 1232px 987px #48d8e4, 154px 971px #48d8e4,
    379px 212px #48d8e4, 1270px 874px #48d8e4, 378px 846px #48d8e4, 318px 102px #48d8e4, 215px 1694px #48d8e4,
    731px 1167px #48d8e4, 307px 1598px #48d8e4, 891px 348px #48d8e4, 1484px 477px #48d8e4, 179px 490px #48d8e4,
    116px 1112px #48d8e4, 12px 665px #48d8e4, 492px 1398px #48d8e4, 902px 31px #48d8e4, 1227px 1272px #48d8e4,
    1061px 272px #48d8e4, 713px 1118px #48d8e4, 9px 1071px #48d8e4, 243px 958px #48d8e4, 553px 1140px #48d8e4,
    310px 217px #48d8e4, 1330px 1244px #48d8e4, 1423px 1590px #48d8e4, 767px 1330px #48d8e4, 579px 711px #48d8e4,
    1155px 237px #48d8e4, 1579px 1228px #48d8e4, 866px 146px #48d8e4, 309px 402px #48d8e4, 1634px 426px #48d8e4,
    1020px 1518px #48d8e4, 146px 1441px #48d8e4, 970px 49px #48d8e4, 1205px 242px #48d8e4, 15px 1318px #48d8e4,
    1006px 1324px #48d8e4, 1310px 1185px #48d8e4, 720px 1115px #48d8e4, 1445px 509px #48d8e4, 113px 1207px #48d8e4,
    508px 1388px #48d8e4, 516px 1103px #48d8e4, 100px 1516px #48d8e4, 581px 446px #48d8e4, 706px 577px #48d8e4,
    244px 1475px #48d8e4, 259px 917px #48d8e4, 1209px 78px #48d8e4, 1201px 738px #48d8e4, 730px 1530px #48d8e4,
    1325px 1166px #48d8e4, 1139px 1007px #48d8e4, 513px 1183px #48d8e4, 1362px 117px #48d8e4, 592px 1536px #48d8e4,
    1px 1367px #48d8e4, 693px 1434px #48d8e4, 883px 386px #48d8e4, 1408px 444px #48d8e4, 156px 1005px #48d8e4,
    289px 664px #48d8e4, 530px 662px #48d8e4, 418px 1342px #48d8e4, 326px 258px #48d8e4, 1417px 592px #48d8e4,
    1325px 30px #48d8e4, 1678px 1473px #48d8e4, 916px 41px #48d8e4, 1039px 1685px #48d8e4, 865px 428px #48d8e4,
    1520px 1108px #48d8e4, 608px 340px #48d8e4, 1450px 7px #48d8e4, 1248px 212px #48d8e4, 458px 164px #48d8e4,
    852px 1394px #48d8e4, 1548px 1288px #48d8e4, 618px 831px #48d8e4, 662px 944px #48d8e4, 1112px 987px #48d8e4,
    968px 1564px #48d8e4, 1326px 645px #48d8e4, 699px 1116px #48d8e4, 1704px 1608px #48d8e4, 849px 1457px #48d8e4,
    123px 1275px #48d8e4, 61px 828px #48d8e4, 466px 51px #48d8e4, 243px 152px #48d8e4, 1491px 836px #48d8e4,
    3px 314px #48d8e4, 733px 743px #48d8e4, 747px 280px #48d8e4, 1370px 707px #48d8e4, 1595px 802px #48d8e4,
    65px 1467px #48d8e4, 979px 1514px #48d8e4, 967px 202px #48d8e4, 1527px 470px #48d8e4, 868px 379px #48d8e4,
    1600px 372px #48d8e4, 1627px 142px #48d8e4, 1025px 1651px #48d8e4, 1665px 1138px #48d8e4, 452px 783px #48d8e4,
    1062px 1499px #48d8e4, 1512px 1547px #48d8e4, 908px 1456px #48d8e4, 1253px 52px #48d8e4, 1338px 1384px #48d8e4,
    1369px 1367px #48d8e4, 1069px 1325px #48d8e4, 1689px 719px #48d8e4, 1616px 1488px #48d8e4, 1332px 1270px #48d8e4,
    1616px 197px #48d8e4, 729px 1304px #48d8e4, 1477px 171px #48d8e4, 1553px 1417px #48d8e4, 623px 274px #48d8e4,
    29px 1190px #48d8e4, 1462px 1177px #48d8e4, 806px 1514px #48d8e4, 1078px 1259px #48d8e4, 971px 1260px #48d8e4,
    10px 1252px #48d8e4, 879px 320px #48d8e4, 592px 1226px #48d8e4, 937px 462px #48d8e4, 880px 1526px #48d8e4,
    729px 1426px #48d8e4, 1405px 500px #48d8e4, 709px 1350px #48d8e4, 267px 1444px #48d8e4, 346px 1010px #48d8e4,
    1554px 1491px #48d8e4, 1111px 1608px #48d8e4, 256px 824px #48d8e4, 712px 320px #48d8e4, 710px 1508px #48d8e4,
    1639px 888px #48d8e4, 766px 464px #48d8e4, 938px 420px #48d8e4, 991px 571px #48d8e4, 973px 586px #48d8e4,
    1191px 202px #48d8e4, 1220px 736px #48d8e4, 912px 1662px #48d8e4, 137px 1340px #48d8e4, 451px 498px #48d8e4,
    135px 690px #48d8e4, 1679px 1537px #48d8e4, 1230px 1388px #48d8e4, 237px 1212px #48d8e4, 218px 1312px #48d8e4,
    1654px 1589px #48d8e4, 499px 750px #48d8e4, 240px 701px #48d8e4, 745px 495px #48d8e4, 1544px 773px #48d8e4,
    1056px 780px #48d8e4, 1566px 101px #48d8e4, 1223px 1249px #48d8e4, 1424px 1691px #48d8e4, 235px 1225px #48d8e4,
    188px 308px #48d8e4, 1555px 1420px #48d8e4, 570px 70px #48d8e4, 200px 1629px #48d8e4, 1669px 1232px #48d8e4,
    927px 1146px #48d8e4, 1134px 125px #48d8e4, 932px 881px #48d8e4, 1172px 818px #48d8e4, 943px 639px #48d8e4,
    1234px 1321px #48d8e4, 363px 187px #48d8e4, 637px 435px #48d8e4, 1150px 214px #48d8e4, 644px 629px #48d8e4,
    1557px 1543px #48d8e4, 1363px 500px #48d8e4, 1325px 1595px #48d8e4, 218px 1316px #48d8e4, 639px 1532px #48d8e4,
    1107px 7px #48d8e4, 959px 547px #48d8e4, 1585px 1317px #48d8e4, 131px 183px #48d8e4, 506px 1156px #48d8e4,
    32px 824px #48d8e4, 96px 669px #48d8e4, 1485px 1255px #48d8e4, 1499px 246px #48d8e4, 336px 1654px #48d8e4,
    1416px 1127px #48d8e4, 1370px 686px #48d8e4, 386px 566px #48d8e4, 989px 1499px #48d8e4, 1355px 1310px #48d8e4,
    381px 927px #48d8e4, 89px 1124px #48d8e4, 636px 1533px #48d8e4, 55px 386px #48d8e4, 266px 1318px #48d8e4,
    261px 21px #48d8e4, 237px 1323px #48d8e4, 422px 317px #48d8e4, 353px 993px #48d8e4, 1552px 730px #48d8e4,
    242px 901px #48d8e4, 1715px 1010px #48d8e4, 1305px 256px #48d8e4, 622px 1600px #48d8e4, 821px 825px #48d8e4,
    5px 1177px #48d8e4, 122px 1438px #48d8e4, 1285px 1430px #48d8e4, 943px 280px #48d8e4, 726px 304px #48d8e4,
    838px 1205px #48d8e4, 167px 668px #48d8e4, 162px 543px #48d8e4, 913px 55px #48d8e4, 1018px 43px #48d8e4,
    809px 316px #48d8e4, 1589px 696px #48d8e4, 1652px 678px #48d8e4, 558px 1113px #48d8e4, 811px 1013px #48d8e4,
    374px 483px #48d8e4, 524px 300px #48d8e4, 100px 999px #48d8e4, 703px 924px #48d8e4, 438px 1189px #48d8e4,
    1192px 1294px #48d8e4, 892px 478px #48d8e4, 1468px 1695px #48d8e4, 1322px 1695px #48d8e4, 340px 1601px #48d8e4,
    97px 1413px #48d8e4;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 1715px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1001px 116px #090e17, 1577px 1566px #48d8e4, 1130px 1218px #48d8e4, 1102px 404px #48d8e4,
    1249px 822px #48d8e4, 946px 578px #48d8e4, 590px 1371px #48d8e4, 234px 1684px #48d8e4, 948px 1509px #48d8e4,
    488px 547px #48d8e4, 351px 106px #48d8e4, 438px 480px #48d8e4, 924px 1700px #48d8e4, 356px 228px #48d8e4,
    108px 677px #48d8e4, 311px 314px #48d8e4, 1359px 1389px #48d8e4, 149px 217px #48d8e4, 1148px 878px #48d8e4,
    783px 174px #48d8e4, 934px 1618px #48d8e4, 267px 1621px #48d8e4, 723px 1631px #48d8e4, 1344px 1356px #48d8e4,
    570px 865px #48d8e4, 658px 66px #48d8e4, 193px 968px #48d8e4, 707px 924px #48d8e4, 1517px 1342px #48d8e4,
    316px 346px #48d8e4, 1561px 1233px #48d8e4, 377px 846px #48d8e4, 434px 21px #48d8e4, 1530px 1211px #48d8e4,
    1148px 974px #48d8e4, 857px 1289px #48d8e4, 889px 1016px #48d8e4, 29px 1247px #48d8e4, 866px 370px #48d8e4,
    698px 1091px #48d8e4, 622px 182px #48d8e4, 1629px 1006px #48d8e4, 554px 1242px #48d8e4, 256px 1376px #48d8e4,
    442px 1203px #48d8e4, 1658px 143px #48d8e4, 519px 1631px #48d8e4, 1324px 1015px #48d8e4, 757px 248px #48d8e4,
    1059px 1260px #48d8e4, 1552px 1568px #48d8e4, 567px 181px #48d8e4, 1px 1195px #48d8e4, 385px 870px #48d8e4,
    1410px 1069px #48d8e4, 158px 877px #48d8e4, 215px 374px #48d8e4, 474px 1613px #48d8e4, 525px 581px #48d8e4,
    1494px 737px #48d8e4, 712px 675px #48d8e4, 85px 80px #48d8e4, 280px 1088px #48d8e4, 477px 786px #48d8e4,
    541px 102px #48d8e4, 231px 1242px #48d8e4, 1174px 483px #48d8e4, 1611px 652px #48d8e4, 1124px 936px #48d8e4,
    1417px 22px #48d8e4, 1361px 420px #48d8e4, 486px 855px #48d8e4, 65px 1365px #48d8e4, 848px 146px #48d8e4,
    90px 705px #48d8e4, 1319px 769px #48d8e4, 86px 1240px #48d8e4, 419px 1061px #48d8e4, 1078px 633px #48d8e4,
    533px 1065px #48d8e4, 1623px 291px #48d8e4, 937px 1271px #48d8e4, 1294px 112px #48d8e4, 25px 932px #48d8e4,
    962px 569px #48d8e4, 660px 320px #48d8e4, 1286px 720px #48d8e4, 1460px 938px #48d8e4, 120px 1431px #48d8e4,
    23px 853px #48d8e4, 642px 1600px #48d8e4, 1204px 890px #48d8e4, 748px 606px #48d8e4, 589px 1044px #48d8e4,
    1128px 56px #48d8e4, 1004px 712px #48d8e4, 240px 1568px #48d8e4, 66px 1429px #48d8e4, 1327px 1444px #48d8e4,
    311px 1122px #48d8e4, 1663px 969px #48d8e4, 230px 1001px #48d8e4, 1109px 1411px #48d8e4, 1487px 1273px #48d8e4,
    1500px 994px #48d8e4, 477px 1501px #48d8e4, 9px 392px #48d8e4, 940px 457px #48d8e4, 564px 348px #48d8e4,
    141px 608px #48d8e4, 1581px 1356px #48d8e4, 245px 1192px #48d8e4, 1067px 1207px #48d8e4, 1229px 1589px #48d8e4,
    881px 657px #48d8e4, 965px 672px #48d8e4, 335px 555px #48d8e4, 579px 931px #48d8e4, 1683px 227px #48d8e4,
    781px 1321px #48d8e4, 1475px 1472px #48d8e4, 1578px 1708px #48d8e4, 1687px 107px #48d8e4, 1199px 774px #48d8e4,
    1079px 82px #48d8e4, 23px 763px #48d8e4, 330px 571px #48d8e4, 907px 1641px #48d8e4, 365px 1294px #48d8e4,
    528px 356px #48d8e4, 724px 1031px #48d8e4, 545px 937px #48d8e4, 487px 115px #48d8e4, 291px 495px #48d8e4,
    167px 240px #48d8e4, 828px 1540px #48d8e4, 713px 533px #48d8e4, 1098px 509px #48d8e4, 1336px 1206px #48d8e4,
    618px 1591px #48d8e4, 1654px 632px #48d8e4, 1648px 1181px #48d8e4, 167px 1511px #48d8e4, 297px 1001px #48d8e4,
    222px 692px #48d8e4, 1456px 517px #48d8e4, 877px 560px #48d8e4, 74px 1662px #48d8e4, 419px 1203px #48d8e4,
    64px 199px #48d8e4, 1235px 961px #48d8e4, 536px 993px #48d8e4, 1685px 940px #48d8e4, 1466px 881px #48d8e4,
    1078px 946px #48d8e4, 157px 1270px #48d8e4, 467px 1578px #48d8e4, 372px 513px #48d8e4, 1247px 128px #48d8e4,
    473px 172px #48d8e4, 1489px 751px #48d8e4, 154px 749px #48d8e4, 1514px 940px #48d8e4, 1363px 625px #48d8e4,
    838px 1595px #48d8e4, 423px 292px #48d8e4, 351px 1213px #48d8e4, 1088px 1387px #48d8e4, 656px 1460px #48d8e4,
    1001px 851px #48d8e4, 1437px 409px #48d8e4, 716px 246px #48d8e4, 198px 970px #48d8e4, 637px 407px #48d8e4,
    420px 1294px #48d8e4, 1638px 1px #48d8e4, 1453px 257px #48d8e4, 1202px 1242px #48d8e4, 149px 1020px #48d8e4,
    213px 1151px #48d8e4, 1174px 271px #48d8e4, 323px 804px #48d8e4, 604px 1382px #48d8e4, 939px 1692px #48d8e4,
    511px 56px #48d8e4, 1123px 639px #48d8e4, 961px 184px #48d8e4, 1436px 652px #48d8e4, 783px 1544px #48d8e4,
    1090px 329px #48d8e4, 1103px 1678px #48d8e4, 117px 524px #48d8e4, 866px 1072px #48d8e4, 265px 957px #48d8e4,
    801px 357px #48d8e4, 390px 1334px #48d8e4, 869px 1223px #48d8e4, 1627px 1094px #48d8e4, 1205px 197px #48d8e4,
    3px 324px #48d8e4, 246px 1282px #48d8e4, 391px 874px #48d8e4, 1665px 171px #48d8e4, 210px 1701px #48d8e4,
    1208px 1587px #48d8e4, 1273px 561px #48d8e4, 846px 950px #48d8e4, 1598px 305px #48d8e4, 139px 1136px #48d8e4,
    139px 995px #48d8e4, 971px 580px #48d8e4, 389px 218px #48d8e4, 1610px 521px #48d8e4, 1168px 1230px #48d8e4,
    718px 142px #48d8e4, 944px 1522px #48d8e4, 914px 972px #48d8e4, 452px 1326px #48d8e4, 1208px 626px #48d8e4,
    812px 1610px #48d8e4, 340px 717px #48d8e4, 191px 1582px #48d8e4, 1706px 1321px #48d8e4, 415px 603px #48d8e4,
    792px 1480px #48d8e4, 334px 833px #48d8e4, 1017px 506px #48d8e4, 777px 881px #48d8e4, 623px 962px #48d8e4,
    785px 1359px #48d8e4, 1394px 1418px #48d8e4, 1317px 432px #48d8e4, 1460px 812px #48d8e4, 322px 1054px #48d8e4,
    1610px 820px #48d8e4, 1526px 992px #48d8e4, 31px 1294px #48d8e4, 888px 1154px #48d8e4, 762px 1443px #48d8e4,
    1272px 286px #48d8e4, 177px 424px #48d8e4, 1663px 1621px #48d8e4, 1653px 1210px #48d8e4, 657px 355px #48d8e4,
    1596px 524px #48d8e4, 657px 1623px #48d8e4, 368px 837px #48d8e4, 878px 898px #48d8e4, 1040px 230px #48d8e4,
    666px 321px #48d8e4, 1531px 375px #48d8e4, 314px 532px #48d8e4, 303px 117px #48d8e4, 1494px 94px #48d8e4,
    1560px 302px #48d8e4, 567px 173px #48d8e4, 1577px 1347px #48d8e4, 1499px 677px #48d8e4, 959px 17px #48d8e4,
    997px 1460px #48d8e4, 1207px 1419px #48d8e4, 1375px 684px #48d8e4, 1223px 1567px #48d8e4, 942px 356px #48d8e4,
    585px 1622px #48d8e4, 1191px 248px #48d8e4, 1532px 9px #48d8e4, 644px 136px #48d8e4, 500px 1344px #48d8e4,
    923px 709px #48d8e4, 1656px 1568px #48d8e4, 656px 418px #48d8e4, 776px 615px #48d8e4, 759px 640px #48d8e4,
    1060px 1381px #48d8e4, 1514px 1442px #48d8e4, 477px 812px #48d8e4, 386px 103px #48d8e4, 680px 1396px #48d8e4,
    1279px 1486px #48d8e4, 810px 1247px #48d8e4, 146px 1312px #48d8e4, 510px 1349px #48d8e4, 340px 1369px #48d8e4,
    1582px 897px #48d8e4, 1535px 1155px #48d8e4, 32px 126px #48d8e4, 127px 654px #48d8e4, 226px 1038px #48d8e4,
    21px 1561px #48d8e4, 1541px 919px #48d8e4, 1459px 101px #48d8e4, 182px 397px #48d8e4, 1304px 69px #48d8e4,
    1006px 1437px #48d8e4, 1130px 1224px #48d8e4, 1400px 1098px #48d8e4, 357px 1308px #48d8e4, 1277px 394px #48d8e4,
    779px 313px #48d8e4, 1143px 1440px #48d8e4, 712px 1480px #48d8e4, 825px 1390px #48d8e4, 1510px 1320px #48d8e4,
    850px 1373px #48d8e4, 1069px 1609px #48d8e4, 617px 305px #48d8e4, 653px 933px #48d8e4, 1353px 613px #48d8e4,
    620px 800px #48d8e4, 381px 1052px #48d8e4, 1550px 583px #48d8e4, 879px 826px #48d8e4, 855px 1006px #48d8e4,
    48px 603px #48d8e4, 644px 1111px #48d8e4, 1038px 560px #48d8e4, 164px 685px #48d8e4, 1186px 13px #48d8e4,
    1195px 480px #48d8e4, 1625px 140px #48d8e4, 1532px 1216px #48d8e4, 735px 15px #48d8e4, 434px 488px #48d8e4,
    1665px 169px #48d8e4, 276px 421px #48d8e4, 1106px 917px #48d8e4, 678px 1213px #48d8e4, 1394px 1058px #48d8e4,
    1354px 1256px #48d8e4, 572px 1532px #48d8e4, 1305px 98px #48d8e4, 346px 1578px #48d8e4, 393px 905px #48d8e4,
    768px 927px #48d8e4, 829px 405px #48d8e4, 1692px 957px #48d8e4, 917px 1650px #48d8e4, 1495px 281px #48d8e4,
    637px 637px #48d8e4, 1199px 155px #48d8e4, 967px 1145px #48d8e4, 998px 341px #48d8e4, 803px 881px #48d8e4,
    295px 1318px #48d8e4, 1210px 829px #48d8e4, 1702px 716px #48d8e4, 1464px 1059px #48d8e4, 114px 761px #48d8e4,
    143px 1515px #48d8e4, 1058px 772px #48d8e4, 796px 621px #48d8e4, 1593px 471px #48d8e4, 1243px 1408px #48d8e4,
    627px 67px #48d8e4, 1157px 1084px #48d8e4, 1023px 1091px #48d8e4, 1703px 1713px #48d8e4, 222px 87px #48d8e4,
    565px 1222px #48d8e4, 472px 925px #48d8e4, 1314px 551px #48d8e4, 1223px 573px #48d8e4, 446px 778px #48d8e4,
    622px 262px #48d8e4, 340px 1667px #48d8e4, 117px 378px #48d8e4, 821px 300px #48d8e4, 730px 910px #48d8e4,
    201px 303px #48d8e4, 811px 1497px #48d8e4, 244px 692px #48d8e4, 1059px 467px #48d8e4, 791px 309px #48d8e4,
    927px 1357px #48d8e4, 1594px 510px #48d8e4, 1092px 706px #48d8e4, 689px 486px #48d8e4, 1542px 93px #48d8e4,
    565px 1308px #48d8e4, 1679px 933px #48d8e4, 253px 1259px #48d8e4, 634px 680px #48d8e4, 1533px 277px #48d8e4,
    491px 721px #48d8e4, 402px 1286px #48d8e4, 580px 1198px #48d8e4, 650px 1219px #48d8e4, 1539px 1518px #48d8e4,
    789px 1571px #48d8e4, 685px 68px #48d8e4, 995px 1164px #48d8e4, 1522px 1360px #48d8e4, 1081px 19px #48d8e4,
    407px 1602px #48d8e4, 457px 162px #48d8e4, 1231px 1067px #48d8e4, 1412px 1415px #48d8e4, 475px 645px #48d8e4,
    878px 1657px #48d8e4, 206px 1686px #48d8e4, 1440px 1343px #48d8e4, 237px 1098px #48d8e4, 779px 330px #48d8e4,
    1118px 1366px #48d8e4, 341px 1431px #48d8e4, 1449px 1484px #48d8e4, 1120px 592px #48d8e4, 1032px 81px #48d8e4,
    306px 950px #48d8e4, 1609px 851px #48d8e4, 142px 1364px #48d8e4, 1433px 756px #48d8e4, 200px 1018px #48d8e4,
    1102px 348px #48d8e4, 942px 1105px #48d8e4, 1525px 358px #48d8e4, 935px 1626px #48d8e4, 703px 1407px #48d8e4,
    1212px 940px #48d8e4, 199px 257px #48d8e4, 517px 1195px #48d8e4, 1345px 184px #48d8e4, 118px 1487px #48d8e4,
    1616px 1330px #48d8e4, 707px 997px #48d8e4, 198px 1038px #48d8e4, 185px 1003px #48d8e4, 167px 375px #48d8e4,
    633px 389px #48d8e4, 532px 1273px #48d8e4, 1479px 1542px #48d8e4, 105px 717px #48d8e4, 1599px 5px #48d8e4,
    1150px 1593px #48d8e4, 408px 911px #48d8e4, 988px 1655px #48d8e4, 930px 726px #48d8e4, 593px 1162px #48d8e4,
    1597px 967px #48d8e4, 394px 1666px #48d8e4, 1325px 454px #48d8e4, 71px 138px #48d8e4, 1534px 824px #48d8e4,
    786px 1715px #48d8e4, 607px 1426px #48d8e4, 319px 1362px #48d8e4, 1599px 222px #48d8e4, 1383px 485px #48d8e4,
    256px 679px #48d8e4, 1557px 775px #48d8e4, 730px 842px #48d8e4, 1258px 1196px #48d8e4, 1133px 68px #48d8e4,
    1349px 964px #48d8e4, 156px 745px #48d8e4, 1626px 989px #48d8e4, 1232px 987px #48d8e4, 154px 971px #48d8e4,
    379px 212px #48d8e4, 1270px 874px #48d8e4, 378px 846px #48d8e4, 318px 102px #48d8e4, 215px 1694px #48d8e4,
    731px 1167px #48d8e4, 307px 1598px #48d8e4, 891px 348px #48d8e4, 1484px 477px #48d8e4, 179px 490px #48d8e4,
    116px 1112px #48d8e4, 12px 665px #48d8e4, 492px 1398px #48d8e4, 902px 31px #48d8e4, 1227px 1272px #48d8e4,
    1061px 272px #48d8e4, 713px 1118px #48d8e4, 9px 1071px #48d8e4, 243px 958px #48d8e4, 553px 1140px #48d8e4,
    310px 217px #48d8e4, 1330px 1244px #48d8e4, 1423px 1590px #48d8e4, 767px 1330px #48d8e4, 579px 711px #48d8e4,
    1155px 237px #48d8e4, 1579px 1228px #48d8e4, 866px 146px #48d8e4, 309px 402px #48d8e4, 1634px 426px #48d8e4,
    1020px 1518px #48d8e4, 146px 1441px #48d8e4, 970px 49px #48d8e4, 1205px 242px #48d8e4, 15px 1318px #48d8e4,
    1006px 1324px #48d8e4, 1310px 1185px #48d8e4, 720px 1115px #48d8e4, 1445px 509px #48d8e4, 113px 1207px #48d8e4,
    508px 1388px #48d8e4, 516px 1103px #48d8e4, 100px 1516px #48d8e4, 581px 446px #48d8e4, 706px 577px #48d8e4,
    244px 1475px #48d8e4, 259px 917px #48d8e4, 1209px 78px #48d8e4, 1201px 738px #48d8e4, 730px 1530px #48d8e4,
    1325px 1166px #48d8e4, 1139px 1007px #48d8e4, 513px 1183px #48d8e4, 1362px 117px #48d8e4, 592px 1536px #48d8e4,
    1px 1367px #48d8e4, 693px 1434px #48d8e4, 883px 386px #48d8e4, 1408px 444px #48d8e4, 156px 1005px #48d8e4,
    289px 664px #48d8e4, 530px 662px #48d8e4, 418px 1342px #48d8e4, 326px 258px #48d8e4, 1417px 592px #48d8e4,
    1325px 30px #48d8e4, 1678px 1473px #48d8e4, 916px 41px #48d8e4, 1039px 1685px #48d8e4, 865px 428px #48d8e4,
    1520px 1108px #48d8e4, 608px 340px #48d8e4, 1450px 7px #48d8e4, 1248px 212px #48d8e4, 458px 164px #48d8e4,
    852px 1394px #48d8e4, 1548px 1288px #48d8e4, 618px 831px #48d8e4, 662px 944px #48d8e4, 1112px 987px #48d8e4,
    968px 1564px #48d8e4, 1326px 645px #48d8e4, 699px 1116px #48d8e4, 1704px 1608px #48d8e4, 849px 1457px #48d8e4,
    123px 1275px #48d8e4, 61px 828px #48d8e4, 466px 51px #48d8e4, 243px 152px #48d8e4, 1491px 836px #48d8e4,
    3px 314px #48d8e4, 733px 743px #48d8e4, 747px 280px #48d8e4, 1370px 707px #48d8e4, 1595px 802px #48d8e4,
    65px 1467px #48d8e4, 979px 1514px #48d8e4, 967px 202px #48d8e4, 1527px 470px #48d8e4, 868px 379px #48d8e4,
    1600px 372px #48d8e4, 1627px 142px #48d8e4, 1025px 1651px #48d8e4, 1665px 1138px #48d8e4, 452px 783px #48d8e4,
    1062px 1499px #48d8e4, 1512px 1547px #48d8e4, 908px 1456px #48d8e4, 1253px 52px #48d8e4, 1338px 1384px #48d8e4,
    1369px 1367px #48d8e4, 1069px 1325px #48d8e4, 1689px 719px #48d8e4, 1616px 1488px #48d8e4, 1332px 1270px #48d8e4,
    1616px 197px #48d8e4, 729px 1304px #48d8e4, 1477px 171px #48d8e4, 1553px 1417px #48d8e4, 623px 274px #48d8e4,
    29px 1190px #48d8e4, 1462px 1177px #48d8e4, 806px 1514px #48d8e4, 1078px 1259px #48d8e4, 971px 1260px #48d8e4,
    10px 1252px #48d8e4, 879px 320px #48d8e4, 592px 1226px #48d8e4, 937px 462px #48d8e4, 880px 1526px #48d8e4,
    729px 1426px #48d8e4, 1405px 500px #48d8e4, 709px 1350px #48d8e4, 267px 1444px #48d8e4, 346px 1010px #48d8e4,
    1554px 1491px #48d8e4, 1111px 1608px #48d8e4, 256px 824px #48d8e4, 712px 320px #48d8e4, 710px 1508px #48d8e4,
    1639px 888px #48d8e4, 766px 464px #48d8e4, 938px 420px #48d8e4, 991px 571px #48d8e4, 973px 586px #48d8e4,
    1191px 202px #48d8e4, 1220px 736px #48d8e4, 912px 1662px #48d8e4, 137px 1340px #48d8e4, 451px 498px #48d8e4,
    135px 690px #48d8e4, 1679px 1537px #48d8e4, 1230px 1388px #48d8e4, 237px 1212px #48d8e4, 218px 1312px #48d8e4,
    1654px 1589px #48d8e4, 499px 750px #48d8e4, 240px 701px #48d8e4, 745px 495px #48d8e4, 1544px 773px #48d8e4,
    1056px 780px #48d8e4, 1566px 101px #48d8e4, 1223px 1249px #48d8e4, 1424px 1691px #48d8e4, 235px 1225px #48d8e4,
    188px 308px #48d8e4, 1555px 1420px #48d8e4, 570px 70px #48d8e4, 200px 1629px #48d8e4, 1669px 1232px #48d8e4,
    927px 1146px #48d8e4, 1134px 125px #48d8e4, 932px 881px #48d8e4, 1172px 818px #48d8e4, 943px 639px #48d8e4,
    1234px 1321px #48d8e4, 363px 187px #48d8e4, 637px 435px #48d8e4, 1150px 214px #48d8e4, 644px 629px #48d8e4,
    1557px 1543px #48d8e4, 1363px 500px #48d8e4, 1325px 1595px #48d8e4, 218px 1316px #48d8e4, 639px 1532px #48d8e4,
    1107px 7px #48d8e4, 959px 547px #48d8e4, 1585px 1317px #48d8e4, 131px 183px #48d8e4, 506px 1156px #48d8e4,
    32px 824px #48d8e4, 96px 669px #48d8e4, 1485px 1255px #48d8e4, 1499px 246px #48d8e4, 336px 1654px #48d8e4,
    1416px 1127px #48d8e4, 1370px 686px #48d8e4, 386px 566px #48d8e4, 989px 1499px #48d8e4, 1355px 1310px #48d8e4,
    381px 927px #48d8e4, 89px 1124px #48d8e4, 636px 1533px #48d8e4, 55px 386px #48d8e4, 266px 1318px #48d8e4,
    261px 21px #48d8e4, 237px 1323px #48d8e4, 422px 317px #48d8e4, 353px 993px #48d8e4, 1552px 730px #48d8e4,
    242px 901px #48d8e4, 1715px 1010px #48d8e4, 1305px 256px #48d8e4, 622px 1600px #48d8e4, 821px 825px #48d8e4,
    5px 1177px #48d8e4, 122px 1438px #48d8e4, 1285px 1430px #48d8e4, 943px 280px #48d8e4, 726px 304px #48d8e4,
    838px 1205px #48d8e4, 167px 668px #48d8e4, 162px 543px #48d8e4, 913px 55px #48d8e4, 1018px 43px #48d8e4,
    809px 316px #48d8e4, 1589px 696px #48d8e4, 1652px 678px #48d8e4, 558px 1113px #48d8e4, 811px 1013px #48d8e4,
    374px 483px #48d8e4, 524px 300px #48d8e4, 100px 999px #48d8e4, 703px 924px #48d8e4, 438px 1189px #48d8e4,
    1192px 1294px #48d8e4, 892px 478px #48d8e4, 1468px 1695px #48d8e4, 1322px 1695px #48d8e4, 340px 1601px #48d8e4,
    97px 1413px #48d8e4;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 620px 566px #090e17, 466px 1367px #48d8e4, 1142px 1076px #48d8e4, 1661px 656px #48d8e4,
    1430px 125px #48d8e4, 812px 1370px #48d8e4, 1470px 1256px #48d8e4, 105px 1547px #48d8e4, 149px 1197px #48d8e4,
    1616px 876px #48d8e4, 108px 1346px #48d8e4, 546px 6px #48d8e4, 1551px 880px #48d8e4, 768px 1500px #48d8e4,
    295px 486px #48d8e4, 716px 1596px #48d8e4, 623px 1531px #48d8e4, 412px 901px #48d8e4, 922px 1261px #48d8e4,
    1501px 1251px #48d8e4, 446px 1042px #48d8e4, 671px 826px #48d8e4, 1004px 607px #48d8e4, 1045px 1051px #48d8e4,
    1604px 1127px #48d8e4, 1293px 1415px #48d8e4, 726px 1392px #48d8e4, 1311px 1180px #48d8e4, 251px 167px #48d8e4,
    943px 1428px #48d8e4, 1477px 1355px #48d8e4, 1221px 1211px #48d8e4, 108px 1466px #48d8e4, 1454px 393px #48d8e4,
    1087px 1545px #48d8e4, 1418px 1240px #48d8e4, 1474px 30px #48d8e4, 1669px 1208px #48d8e4, 1026px 357px #48d8e4,
    569px 1630px #48d8e4, 1196px 200px #48d8e4, 586px 429px #48d8e4, 534px 834px #48d8e4, 18px 430px #48d8e4,
    557px 65px #48d8e4, 570px 1346px #48d8e4, 234px 1279px #48d8e4, 633px 15px #48d8e4, 1196px 1263px #48d8e4,
    962px 886px #48d8e4, 1467px 1415px #48d8e4, 796px 1479px #48d8e4, 552px 295px #48d8e4, 6px 1180px #48d8e4,
    1381px 262px #48d8e4, 701px 29px #48d8e4, 1435px 1609px #48d8e4, 246px 1198px #48d8e4, 1611px 860px #48d8e4,
    834px 253px #48d8e4, 1540px 1469px #48d8e4, 840px 1532px #48d8e4, 1046px 1174px #48d8e4, 1543px 349px #48d8e4,
    193px 1288px #48d8e4, 1624px 492px #48d8e4, 1604px 841px #48d8e4, 1643px 890px #48d8e4, 1440px 99px #48d8e4,
    1269px 283px #48d8e4, 1028px 201px #48d8e4, 1180px 1571px #48d8e4, 1350px 1499px #48d8e4, 354px 1534px #48d8e4,
    837px 347px #48d8e4, 1427px 1227px #48d8e4, 429px 1107px #48d8e4, 307px 352px #48d8e4, 207px 1511px #48d8e4,
    64px 143px #48d8e4, 746px 652px #48d8e4, 675px 1128px #48d8e4, 592px 665px #48d8e4, 739px 38px #48d8e4,
    627px 132px #48d8e4, 1333px 1356px #48d8e4, 1175px 174px #48d8e4, 1017px 11px #48d8e4, 1572px 612px #48d8e4,
    95px 1080px #48d8e4, 220px 1484px #48d8e4, 142px 1013px #48d8e4, 1502px 151px #48d8e4, 1093px 961px #48d8e4,
    510px 1446px #48d8e4, 647px 1137px #48d8e4, 1571px 1459px #48d8e4, 1191px 1084px #48d8e4, 1713px 1712px #48d8e4,
    418px 580px #48d8e4, 23px 1293px #48d8e4, 629px 52px #48d8e4, 1433px 660px #48d8e4, 290px 1498px #48d8e4,
    359px 355px #48d8e4, 1582px 88px #48d8e4, 145px 89px #48d8e4, 101px 6px #48d8e4, 949px 1126px #48d8e4,
    174px 387px #48d8e4, 287px 1323px #48d8e4, 1661px 1242px #48d8e4, 1273px 1199px #48d8e4, 1603px 1445px #48d8e4,
    1367px 1239px #48d8e4, 1397px 1680px #48d8e4, 1521px 1712px #48d8e4, 1231px 993px #48d8e4, 335px 594px #48d8e4,
    641px 1083px #48d8e4, 149px 1472px #48d8e4, 868px 1682px #48d8e4, 1593px 1395px #48d8e4, 605px 136px #48d8e4,
    641px 1129px #48d8e4, 866px 1331px #48d8e4, 111px 1659px #48d8e4, 1613px 1667px #48d8e4, 1126px 1481px #48d8e4,
    1561px 271px #48d8e4, 1134px 1219px #48d8e4, 665px 563px #48d8e4, 215px 245px #48d8e4, 1338px 96px #48d8e4,
    1101px 2px #48d8e4, 1257px 5px #48d8e4, 1389px 681px #48d8e4, 995px 1593px #48d8e4, 167px 368px #48d8e4,
    266px 320px #48d8e4, 448px 217px #48d8e4, 1361px 1059px #48d8e4, 1272px 646px #48d8e4, 293px 1242px #48d8e4,
    1292px 507px #48d8e4, 701px 431px #48d8e4, 723px 614px #48d8e4, 681px 870px #48d8e4, 202px 561px #48d8e4,
    1711px 370px #48d8e4, 867px 760px #48d8e4, 1542px 740px #48d8e4, 13px 1177px #48d8e4, 1483px 341px #48d8e4,
    682px 506px #48d8e4, 749px 1504px #48d8e4, 882px 923px #48d8e4, 514px 443px #48d8e4, 1534px 542px #48d8e4,
    1362px 461px #48d8e4, 618px 241px #48d8e4, 283px 1429px #48d8e4, 305px 403px #48d8e4, 1440px 1689px #48d8e4,
    201px 1243px #48d8e4, 1480px 982px #48d8e4, 589px 1341px #48d8e4, 1264px 820px #48d8e4, 1321px 1066px #48d8e4,
    282px 1458px #48d8e4, 419px 1157px #48d8e4, 1664px 320px #48d8e4, 1079px 1104px #48d8e4, 106px 1156px #48d8e4,
    1364px 882px #48d8e4, 208px 1685px #48d8e4, 100px 1162px #48d8e4, 1182px 886px #48d8e4, 1140px 1223px #48d8e4,
    851px 731px #48d8e4, 1644px 1202px #48d8e4, 1496px 1147px #48d8e4, 305px 844px #48d8e4, 905px 437px #48d8e4,
    1361px 443px #48d8e4, 1063px 372px #48d8e4, 1462px 276px #48d8e4, 568px 125px #48d8e4, 1001px 1300px #48d8e4,
    1683px 511px #48d8e4, 1585px 646px #48d8e4, 545px 1532px #48d8e4, 1000px 1590px #48d8e4, 740px 1371px #48d8e4,
    349px 450px #48d8e4, 496px 1276px #48d8e4, 817px 47px #48d8e4, 1543px 1592px #48d8e4, 1266px 1198px #48d8e4,
    214px 555px #48d8e4;
  animation: animStar 800s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 1715px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 620px 566px #090e17, 466px 1367px #48d8e4, 1142px 1076px #48d8e4, 1661px 656px #48d8e4,
    1430px 125px #48d8e4, 812px 1370px #48d8e4, 1470px 1256px #48d8e4, 105px 1547px #48d8e4, 149px 1197px #48d8e4,
    1616px 876px #48d8e4, 108px 1346px #48d8e4, 546px 6px #48d8e4, 1551px 880px #48d8e4, 768px 1500px #48d8e4,
    295px 486px #48d8e4, 716px 1596px #48d8e4, 623px 1531px #48d8e4, 412px 901px #48d8e4, 922px 1261px #48d8e4,
    1501px 1251px #48d8e4, 446px 1042px #48d8e4, 671px 826px #48d8e4, 1004px 607px #48d8e4, 1045px 1051px #48d8e4,
    1604px 1127px #48d8e4, 1293px 1415px #48d8e4, 726px 1392px #48d8e4, 1311px 1180px #48d8e4, 251px 167px #48d8e4,
    943px 1428px #48d8e4, 1477px 1355px #48d8e4, 1221px 1211px #48d8e4, 108px 1466px #48d8e4, 1454px 393px #48d8e4,
    1087px 1545px #48d8e4, 1418px 1240px #48d8e4, 1474px 30px #48d8e4, 1669px 1208px #48d8e4, 1026px 357px #48d8e4,
    569px 1630px #48d8e4, 1196px 200px #48d8e4, 586px 429px #48d8e4, 534px 834px #48d8e4, 18px 430px #48d8e4,
    557px 65px #48d8e4, 570px 1346px #48d8e4, 234px 1279px #48d8e4, 633px 15px #48d8e4, 1196px 1263px #48d8e4,
    962px 886px #48d8e4, 1467px 1415px #48d8e4, 796px 1479px #48d8e4, 552px 295px #48d8e4, 6px 1180px #48d8e4,
    1381px 262px #48d8e4, 701px 29px #48d8e4, 1435px 1609px #48d8e4, 246px 1198px #48d8e4, 1611px 860px #48d8e4,
    834px 253px #48d8e4, 1540px 1469px #48d8e4, 840px 1532px #48d8e4, 1046px 1174px #48d8e4, 1543px 349px #48d8e4,
    193px 1288px #48d8e4, 1624px 492px #48d8e4, 1604px 841px #48d8e4, 1643px 890px #48d8e4, 1440px 99px #48d8e4,
    1269px 283px #48d8e4, 1028px 201px #48d8e4, 1180px 1571px #48d8e4, 1350px 1499px #48d8e4, 354px 1534px #48d8e4,
    837px 347px #48d8e4, 1427px 1227px #48d8e4, 429px 1107px #48d8e4, 307px 352px #48d8e4, 207px 1511px #48d8e4,
    64px 143px #48d8e4, 746px 652px #48d8e4, 675px 1128px #48d8e4, 592px 665px #48d8e4, 739px 38px #48d8e4,
    627px 132px #48d8e4, 1333px 1356px #48d8e4, 1175px 174px #48d8e4, 1017px 11px #48d8e4, 1572px 612px #48d8e4,
    95px 1080px #48d8e4, 220px 1484px #48d8e4, 142px 1013px #48d8e4, 1502px 151px #48d8e4, 1093px 961px #48d8e4,
    510px 1446px #48d8e4, 647px 1137px #48d8e4, 1571px 1459px #48d8e4, 1191px 1084px #48d8e4, 1713px 1712px #48d8e4,
    418px 580px #48d8e4, 23px 1293px #48d8e4, 629px 52px #48d8e4, 1433px 660px #48d8e4, 290px 1498px #48d8e4,
    359px 355px #48d8e4, 1582px 88px #48d8e4, 145px 89px #48d8e4, 101px 6px #48d8e4, 949px 1126px #48d8e4,
    174px 387px #48d8e4, 287px 1323px #48d8e4, 1661px 1242px #48d8e4, 1273px 1199px #48d8e4, 1603px 1445px #48d8e4,
    1367px 1239px #48d8e4, 1397px 1680px #48d8e4, 1521px 1712px #48d8e4, 1231px 993px #48d8e4, 335px 594px #48d8e4,
    641px 1083px #48d8e4, 149px 1472px #48d8e4, 868px 1682px #48d8e4, 1593px 1395px #48d8e4, 605px 136px #48d8e4,
    641px 1129px #48d8e4, 866px 1331px #48d8e4, 111px 1659px #48d8e4, 1613px 1667px #48d8e4, 1126px 1481px #48d8e4,
    1561px 271px #48d8e4, 1134px 1219px #48d8e4, 665px 563px #48d8e4, 215px 245px #48d8e4, 1338px 96px #48d8e4,
    1101px 2px #48d8e4, 1257px 5px #48d8e4, 1389px 681px #48d8e4, 995px 1593px #48d8e4, 167px 368px #48d8e4,
    266px 320px #48d8e4, 448px 217px #48d8e4, 1361px 1059px #48d8e4, 1272px 646px #48d8e4, 293px 1242px #48d8e4,
    1292px 507px #48d8e4, 701px 431px #48d8e4, 723px 614px #48d8e4, 681px 870px #48d8e4, 202px 561px #48d8e4,
    1711px 370px #48d8e4, 867px 760px #48d8e4, 1542px 740px #48d8e4, 13px 1177px #48d8e4, 1483px 341px #48d8e4,
    682px 506px #48d8e4, 749px 1504px #48d8e4, 882px 923px #48d8e4, 514px 443px #48d8e4, 1534px 542px #48d8e4,
    1362px 461px #48d8e4, 618px 241px #48d8e4, 283px 1429px #48d8e4, 305px 403px #48d8e4, 1440px 1689px #48d8e4,
    201px 1243px #48d8e4, 1480px 982px #48d8e4, 589px 1341px #48d8e4, 1264px 820px #48d8e4, 1321px 1066px #48d8e4,
    282px 1458px #48d8e4, 419px 1157px #48d8e4, 1664px 320px #48d8e4, 1079px 1104px #48d8e4, 106px 1156px #48d8e4,
    1364px 882px #48d8e4, 208px 1685px #48d8e4, 100px 1162px #48d8e4, 1182px 886px #48d8e4, 1140px 1223px #48d8e4,
    851px 731px #48d8e4, 1644px 1202px #48d8e4, 1496px 1147px #48d8e4, 305px 844px #48d8e4, 905px 437px #48d8e4,
    1361px 443px #48d8e4, 1063px 372px #48d8e4, 1462px 276px #48d8e4, 568px 125px #48d8e4, 1001px 1300px #48d8e4,
    1683px 511px #48d8e4, 1585px 646px #48d8e4, 545px 1532px #48d8e4, 1000px 1590px #48d8e4, 740px 1371px #48d8e4,
    349px 450px #48d8e4, 496px 1276px #48d8e4, 817px 47px #48d8e4, 1543px 1592px #48d8e4, 1266px 1198px #48d8e4,
    214px 555px #48d8e4;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 149px 296px #090e17, 1466px 242px #48d8e4, 1472px 655px #48d8e4, 1088px 719px #48d8e4,
    337px 1197px #48d8e4, 1483px 562px #48d8e4, 740px 695px #48d8e4, 483px 854px #48d8e4, 450px 1007px #48d8e4,
    675px 694px #48d8e4, 1548px 1305px #48d8e4, 1647px 743px #48d8e4, 191px 1289px #48d8e4, 1081px 622px #48d8e4,
    1513px 1453px #48d8e4, 974px 571px #48d8e4, 958px 668px #48d8e4, 1302px 407px #48d8e4, 1364px 1560px #48d8e4,
    875px 799px #48d8e4, 920px 651px #48d8e4, 1547px 864px #48d8e4, 1292px 1461px #48d8e4, 1340px 1075px #48d8e4,
    1346px 1554px #48d8e4, 1483px 526px #48d8e4, 31px 983px #48d8e4, 1626px 515px #48d8e4, 313px 1165px #48d8e4,
    1477px 1632px #48d8e4, 865px 1025px #48d8e4, 1539px 990px #48d8e4, 399px 962px #48d8e4, 967px 1021px #48d8e4,
    542px 1258px #48d8e4, 1310px 107px #48d8e4, 786px 466px #48d8e4, 1682px 890px #48d8e4, 1605px 719px #48d8e4,
    1418px 1560px #48d8e4, 1588px 305px #48d8e4, 732px 239px #48d8e4, 149px 373px #48d8e4, 847px 1351px #48d8e4,
    1589px 1593px #48d8e4, 886px 1673px #48d8e4, 286px 884px #48d8e4, 157px 1078px #48d8e4, 1630px 1050px #48d8e4,
    1058px 1588px #48d8e4, 421px 903px #48d8e4, 774px 975px #48d8e4, 10px 1582px #48d8e4, 533px 1366px #48d8e4,
    199px 588px #48d8e4, 766px 1552px #48d8e4, 129px 1353px #48d8e4, 912px 691px #48d8e4, 1602px 72px #48d8e4,
    310px 1371px #48d8e4, 1371px 944px #48d8e4, 1238px 1387px #48d8e4, 1219px 742px #48d8e4, 356px 265px #48d8e4,
    401px 595px #48d8e4, 473px 771px #48d8e4, 1117px 669px #48d8e4, 411px 669px #48d8e4, 735px 534px #48d8e4,
    5px 1610px #48d8e4, 1112px 1004px #48d8e4, 862px 1408px #48d8e4, 1629px 1369px #48d8e4, 995px 1108px #48d8e4,
    388px 173px #48d8e4, 1487px 587px #48d8e4, 503px 376px #48d8e4, 1551px 744px #48d8e4, 1571px 888px #48d8e4,
    616px 46px #48d8e4, 294px 556px #48d8e4, 474px 378px #48d8e4, 394px 1133px #48d8e4, 1499px 45px #48d8e4,
    882px 1373px #48d8e4, 357px 297px #48d8e4, 420px 655px #48d8e4, 1285px 668px #48d8e4, 1188px 212px #48d8e4,
    1234px 1306px #48d8e4, 1016px 292px #48d8e4, 729px 1359px #48d8e4, 635px 1260px #48d8e4, 1357px 1391px #48d8e4,
    1642px 1003px #48d8e4, 78px 1360px #48d8e4, 160px 511px #48d8e4, 994px 1092px #48d8e4, 531px 1556px #48d8e4,
    757px 491px #48d8e4;
  animation: animStar 600s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 1715px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 149px 296px #090e17, 1466px 242px #48d8e4, 1472px 655px #48d8e4, 1088px 719px #48d8e4,
    337px 1197px #48d8e4, 1483px 562px #48d8e4, 740px 695px #48d8e4, 483px 854px #48d8e4, 450px 1007px #48d8e4,
    675px 694px #48d8e4, 1548px 1305px #48d8e4, 1647px 743px #48d8e4, 191px 1289px #48d8e4, 1081px 622px #48d8e4,
    1513px 1453px #48d8e4, 974px 571px #48d8e4, 958px 668px #48d8e4, 1302px 407px #48d8e4, 1364px 1560px #48d8e4,
    875px 799px #48d8e4, 920px 651px #48d8e4, 1547px 864px #48d8e4, 1292px 1461px #48d8e4, 1340px 1075px #48d8e4,
    1346px 1554px #48d8e4, 1483px 526px #48d8e4, 31px 983px #48d8e4, 1626px 515px #48d8e4, 313px 1165px #48d8e4,
    1477px 1632px #48d8e4, 865px 1025px #48d8e4, 1539px 990px #48d8e4, 399px 962px #48d8e4, 967px 1021px #48d8e4,
    542px 1258px #48d8e4, 1310px 107px #48d8e4, 786px 466px #48d8e4, 1682px 890px #48d8e4, 1605px 719px #48d8e4,
    1418px 1560px #48d8e4, 1588px 305px #48d8e4, 732px 239px #48d8e4, 149px 373px #48d8e4, 847px 1351px #48d8e4,
    1589px 1593px #48d8e4, 886px 1673px #48d8e4, 286px 884px #48d8e4, 157px 1078px #48d8e4, 1630px 1050px #48d8e4,
    1058px 1588px #48d8e4, 421px 903px #48d8e4, 774px 975px #48d8e4, 10px 1582px #48d8e4, 533px 1366px #48d8e4,
    199px 588px #48d8e4, 766px 1552px #48d8e4, 129px 1353px #48d8e4, 912px 691px #48d8e4, 1602px 72px #48d8e4,
    310px 1371px #48d8e4, 1371px 944px #48d8e4, 1238px 1387px #48d8e4, 1219px 742px #48d8e4, 356px 265px #48d8e4,
    401px 595px #48d8e4, 473px 771px #48d8e4, 1117px 669px #48d8e4, 411px 669px #48d8e4, 735px 534px #48d8e4,
    5px 1610px #48d8e4, 1112px 1004px #48d8e4, 862px 1408px #48d8e4, 1629px 1369px #48d8e4, 995px 1108px #48d8e4,
    388px 173px #48d8e4, 1487px 587px #48d8e4, 503px 376px #48d8e4, 1551px 744px #48d8e4, 1571px 888px #48d8e4,
    616px 46px #48d8e4, 294px 556px #48d8e4, 474px 378px #48d8e4, 394px 1133px #48d8e4, 1499px 45px #48d8e4,
    882px 1373px #48d8e4, 357px 297px #48d8e4, 420px 655px #48d8e4, 1285px 668px #48d8e4, 1188px 212px #48d8e4,
    1234px 1306px #48d8e4, 1016px 292px #48d8e4, 729px 1359px #48d8e4, 635px 1260px #48d8e4, 1357px 1391px #48d8e4,
    1642px 1003px #48d8e4, 78px 1360px #48d8e4, 160px 511px #48d8e4, 994px 1092px #48d8e4, 531px 1556px #48d8e4,
    757px 491px #48d8e4;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(1715px);
  }
}
