html {
  background: radial-gradient(ellipse at bottom, #0f1b25 0%, #0c121c 100%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1009px 1166px #090e17, 345px 196px #48d8e4, 646px 517px #48d8e4, 1550px 1406px #48d8e4,
    1310px 751px #48d8e4, 46px 918px #48d8e4, 1398px 1080px #48d8e4, 1503px 46px #48d8e4, 1137px 565px #48d8e4,
    881px 607px #48d8e4, 988px 819px #48d8e4, 845px 836px #48d8e4, 882px 95px #48d8e4, 1509px 313px #48d8e4,
    1385px 1195px #48d8e4, 579px 38px #48d8e4, 1444px 363px #48d8e4, 1668px 54px #48d8e4, 602px 765px #48d8e4,
    1515px 1208px #48d8e4, 42px 488px #48d8e4, 39px 642px #48d8e4, 894px 802px #48d8e4, 1190px 435px #48d8e4,
    1217px 1589px #48d8e4, 753px 250px #48d8e4, 789px 698px #48d8e4, 606px 795px #48d8e4, 491px 1710px #48d8e4,
    1679px 1109px #48d8e4, 1675px 1681px #48d8e4, 1344px 902px #48d8e4, 1430px 79px #48d8e4, 207px 1307px #48d8e4,
    485px 399px #48d8e4, 1047px 1434px #48d8e4, 463px 237px #48d8e4, 247px 646px #48d8e4, 708px 1055px #48d8e4,
    890px 434px #48d8e4, 560px 458px #48d8e4, 708px 1524px #48d8e4, 388px 1232px #48d8e4, 5px 752px #48d8e4,
    1310px 461px #48d8e4, 1454px 1240px #48d8e4, 249px 1273px #48d8e4, 295px 977px #48d8e4, 946px 1487px #48d8e4,
    636px 206px #48d8e4, 1683px 1057px #48d8e4, 870px 934px #48d8e4, 364px 970px #48d8e4, 510px 1335px #48d8e4,
    798px 598px #48d8e4, 1698px 381px #48d8e4, 887px 1449px #48d8e4, 842px 1572px #48d8e4, 784px 795px #48d8e4,
    751px 1076px #48d8e4, 92px 1203px #48d8e4, 827px 1364px #48d8e4, 765px 116px #48d8e4, 1099px 1144px #48d8e4,
    512px 103px #48d8e4, 255px 1709px #48d8e4, 505px 1231px #48d8e4, 1387px 663px #48d8e4, 861px 517px #48d8e4,
    1053px 982px #48d8e4, 209px 1632px #48d8e4, 1307px 1530px #48d8e4, 1192px 255px #48d8e4, 1054px 406px #48d8e4,
    1070px 1696px #48d8e4, 908px 1580px #48d8e4, 703px 1468px #48d8e4, 456px 1603px #48d8e4, 1175px 380px #48d8e4,
    861px 225px #48d8e4, 1185px 895px #48d8e4, 1203px 129px #48d8e4, 882px 1216px #48d8e4, 741px 26px #48d8e4,
    704px 707px #48d8e4, 841px 516px #48d8e4, 1408px 345px #48d8e4, 481px 1439px #48d8e4, 545px 147px #48d8e4,
    1168px 635px #48d8e4, 209px 503px #48d8e4, 998px 1553px #48d8e4, 382px 1116px #48d8e4, 1470px 216px #48d8e4,
    1077px 850px #48d8e4, 1300px 952px #48d8e4, 1646px 386px #48d8e4, 926px 1281px #48d8e4, 207px 1669px #48d8e4,
    1698px 649px #48d8e4, 677px 175px #48d8e4, 335px 1002px #48d8e4, 808px 1268px #48d8e4, 1366px 430px #48d8e4,
    454px 1548px #48d8e4, 24px 770px #48d8e4, 818px 441px #48d8e4, 1564px 1689px #48d8e4, 929px 866px #48d8e4,
    1472px 1250px #48d8e4, 548px 1001px #48d8e4, 48px 1365px #48d8e4, 419px 1488px #48d8e4, 301px 1189px #48d8e4,
    1058px 1697px #48d8e4, 216px 1565px #48d8e4, 1542px 494px #48d8e4, 2px 1217px #48d8e4, 422px 907px #48d8e4,
    1691px 1127px #48d8e4, 844px 710px #48d8e4, 1140px 958px #48d8e4, 1097px 494px #48d8e4, 1417px 702px #48d8e4,
    1691px 313px #48d8e4, 1060px 1333px #48d8e4, 1443px 592px #48d8e4, 1692px 86px #48d8e4, 594px 1584px #48d8e4,
    653px 853px #48d8e4, 967px 497px #48d8e4, 488px 1666px #48d8e4, 1550px 1183px #48d8e4, 878px 535px #48d8e4,
    1539px 1140px #48d8e4, 876px 210px #48d8e4, 798px 1205px #48d8e4, 814px 74px #48d8e4, 1365px 1401px #48d8e4,
    939px 689px #48d8e4, 1665px 70px #48d8e4, 295px 1082px #48d8e4, 805px 229px #48d8e4, 886px 1106px #48d8e4,
    1377px 923px #48d8e4, 1599px 1557px #48d8e4, 963px 139px #48d8e4, 327px 1107px #48d8e4, 1207px 176px #48d8e4,
    328px 599px #48d8e4, 734px 1265px #48d8e4, 373px 737px #48d8e4, 1009px 1291px #48d8e4, 1537px 1633px #48d8e4,
    208px 1367px #48d8e4, 1545px 746px #48d8e4, 383px 930px #48d8e4, 1635px 603px #48d8e4, 1313px 588px #48d8e4,
    325px 45px #48d8e4, 516px 730px #48d8e4, 734px 470px #48d8e4, 594px 860px #48d8e4, 257px 953px #48d8e4,
    1151px 1504px #48d8e4, 1637px 448px #48d8e4, 1394px 545px #48d8e4, 365px 1040px #48d8e4, 1136px 212px #48d8e4,
    224px 1275px #48d8e4, 695px 1473px #48d8e4, 1048px 1563px #48d8e4, 1601px 1077px #48d8e4, 1061px 1430px #48d8e4,
    1412px 430px #48d8e4, 1219px 1603px #48d8e4, 533px 944px #48d8e4, 48px 759px #48d8e4, 675px 80px #48d8e4,
    1185px 580px #48d8e4, 372px 357px #48d8e4, 629px 1457px #48d8e4, 1386px 594px #48d8e4, 565px 876px #48d8e4,
    981px 756px #48d8e4, 910px 686px #48d8e4, 900px 579px #48d8e4, 1551px 1366px #48d8e4, 757px 518px #48d8e4,
    1705px 541px #48d8e4, 1562px 223px #48d8e4, 1590px 1204px #48d8e4, 107px 1673px #48d8e4, 1389px 991px #48d8e4,
    507px 1288px #48d8e4, 860px 891px #48d8e4, 1067px 1166px #48d8e4, 1220px 698px #48d8e4, 252px 1325px #48d8e4,
    1475px 752px #48d8e4, 871px 128px #48d8e4, 652px 1531px #48d8e4, 1299px 1399px #48d8e4, 392px 1660px #48d8e4,
    296px 797px #48d8e4, 1164px 808px #48d8e4, 755px 241px #48d8e4, 1476px 132px #48d8e4, 267px 1439px #48d8e4,
    766px 925px #48d8e4, 896px 37px #48d8e4, 935px 1706px #48d8e4, 587px 1048px #48d8e4, 1567px 1251px #48d8e4,
    1438px 40px #48d8e4, 893px 903px #48d8e4, 733px 366px #48d8e4, 1126px 564px #48d8e4, 1272px 768px #48d8e4,
    150px 471px #48d8e4, 1558px 269px #48d8e4, 18px 1078px #48d8e4, 1512px 694px #48d8e4, 656px 1485px #48d8e4,
    1653px 756px #48d8e4, 631px 572px #48d8e4, 1356px 459px #48d8e4, 273px 609px #48d8e4, 102px 1685px #48d8e4,
    386px 1418px #48d8e4, 607px 1063px #48d8e4, 588px 449px #48d8e4, 73px 1702px #48d8e4, 278px 960px #48d8e4,
    781px 523px #48d8e4, 85px 1353px #48d8e4, 1427px 884px #48d8e4, 1034px 1698px #48d8e4, 665px 1341px #48d8e4,
    526px 1655px #48d8e4, 926px 1282px #48d8e4, 736px 112px #48d8e4, 1266px 1307px #48d8e4, 888px 937px #48d8e4,
    1663px 189px #48d8e4, 362px 192px #48d8e4, 610px 197px #48d8e4, 495px 1059px #48d8e4, 407px 1114px #48d8e4,
    1585px 574px #48d8e4, 451px 4px #48d8e4, 239px 892px #48d8e4, 749px 882px #48d8e4, 323px 1682px #48d8e4,
    1343px 1321px #48d8e4, 81px 1080px #48d8e4, 764px 1566px #48d8e4, 27px 1197px #48d8e4, 173px 1565px #48d8e4,
    117px 1611px #48d8e4, 394px 1421px #48d8e4, 1195px 1307px #48d8e4, 1576px 251px #48d8e4, 1272px 1060px #48d8e4,
    923px 671px #48d8e4, 177px 115px #48d8e4, 318px 59px #48d8e4, 1606px 1110px #48d8e4, 1380px 1274px #48d8e4,
    274px 127px #48d8e4, 826px 1094px #48d8e4, 67px 804px #48d8e4, 435px 255px #48d8e4, 197px 840px #48d8e4,
    1580px 1446px #48d8e4, 1180px 1539px #48d8e4, 80px 1327px #48d8e4, 1501px 1048px #48d8e4, 1050px 1214px #48d8e4,
    570px 569px #48d8e4, 896px 379px #48d8e4, 764px 1572px #48d8e4, 904px 218px #48d8e4, 1607px 593px #48d8e4,
    640px 1261px #48d8e4, 777px 460px #48d8e4, 573px 258px #48d8e4, 882px 570px #48d8e4, 194px 146px #48d8e4,
    299px 841px #48d8e4, 1007px 876px #48d8e4, 929px 1394px #48d8e4, 1526px 788px #48d8e4, 821px 1351px #48d8e4,
    153px 1454px #48d8e4, 102px 1292px #48d8e4, 165px 1697px #48d8e4, 1211px 535px #48d8e4, 1348px 49px #48d8e4,
    1396px 804px #48d8e4, 1529px 736px #48d8e4, 782px 229px #48d8e4, 77px 309px #48d8e4, 1144px 453px #48d8e4,
    438px 153px #48d8e4, 670px 302px #48d8e4, 258px 1122px #48d8e4, 1174px 496px #48d8e4, 543px 606px #48d8e4,
    1325px 476px #48d8e4, 167px 690px #48d8e4, 787px 1641px #48d8e4, 1175px 1668px #48d8e4, 534px 649px #48d8e4,
    259px 202px #48d8e4, 1476px 1055px #48d8e4, 165px 1303px #48d8e4, 514px 1490px #48d8e4, 406px 1512px #48d8e4,
    255px 1159px #48d8e4, 375px 661px #48d8e4, 988px 475px #48d8e4, 682px 727px #48d8e4, 1580px 1210px #48d8e4,
    501px 1294px #48d8e4, 1488px 1001px #48d8e4, 215px 703px #48d8e4, 1584px 1028px #48d8e4, 51px 1336px #48d8e4,
    429px 1704px #48d8e4, 1118px 646px #48d8e4, 937px 1555px #48d8e4, 1194px 344px #48d8e4, 626px 1514px #48d8e4,
    1391px 1289px #48d8e4, 498px 1484px #48d8e4, 1145px 1224px #48d8e4, 977px 1511px #48d8e4, 1594px 613px #48d8e4,
    1265px 784px #48d8e4, 323px 1190px #48d8e4, 682px 1px #48d8e4, 1244px 653px #48d8e4, 164px 1233px #48d8e4,
    806px 1219px #48d8e4, 550px 1184px #48d8e4, 715px 1033px #48d8e4, 1257px 997px #48d8e4, 1514px 733px #48d8e4,
    1669px 671px #48d8e4, 217px 344px #48d8e4, 726px 211px #48d8e4, 1440px 560px #48d8e4, 1392px 11px #48d8e4,
    1503px 325px #48d8e4, 857px 154px #48d8e4, 1208px 1659px #48d8e4, 1407px 1065px #48d8e4, 968px 62px #48d8e4,
    1545px 1259px #48d8e4, 1521px 672px #48d8e4, 1288px 457px #48d8e4, 1551px 557px #48d8e4, 632px 905px #48d8e4,
    26px 351px #48d8e4, 1280px 389px #48d8e4, 574px 137px #48d8e4, 1368px 49px #48d8e4, 656px 1026px #48d8e4,
    166px 588px #48d8e4, 321px 940px #48d8e4, 1485px 1186px #48d8e4, 1557px 426px #48d8e4, 617px 1042px #48d8e4,
    430px 558px #48d8e4, 603px 1550px #48d8e4, 65px 884px #48d8e4, 609px 1238px #48d8e4, 1606px 1545px #48d8e4,
    1668px 678px #48d8e4, 554px 889px #48d8e4, 1503px 283px #48d8e4, 1631px 188px #48d8e4, 1383px 595px #48d8e4,
    238px 950px #48d8e4, 1147px 1525px #48d8e4, 689px 1245px #48d8e4, 662px 491px #48d8e4, 1658px 201px #48d8e4,
    1300px 1600px #48d8e4, 905px 1430px #48d8e4, 1323px 341px #48d8e4, 622px 1206px #48d8e4, 809px 1163px #48d8e4,
    104px 601px #48d8e4, 463px 23px #48d8e4, 1076px 1632px #48d8e4, 1666px 75px #48d8e4, 99px 618px #48d8e4,
    11px 550px #48d8e4, 356px 1313px #48d8e4, 19px 1677px #48d8e4, 754px 235px #48d8e4, 1385px 228px #48d8e4,
    112px 628px #48d8e4, 265px 522px #48d8e4, 1391px 1579px #48d8e4, 1277px 55px #48d8e4, 779px 681px #48d8e4,
    603px 61px #48d8e4, 1599px 1305px #48d8e4, 859px 836px #48d8e4, 332px 1226px #48d8e4, 1315px 1168px #48d8e4,
    933px 394px #48d8e4, 785px 348px #48d8e4, 742px 475px #48d8e4, 1090px 73px #48d8e4, 328px 868px #48d8e4,
    496px 540px #48d8e4, 909px 1530px #48d8e4, 416px 176px #48d8e4, 1506px 185px #48d8e4, 399px 545px #48d8e4,
    306px 1117px #48d8e4, 403px 205px #48d8e4, 681px 1207px #48d8e4, 226px 851px #48d8e4, 386px 235px #48d8e4,
    469px 1390px #48d8e4, 20px 161px #48d8e4, 1084px 118px #48d8e4, 1065px 487px #48d8e4, 423px 1433px #48d8e4,
    309px 565px #48d8e4, 128px 1153px #48d8e4, 1693px 151px #48d8e4, 7px 1575px #48d8e4, 1156px 591px #48d8e4,
    1240px 440px #48d8e4, 1620px 708px #48d8e4, 325px 5px #48d8e4, 1155px 273px #48d8e4, 979px 452px #48d8e4,
    242px 992px #48d8e4, 497px 321px #48d8e4, 1335px 479px #48d8e4, 1094px 264px #48d8e4, 1527px 831px #48d8e4,
    1252px 915px #48d8e4, 181px 1076px #48d8e4, 1709px 721px #48d8e4, 15px 402px #48d8e4, 160px 1237px #48d8e4,
    184px 723px #48d8e4, 1102px 953px #48d8e4, 1568px 235px #48d8e4, 475px 1369px #48d8e4, 178px 520px #48d8e4,
    907px 157px #48d8e4, 625px 291px #48d8e4, 665px 1218px #48d8e4, 1482px 1471px #48d8e4, 868px 1098px #48d8e4,
    1087px 110px #48d8e4, 519px 32px #48d8e4, 448px 1453px #48d8e4, 1038px 156px #48d8e4, 1407px 908px #48d8e4,
    1125px 425px #48d8e4, 147px 1274px #48d8e4, 1391px 1266px #48d8e4, 961px 11px #48d8e4, 450px 519px #48d8e4,
    696px 931px #48d8e4, 832px 613px #48d8e4, 1536px 1545px #48d8e4, 1519px 1085px #48d8e4, 34px 1659px #48d8e4,
    1328px 478px #48d8e4, 343px 250px #48d8e4, 84px 1128px #48d8e4, 815px 1663px #48d8e4, 1490px 736px #48d8e4,
    372px 1073px #48d8e4, 1338px 1691px #48d8e4, 1397px 1174px #48d8e4, 1174px 1343px #48d8e4, 698px 406px #48d8e4,
    1066px 1583px #48d8e4, 1581px 1278px #48d8e4, 1310px 686px #48d8e4, 809px 1141px #48d8e4, 48px 238px #48d8e4,
    351px 650px #48d8e4, 34px 519px #48d8e4, 777px 1684px #48d8e4, 500px 644px #48d8e4, 1297px 330px #48d8e4,
    1518px 551px #48d8e4, 415px 459px #48d8e4, 1167px 715px #48d8e4, 760px 1498px #48d8e4, 1234px 1401px #48d8e4,
    1532px 58px #48d8e4, 422px 1594px #48d8e4, 845px 817px #48d8e4, 1690px 416px #48d8e4, 531px 1175px #48d8e4,
    1582px 390px #48d8e4, 12px 922px #48d8e4, 1092px 992px #48d8e4, 1453px 1494px #48d8e4, 330px 1204px #48d8e4,
    255px 630px #48d8e4, 672px 8px #48d8e4, 1449px 1124px #48d8e4, 92px 687px #48d8e4, 1189px 1174px #48d8e4,
    1376px 1702px #48d8e4, 1144px 696px #48d8e4, 1112px 162px #48d8e4, 759px 66px #48d8e4, 262px 1287px #48d8e4,
    1696px 688px #48d8e4, 516px 760px #48d8e4, 951px 296px #48d8e4, 1207px 1677px #48d8e4, 1128px 267px #48d8e4,
    1633px 1467px #48d8e4, 102px 585px #48d8e4, 39px 591px #48d8e4, 1382px 53px #48d8e4, 58px 85px #48d8e4,
    1423px 1486px #48d8e4, 959px 737px #48d8e4, 123px 935px #48d8e4, 552px 286px #48d8e4, 1598px 1420px #48d8e4,
    1px 878px #48d8e4, 61px 508px #48d8e4, 1492px 208px #48d8e4, 565px 1668px #48d8e4, 1121px 696px #48d8e4,
    733px 1483px #48d8e4, 1193px 1383px #48d8e4, 1283px 361px #48d8e4, 1255px 1588px #48d8e4, 406px 1041px #48d8e4,
    834px 147px #48d8e4, 778px 860px #48d8e4, 1458px 1161px #48d8e4, 1229px 22px #48d8e4, 136px 834px #48d8e4,
    7px 1164px #48d8e4, 1659px 1587px #48d8e4, 1047px 467px #48d8e4, 910px 524px #48d8e4, 729px 1026px #48d8e4,
    1652px 239px #48d8e4, 1639px 1409px #48d8e4, 101px 528px #48d8e4, 712px 648px #48d8e4, 1373px 1372px #48d8e4,
    847px 954px #48d8e4, 1387px 255px #48d8e4, 1458px 441px #48d8e4, 1427px 1318px #48d8e4, 263px 1463px #48d8e4,
    274px 1078px #48d8e4, 533px 447px #48d8e4, 1333px 1301px #48d8e4, 401px 1424px #48d8e4, 1288px 1388px #48d8e4,
    1651px 1066px #48d8e4, 1014px 1189px #48d8e4, 1116px 303px #48d8e4, 1157px 1065px #48d8e4, 512px 175px #48d8e4,
    1113px 535px #48d8e4, 1384px 796px #48d8e4, 357px 991px #48d8e4, 266px 1233px #48d8e4, 252px 1585px #48d8e4,
    373px 615px #48d8e4, 1104px 620px #48d8e4, 226px 678px #48d8e4, 488px 1673px #48d8e4, 1429px 405px #48d8e4,
    742px 490px #48d8e4, 1160px 1352px #48d8e4, 855px 1644px #48d8e4, 695px 1466px #48d8e4, 1604px 686px #48d8e4,
    302px 1000px #48d8e4, 1513px 1500px #48d8e4, 779px 1448px #48d8e4, 69px 1390px #48d8e4, 588px 1042px #48d8e4,
    828px 1649px #48d8e4, 1266px 414px #48d8e4, 1171px 1635px #48d8e4, 1428px 92px #48d8e4, 528px 1372px #48d8e4,
    796px 1544px #48d8e4, 158px 801px #48d8e4, 192px 1248px #48d8e4, 900px 1696px #48d8e4, 1253px 1129px #48d8e4,
    259px 505px #48d8e4, 257px 550px #48d8e4, 232px 1198px #48d8e4, 1266px 435px #48d8e4, 1386px 445px #48d8e4,
    1241px 1584px #48d8e4, 351px 969px #48d8e4, 591px 286px #48d8e4, 277px 744px #48d8e4, 1245px 196px #48d8e4,
    1440px 351px #48d8e4, 1078px 572px #48d8e4, 1714px 1693px #48d8e4, 266px 1346px #48d8e4, 259px 1584px #48d8e4,
    1492px 161px #48d8e4, 830px 1681px #48d8e4, 423px 798px #48d8e4, 605px 443px #48d8e4, 275px 431px #48d8e4,
    582px 1436px #48d8e4, 786px 1577px #48d8e4, 1689px 1511px #48d8e4, 41px 77px #48d8e4, 1115px 630px #48d8e4,
    1707px 456px #48d8e4, 1212px 1193px #48d8e4, 1271px 1177px #48d8e4, 634px 1349px #48d8e4, 346px 1075px #48d8e4,
    374px 1113px #48d8e4, 802px 454px #48d8e4, 595px 933px #48d8e4, 1048px 688px #48d8e4, 506px 516px #48d8e4,
    1351px 1237px #48d8e4, 1142px 610px #48d8e4, 1600px 772px #48d8e4, 292px 1639px #48d8e4, 1482px 1519px #48d8e4,
    26px 486px #48d8e4, 841px 382px #48d8e4, 726px 1311px #48d8e4, 1520px 1193px #48d8e4, 1343px 358px #48d8e4,
    1510px 223px #48d8e4, 492px 586px #48d8e4, 737px 649px #48d8e4, 601px 460px #48d8e4, 518px 887px #48d8e4,
    793px 1193px #48d8e4, 439px 960px #48d8e4, 1591px 376px #48d8e4, 1694px 1099px #48d8e4, 912px 1703px #48d8e4,
    618px 171px #48d8e4, 1178px 733px #48d8e4, 699px 1215px #48d8e4, 496px 1160px #48d8e4, 1060px 1359px #48d8e4,
    175px 849px #48d8e4, 151px 1256px #48d8e4, 1092px 632px #48d8e4, 1148px 1558px #48d8e4, 1502px 548px #48d8e4,
    1587px 665px #48d8e4, 634px 1388px #48d8e4, 1089px 599px #48d8e4, 1321px 1378px #48d8e4, 1409px 85px #48d8e4,
    1700px 376px #48d8e4, 1699px 46px #48d8e4, 778px 1044px #48d8e4, 1258px 523px #48d8e4, 743px 1463px #48d8e4,
    1419px 405px #48d8e4, 1103px 1079px #48d8e4, 204px 956px #48d8e4, 452px 1074px #48d8e4, 1426px 439px #48d8e4,
    473px 780px #48d8e4, 1296px 1632px #48d8e4, 698px 266px #48d8e4, 1425px 1672px #48d8e4, 1576px 1358px #48d8e4,
    1416px 471px #48d8e4, 42px 64px #48d8e4, 42px 1604px #48d8e4, 815px 486px #48d8e4, 1549px 98px #48d8e4,
    742px 1632px #48d8e4;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 1715px;
  width: 1px;
  height: 1px;
  z-index: -1;
  background: transparent;
  box-shadow: 1009px 1166px #090e17, 345px 196px #48d8e4, 646px 517px #48d8e4, 1550px 1406px #48d8e4,
    1310px 751px #48d8e4, 46px 918px #48d8e4, 1398px 1080px #48d8e4, 1503px 46px #48d8e4, 1137px 565px #48d8e4,
    881px 607px #48d8e4, 988px 819px #48d8e4, 845px 836px #48d8e4, 882px 95px #48d8e4, 1509px 313px #48d8e4,
    1385px 1195px #48d8e4, 579px 38px #48d8e4, 1444px 363px #48d8e4, 1668px 54px #48d8e4, 602px 765px #48d8e4,
    1515px 1208px #48d8e4, 42px 488px #48d8e4, 39px 642px #48d8e4, 894px 802px #48d8e4, 1190px 435px #48d8e4,
    1217px 1589px #48d8e4, 753px 250px #48d8e4, 789px 698px #48d8e4, 606px 795px #48d8e4, 491px 1710px #48d8e4,
    1679px 1109px #48d8e4, 1675px 1681px #48d8e4, 1344px 902px #48d8e4, 1430px 79px #48d8e4, 207px 1307px #48d8e4,
    485px 399px #48d8e4, 1047px 1434px #48d8e4, 463px 237px #48d8e4, 247px 646px #48d8e4, 708px 1055px #48d8e4,
    890px 434px #48d8e4, 560px 458px #48d8e4, 708px 1524px #48d8e4, 388px 1232px #48d8e4, 5px 752px #48d8e4,
    1310px 461px #48d8e4, 1454px 1240px #48d8e4, 249px 1273px #48d8e4, 295px 977px #48d8e4, 946px 1487px #48d8e4,
    636px 206px #48d8e4, 1683px 1057px #48d8e4, 870px 934px #48d8e4, 364px 970px #48d8e4, 510px 1335px #48d8e4,
    798px 598px #48d8e4, 1698px 381px #48d8e4, 887px 1449px #48d8e4, 842px 1572px #48d8e4, 784px 795px #48d8e4,
    751px 1076px #48d8e4, 92px 1203px #48d8e4, 827px 1364px #48d8e4, 765px 116px #48d8e4, 1099px 1144px #48d8e4,
    512px 103px #48d8e4, 255px 1709px #48d8e4, 505px 1231px #48d8e4, 1387px 663px #48d8e4, 861px 517px #48d8e4,
    1053px 982px #48d8e4, 209px 1632px #48d8e4, 1307px 1530px #48d8e4, 1192px 255px #48d8e4, 1054px 406px #48d8e4,
    1070px 1696px #48d8e4, 908px 1580px #48d8e4, 703px 1468px #48d8e4, 456px 1603px #48d8e4, 1175px 380px #48d8e4,
    861px 225px #48d8e4, 1185px 895px #48d8e4, 1203px 129px #48d8e4, 882px 1216px #48d8e4, 741px 26px #48d8e4,
    704px 707px #48d8e4, 841px 516px #48d8e4, 1408px 345px #48d8e4, 481px 1439px #48d8e4, 545px 147px #48d8e4,
    1168px 635px #48d8e4, 209px 503px #48d8e4, 998px 1553px #48d8e4, 382px 1116px #48d8e4, 1470px 216px #48d8e4,
    1077px 850px #48d8e4, 1300px 952px #48d8e4, 1646px 386px #48d8e4, 926px 1281px #48d8e4, 207px 1669px #48d8e4,
    1698px 649px #48d8e4, 677px 175px #48d8e4, 335px 1002px #48d8e4, 808px 1268px #48d8e4, 1366px 430px #48d8e4,
    454px 1548px #48d8e4, 24px 770px #48d8e4, 818px 441px #48d8e4, 1564px 1689px #48d8e4, 929px 866px #48d8e4,
    1472px 1250px #48d8e4, 548px 1001px #48d8e4, 48px 1365px #48d8e4, 419px 1488px #48d8e4, 301px 1189px #48d8e4,
    1058px 1697px #48d8e4, 216px 1565px #48d8e4, 1542px 494px #48d8e4, 2px 1217px #48d8e4, 422px 907px #48d8e4,
    1691px 1127px #48d8e4, 844px 710px #48d8e4, 1140px 958px #48d8e4, 1097px 494px #48d8e4, 1417px 702px #48d8e4,
    1691px 313px #48d8e4, 1060px 1333px #48d8e4, 1443px 592px #48d8e4, 1692px 86px #48d8e4, 594px 1584px #48d8e4,
    653px 853px #48d8e4, 967px 497px #48d8e4, 488px 1666px #48d8e4, 1550px 1183px #48d8e4, 878px 535px #48d8e4,
    1539px 1140px #48d8e4, 876px 210px #48d8e4, 798px 1205px #48d8e4, 814px 74px #48d8e4, 1365px 1401px #48d8e4,
    939px 689px #48d8e4, 1665px 70px #48d8e4, 295px 1082px #48d8e4, 805px 229px #48d8e4, 886px 1106px #48d8e4,
    1377px 923px #48d8e4, 1599px 1557px #48d8e4, 963px 139px #48d8e4, 327px 1107px #48d8e4, 1207px 176px #48d8e4,
    328px 599px #48d8e4, 734px 1265px #48d8e4, 373px 737px #48d8e4, 1009px 1291px #48d8e4, 1537px 1633px #48d8e4,
    208px 1367px #48d8e4, 1545px 746px #48d8e4, 383px 930px #48d8e4, 1635px 603px #48d8e4, 1313px 588px #48d8e4,
    325px 45px #48d8e4, 516px 730px #48d8e4, 734px 470px #48d8e4, 594px 860px #48d8e4, 257px 953px #48d8e4,
    1151px 1504px #48d8e4, 1637px 448px #48d8e4, 1394px 545px #48d8e4, 365px 1040px #48d8e4, 1136px 212px #48d8e4,
    224px 1275px #48d8e4, 695px 1473px #48d8e4, 1048px 1563px #48d8e4, 1601px 1077px #48d8e4, 1061px 1430px #48d8e4,
    1412px 430px #48d8e4, 1219px 1603px #48d8e4, 533px 944px #48d8e4, 48px 759px #48d8e4, 675px 80px #48d8e4,
    1185px 580px #48d8e4, 372px 357px #48d8e4, 629px 1457px #48d8e4, 1386px 594px #48d8e4, 565px 876px #48d8e4,
    981px 756px #48d8e4, 910px 686px #48d8e4, 900px 579px #48d8e4, 1551px 1366px #48d8e4, 757px 518px #48d8e4,
    1705px 541px #48d8e4, 1562px 223px #48d8e4, 1590px 1204px #48d8e4, 107px 1673px #48d8e4, 1389px 991px #48d8e4,
    507px 1288px #48d8e4, 860px 891px #48d8e4, 1067px 1166px #48d8e4, 1220px 698px #48d8e4, 252px 1325px #48d8e4,
    1475px 752px #48d8e4, 871px 128px #48d8e4, 652px 1531px #48d8e4, 1299px 1399px #48d8e4, 392px 1660px #48d8e4,
    296px 797px #48d8e4, 1164px 808px #48d8e4, 755px 241px #48d8e4, 1476px 132px #48d8e4, 267px 1439px #48d8e4,
    766px 925px #48d8e4, 896px 37px #48d8e4, 935px 1706px #48d8e4, 587px 1048px #48d8e4, 1567px 1251px #48d8e4,
    1438px 40px #48d8e4, 893px 903px #48d8e4, 733px 366px #48d8e4, 1126px 564px #48d8e4, 1272px 768px #48d8e4,
    150px 471px #48d8e4, 1558px 269px #48d8e4, 18px 1078px #48d8e4, 1512px 694px #48d8e4, 656px 1485px #48d8e4,
    1653px 756px #48d8e4, 631px 572px #48d8e4, 1356px 459px #48d8e4, 273px 609px #48d8e4, 102px 1685px #48d8e4,
    386px 1418px #48d8e4, 607px 1063px #48d8e4, 588px 449px #48d8e4, 73px 1702px #48d8e4, 278px 960px #48d8e4,
    781px 523px #48d8e4, 85px 1353px #48d8e4, 1427px 884px #48d8e4, 1034px 1698px #48d8e4, 665px 1341px #48d8e4,
    526px 1655px #48d8e4, 926px 1282px #48d8e4, 736px 112px #48d8e4, 1266px 1307px #48d8e4, 888px 937px #48d8e4,
    1663px 189px #48d8e4, 362px 192px #48d8e4, 610px 197px #48d8e4, 495px 1059px #48d8e4, 407px 1114px #48d8e4,
    1585px 574px #48d8e4, 451px 4px #48d8e4, 239px 892px #48d8e4, 749px 882px #48d8e4, 323px 1682px #48d8e4,
    1343px 1321px #48d8e4, 81px 1080px #48d8e4, 764px 1566px #48d8e4, 27px 1197px #48d8e4, 173px 1565px #48d8e4,
    117px 1611px #48d8e4, 394px 1421px #48d8e4, 1195px 1307px #48d8e4, 1576px 251px #48d8e4, 1272px 1060px #48d8e4,
    923px 671px #48d8e4, 177px 115px #48d8e4, 318px 59px #48d8e4, 1606px 1110px #48d8e4, 1380px 1274px #48d8e4,
    274px 127px #48d8e4, 826px 1094px #48d8e4, 67px 804px #48d8e4, 435px 255px #48d8e4, 197px 840px #48d8e4,
    1580px 1446px #48d8e4, 1180px 1539px #48d8e4, 80px 1327px #48d8e4, 1501px 1048px #48d8e4, 1050px 1214px #48d8e4,
    570px 569px #48d8e4, 896px 379px #48d8e4, 764px 1572px #48d8e4, 904px 218px #48d8e4, 1607px 593px #48d8e4,
    640px 1261px #48d8e4, 777px 460px #48d8e4, 573px 258px #48d8e4, 882px 570px #48d8e4, 194px 146px #48d8e4,
    299px 841px #48d8e4, 1007px 876px #48d8e4, 929px 1394px #48d8e4, 1526px 788px #48d8e4, 821px 1351px #48d8e4,
    153px 1454px #48d8e4, 102px 1292px #48d8e4, 165px 1697px #48d8e4, 1211px 535px #48d8e4, 1348px 49px #48d8e4,
    1396px 804px #48d8e4, 1529px 736px #48d8e4, 782px 229px #48d8e4, 77px 309px #48d8e4, 1144px 453px #48d8e4,
    438px 153px #48d8e4, 670px 302px #48d8e4, 258px 1122px #48d8e4, 1174px 496px #48d8e4, 543px 606px #48d8e4,
    1325px 476px #48d8e4, 167px 690px #48d8e4, 787px 1641px #48d8e4, 1175px 1668px #48d8e4, 534px 649px #48d8e4,
    259px 202px #48d8e4, 1476px 1055px #48d8e4, 165px 1303px #48d8e4, 514px 1490px #48d8e4, 406px 1512px #48d8e4,
    255px 1159px #48d8e4, 375px 661px #48d8e4, 988px 475px #48d8e4, 682px 727px #48d8e4, 1580px 1210px #48d8e4,
    501px 1294px #48d8e4, 1488px 1001px #48d8e4, 215px 703px #48d8e4, 1584px 1028px #48d8e4, 51px 1336px #48d8e4,
    429px 1704px #48d8e4, 1118px 646px #48d8e4, 937px 1555px #48d8e4, 1194px 344px #48d8e4, 626px 1514px #48d8e4,
    1391px 1289px #48d8e4, 498px 1484px #48d8e4, 1145px 1224px #48d8e4, 977px 1511px #48d8e4, 1594px 613px #48d8e4,
    1265px 784px #48d8e4, 323px 1190px #48d8e4, 682px 1px #48d8e4, 1244px 653px #48d8e4, 164px 1233px #48d8e4,
    806px 1219px #48d8e4, 550px 1184px #48d8e4, 715px 1033px #48d8e4, 1257px 997px #48d8e4, 1514px 733px #48d8e4,
    1669px 671px #48d8e4, 217px 344px #48d8e4, 726px 211px #48d8e4, 1440px 560px #48d8e4, 1392px 11px #48d8e4,
    1503px 325px #48d8e4, 857px 154px #48d8e4, 1208px 1659px #48d8e4, 1407px 1065px #48d8e4, 968px 62px #48d8e4,
    1545px 1259px #48d8e4, 1521px 672px #48d8e4, 1288px 457px #48d8e4, 1551px 557px #48d8e4, 632px 905px #48d8e4,
    26px 351px #48d8e4, 1280px 389px #48d8e4, 574px 137px #48d8e4, 1368px 49px #48d8e4, 656px 1026px #48d8e4,
    166px 588px #48d8e4, 321px 940px #48d8e4, 1485px 1186px #48d8e4, 1557px 426px #48d8e4, 617px 1042px #48d8e4,
    430px 558px #48d8e4, 603px 1550px #48d8e4, 65px 884px #48d8e4, 609px 1238px #48d8e4, 1606px 1545px #48d8e4,
    1668px 678px #48d8e4, 554px 889px #48d8e4, 1503px 283px #48d8e4, 1631px 188px #48d8e4, 1383px 595px #48d8e4,
    238px 950px #48d8e4, 1147px 1525px #48d8e4, 689px 1245px #48d8e4, 662px 491px #48d8e4, 1658px 201px #48d8e4,
    1300px 1600px #48d8e4, 905px 1430px #48d8e4, 1323px 341px #48d8e4, 622px 1206px #48d8e4, 809px 1163px #48d8e4,
    104px 601px #48d8e4, 463px 23px #48d8e4, 1076px 1632px #48d8e4, 1666px 75px #48d8e4, 99px 618px #48d8e4,
    11px 550px #48d8e4, 356px 1313px #48d8e4, 19px 1677px #48d8e4, 754px 235px #48d8e4, 1385px 228px #48d8e4,
    112px 628px #48d8e4, 265px 522px #48d8e4, 1391px 1579px #48d8e4, 1277px 55px #48d8e4, 779px 681px #48d8e4,
    603px 61px #48d8e4, 1599px 1305px #48d8e4, 859px 836px #48d8e4, 332px 1226px #48d8e4, 1315px 1168px #48d8e4,
    933px 394px #48d8e4, 785px 348px #48d8e4, 742px 475px #48d8e4, 1090px 73px #48d8e4, 328px 868px #48d8e4,
    496px 540px #48d8e4, 909px 1530px #48d8e4, 416px 176px #48d8e4, 1506px 185px #48d8e4, 399px 545px #48d8e4,
    306px 1117px #48d8e4, 403px 205px #48d8e4, 681px 1207px #48d8e4, 226px 851px #48d8e4, 386px 235px #48d8e4,
    469px 1390px #48d8e4, 20px 161px #48d8e4, 1084px 118px #48d8e4, 1065px 487px #48d8e4, 423px 1433px #48d8e4,
    309px 565px #48d8e4, 128px 1153px #48d8e4, 1693px 151px #48d8e4, 7px 1575px #48d8e4, 1156px 591px #48d8e4,
    1240px 440px #48d8e4, 1620px 708px #48d8e4, 325px 5px #48d8e4, 1155px 273px #48d8e4, 979px 452px #48d8e4,
    242px 992px #48d8e4, 497px 321px #48d8e4, 1335px 479px #48d8e4, 1094px 264px #48d8e4, 1527px 831px #48d8e4,
    1252px 915px #48d8e4, 181px 1076px #48d8e4, 1709px 721px #48d8e4, 15px 402px #48d8e4, 160px 1237px #48d8e4,
    184px 723px #48d8e4, 1102px 953px #48d8e4, 1568px 235px #48d8e4, 475px 1369px #48d8e4, 178px 520px #48d8e4,
    907px 157px #48d8e4, 625px 291px #48d8e4, 665px 1218px #48d8e4, 1482px 1471px #48d8e4, 868px 1098px #48d8e4,
    1087px 110px #48d8e4, 519px 32px #48d8e4, 448px 1453px #48d8e4, 1038px 156px #48d8e4, 1407px 908px #48d8e4,
    1125px 425px #48d8e4, 147px 1274px #48d8e4, 1391px 1266px #48d8e4, 961px 11px #48d8e4, 450px 519px #48d8e4,
    696px 931px #48d8e4, 832px 613px #48d8e4, 1536px 1545px #48d8e4, 1519px 1085px #48d8e4, 34px 1659px #48d8e4,
    1328px 478px #48d8e4, 343px 250px #48d8e4, 84px 1128px #48d8e4, 815px 1663px #48d8e4, 1490px 736px #48d8e4,
    372px 1073px #48d8e4, 1338px 1691px #48d8e4, 1397px 1174px #48d8e4, 1174px 1343px #48d8e4, 698px 406px #48d8e4,
    1066px 1583px #48d8e4, 1581px 1278px #48d8e4, 1310px 686px #48d8e4, 809px 1141px #48d8e4, 48px 238px #48d8e4,
    351px 650px #48d8e4, 34px 519px #48d8e4, 777px 1684px #48d8e4, 500px 644px #48d8e4, 1297px 330px #48d8e4,
    1518px 551px #48d8e4, 415px 459px #48d8e4, 1167px 715px #48d8e4, 760px 1498px #48d8e4, 1234px 1401px #48d8e4,
    1532px 58px #48d8e4, 422px 1594px #48d8e4, 845px 817px #48d8e4, 1690px 416px #48d8e4, 531px 1175px #48d8e4,
    1582px 390px #48d8e4, 12px 922px #48d8e4, 1092px 992px #48d8e4, 1453px 1494px #48d8e4, 330px 1204px #48d8e4,
    255px 630px #48d8e4, 672px 8px #48d8e4, 1449px 1124px #48d8e4, 92px 687px #48d8e4, 1189px 1174px #48d8e4,
    1376px 1702px #48d8e4, 1144px 696px #48d8e4, 1112px 162px #48d8e4, 759px 66px #48d8e4, 262px 1287px #48d8e4,
    1696px 688px #48d8e4, 516px 760px #48d8e4, 951px 296px #48d8e4, 1207px 1677px #48d8e4, 1128px 267px #48d8e4,
    1633px 1467px #48d8e4, 102px 585px #48d8e4, 39px 591px #48d8e4, 1382px 53px #48d8e4, 58px 85px #48d8e4,
    1423px 1486px #48d8e4, 959px 737px #48d8e4, 123px 935px #48d8e4, 552px 286px #48d8e4, 1598px 1420px #48d8e4,
    1px 878px #48d8e4, 61px 508px #48d8e4, 1492px 208px #48d8e4, 565px 1668px #48d8e4, 1121px 696px #48d8e4,
    733px 1483px #48d8e4, 1193px 1383px #48d8e4, 1283px 361px #48d8e4, 1255px 1588px #48d8e4, 406px 1041px #48d8e4,
    834px 147px #48d8e4, 778px 860px #48d8e4, 1458px 1161px #48d8e4, 1229px 22px #48d8e4, 136px 834px #48d8e4,
    7px 1164px #48d8e4, 1659px 1587px #48d8e4, 1047px 467px #48d8e4, 910px 524px #48d8e4, 729px 1026px #48d8e4,
    1652px 239px #48d8e4, 1639px 1409px #48d8e4, 101px 528px #48d8e4, 712px 648px #48d8e4, 1373px 1372px #48d8e4,
    847px 954px #48d8e4, 1387px 255px #48d8e4, 1458px 441px #48d8e4, 1427px 1318px #48d8e4, 263px 1463px #48d8e4,
    274px 1078px #48d8e4, 533px 447px #48d8e4, 1333px 1301px #48d8e4, 401px 1424px #48d8e4, 1288px 1388px #48d8e4,
    1651px 1066px #48d8e4, 1014px 1189px #48d8e4, 1116px 303px #48d8e4, 1157px 1065px #48d8e4, 512px 175px #48d8e4,
    1113px 535px #48d8e4, 1384px 796px #48d8e4, 357px 991px #48d8e4, 266px 1233px #48d8e4, 252px 1585px #48d8e4,
    373px 615px #48d8e4, 1104px 620px #48d8e4, 226px 678px #48d8e4, 488px 1673px #48d8e4, 1429px 405px #48d8e4,
    742px 490px #48d8e4, 1160px 1352px #48d8e4, 855px 1644px #48d8e4, 695px 1466px #48d8e4, 1604px 686px #48d8e4,
    302px 1000px #48d8e4, 1513px 1500px #48d8e4, 779px 1448px #48d8e4, 69px 1390px #48d8e4, 588px 1042px #48d8e4,
    828px 1649px #48d8e4, 1266px 414px #48d8e4, 1171px 1635px #48d8e4, 1428px 92px #48d8e4, 528px 1372px #48d8e4,
    796px 1544px #48d8e4, 158px 801px #48d8e4, 192px 1248px #48d8e4, 900px 1696px #48d8e4, 1253px 1129px #48d8e4,
    259px 505px #48d8e4, 257px 550px #48d8e4, 232px 1198px #48d8e4, 1266px 435px #48d8e4, 1386px 445px #48d8e4,
    1241px 1584px #48d8e4, 351px 969px #48d8e4, 591px 286px #48d8e4, 277px 744px #48d8e4, 1245px 196px #48d8e4,
    1440px 351px #48d8e4, 1078px 572px #48d8e4, 1714px 1693px #48d8e4, 266px 1346px #48d8e4, 259px 1584px #48d8e4,
    1492px 161px #48d8e4, 830px 1681px #48d8e4, 423px 798px #48d8e4, 605px 443px #48d8e4, 275px 431px #48d8e4,
    582px 1436px #48d8e4, 786px 1577px #48d8e4, 1689px 1511px #48d8e4, 41px 77px #48d8e4, 1115px 630px #48d8e4,
    1707px 456px #48d8e4, 1212px 1193px #48d8e4, 1271px 1177px #48d8e4, 634px 1349px #48d8e4, 346px 1075px #48d8e4,
    374px 1113px #48d8e4, 802px 454px #48d8e4, 595px 933px #48d8e4, 1048px 688px #48d8e4, 506px 516px #48d8e4,
    1351px 1237px #48d8e4, 1142px 610px #48d8e4, 1600px 772px #48d8e4, 292px 1639px #48d8e4, 1482px 1519px #48d8e4,
    26px 486px #48d8e4, 841px 382px #48d8e4, 726px 1311px #48d8e4, 1520px 1193px #48d8e4, 1343px 358px #48d8e4,
    1510px 223px #48d8e4, 492px 586px #48d8e4, 737px 649px #48d8e4, 601px 460px #48d8e4, 518px 887px #48d8e4,
    793px 1193px #48d8e4, 439px 960px #48d8e4, 1591px 376px #48d8e4, 1694px 1099px #48d8e4, 912px 1703px #48d8e4,
    618px 171px #48d8e4, 1178px 733px #48d8e4, 699px 1215px #48d8e4, 496px 1160px #48d8e4, 1060px 1359px #48d8e4,
    175px 849px #48d8e4, 151px 1256px #48d8e4, 1092px 632px #48d8e4, 1148px 1558px #48d8e4, 1502px 548px #48d8e4,
    1587px 665px #48d8e4, 634px 1388px #48d8e4, 1089px 599px #48d8e4, 1321px 1378px #48d8e4, 1409px 85px #48d8e4,
    1700px 376px #48d8e4, 1699px 46px #48d8e4, 778px 1044px #48d8e4, 1258px 523px #48d8e4, 743px 1463px #48d8e4,
    1419px 405px #48d8e4, 1103px 1079px #48d8e4, 204px 956px #48d8e4, 452px 1074px #48d8e4, 1426px 439px #48d8e4,
    473px 780px #48d8e4, 1296px 1632px #48d8e4, 698px 266px #48d8e4, 1425px 1672px #48d8e4, 1576px 1358px #48d8e4,
    1416px 471px #48d8e4, 42px 64px #48d8e4, 42px 1604px #48d8e4, 815px 486px #48d8e4, 1549px 98px #48d8e4,
    742px 1632px #48d8e4;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 271px 1324px #090e17, 222px 104px #48d8e4, 802px 1035px #48d8e4, 312px 413px #48d8e4, 770px 1075px #48d8e4,
    265px 830px #48d8e4, 1347px 1654px #48d8e4, 309px 384px #48d8e4, 1276px 946px #48d8e4, 272px 1269px #48d8e4,
    804px 977px #48d8e4, 1622px 687px #48d8e4, 34px 737px #48d8e4, 1308px 712px #48d8e4, 1380px 1667px #48d8e4,
    720px 1609px #48d8e4, 1564px 50px #48d8e4, 343px 934px #48d8e4, 589px 784px #48d8e4, 1564px 1281px #48d8e4,
    1328px 84px #48d8e4, 342px 972px #48d8e4, 1424px 864px #48d8e4, 1437px 76px #48d8e4, 547px 1081px #48d8e4,
    1628px 1594px #48d8e4, 199px 710px #48d8e4, 1056px 154px #48d8e4, 1416px 521px #48d8e4, 1454px 1327px #48d8e4,
    1480px 853px #48d8e4, 274px 303px #48d8e4, 418px 1208px #48d8e4, 1431px 1624px #48d8e4, 1535px 500px #48d8e4,
    1456px 1573px #48d8e4, 746px 434px #48d8e4, 11px 1501px #48d8e4, 403px 1376px #48d8e4, 1248px 1060px #48d8e4,
    705px 390px #48d8e4, 1063px 1586px #48d8e4, 1413px 691px #48d8e4, 572px 70px #48d8e4, 1035px 993px #48d8e4,
    1440px 966px #48d8e4, 1651px 1505px #48d8e4, 1306px 1651px #48d8e4, 409px 633px #48d8e4, 379px 1398px #48d8e4,
    668px 315px #48d8e4, 1333px 401px #48d8e4, 1487px 1311px #48d8e4, 638px 1047px #48d8e4, 848px 242px #48d8e4,
    526px 207px #48d8e4, 146px 1570px #48d8e4, 1140px 754px #48d8e4, 1438px 1708px #48d8e4, 99px 1408px #48d8e4,
    1483px 1567px #48d8e4, 1345px 202px #48d8e4, 1039px 306px #48d8e4, 1488px 1354px #48d8e4, 443px 29px #48d8e4,
    1093px 1485px #48d8e4, 202px 318px #48d8e4, 355px 802px #48d8e4, 851px 154px #48d8e4, 126px 583px #48d8e4,
    1232px 1096px #48d8e4, 1590px 1171px #48d8e4, 726px 1452px #48d8e4, 1175px 1278px #48d8e4, 695px 887px #48d8e4,
    204px 1184px #48d8e4, 83px 672px #48d8e4, 887px 452px #48d8e4, 452px 1438px #48d8e4, 1316px 614px #48d8e4,
    745px 1013px #48d8e4, 1233px 741px #48d8e4, 835px 581px #48d8e4, 1466px 302px #48d8e4, 1318px 619px #48d8e4,
    891px 801px #48d8e4, 478px 1220px #48d8e4, 670px 179px #48d8e4, 734px 303px #48d8e4, 1272px 1310px #48d8e4,
    840px 211px #48d8e4, 558px 1019px #48d8e4, 1360px 287px #48d8e4, 1469px 635px #48d8e4, 125px 1290px #48d8e4,
    683px 893px #48d8e4, 1346px 1662px #48d8e4, 1047px 468px #48d8e4, 1667px 1465px #48d8e4, 1303px 56px #48d8e4,
    414px 262px #48d8e4, 718px 1318px #48d8e4, 1128px 1345px #48d8e4, 837px 778px #48d8e4, 1697px 588px #48d8e4,
    1086px 37px #48d8e4, 936px 1598px #48d8e4, 940px 325px #48d8e4, 146px 266px #48d8e4, 661px 1242px #48d8e4,
    460px 1545px #48d8e4, 251px 291px #48d8e4, 932px 10px #48d8e4, 1250px 363px #48d8e4, 17px 1201px #48d8e4,
    1443px 305px #48d8e4, 1517px 1248px #48d8e4, 481px 1172px #48d8e4, 1170px 580px #48d8e4, 190px 411px #48d8e4,
    1024px 1602px #48d8e4, 473px 1431px #48d8e4, 886px 686px #48d8e4, 10px 671px #48d8e4, 1115px 254px #48d8e4,
    137px 982px #48d8e4, 164px 893px #48d8e4, 1472px 651px #48d8e4, 608px 1118px #48d8e4, 130px 596px #48d8e4,
    707px 225px #48d8e4, 51px 155px #48d8e4, 259px 95px #48d8e4, 113px 1212px #48d8e4, 970px 586px #48d8e4,
    1044px 20px #48d8e4, 1656px 1035px #48d8e4, 1255px 565px #48d8e4, 446px 1217px #48d8e4, 496px 221px #48d8e4,
    597px 1583px #48d8e4, 474px 525px #48d8e4, 38px 226px #48d8e4, 1212px 317px #48d8e4, 204px 237px #48d8e4,
    603px 477px #48d8e4, 375px 1096px #48d8e4, 1117px 735px #48d8e4, 218px 1678px #48d8e4, 938px 315px #48d8e4,
    784px 1121px #48d8e4, 477px 832px #48d8e4, 1290px 341px #48d8e4, 448px 1652px #48d8e4, 1136px 1211px #48d8e4,
    1530px 283px #48d8e4, 457px 1330px #48d8e4, 1204px 754px #48d8e4, 816px 327px #48d8e4, 930px 396px #48d8e4,
    1323px 54px #48d8e4, 610px 945px #48d8e4, 445px 1526px #48d8e4, 1588px 547px #48d8e4, 297px 293px #48d8e4,
    96px 1059px #48d8e4, 1024px 1312px #48d8e4, 1574px 357px #48d8e4, 1600px 690px #48d8e4, 185px 937px #48d8e4,
    103px 1441px #48d8e4, 1385px 1279px #48d8e4, 704px 1280px #48d8e4, 1463px 947px #48d8e4, 1624px 1323px #48d8e4,
    1338px 1347px #48d8e4, 952px 243px #48d8e4, 105px 1547px #48d8e4, 603px 705px #48d8e4, 1317px 233px #48d8e4,
    1158px 1442px #48d8e4, 975px 564px #48d8e4, 1051px 1571px #48d8e4, 1149px 506px #48d8e4, 836px 2px #48d8e4,
    530px 551px #48d8e4, 936px 662px #48d8e4, 457px 1496px #48d8e4, 182px 998px #48d8e4, 1440px 199px #48d8e4,
    288px 1559px #48d8e4, 1715px 546px #48d8e4, 1399px 1476px #48d8e4, 1400px 1023px #48d8e4, 621px 1273px #48d8e4,
    580px 878px #48d8e4, 769px 251px #48d8e4, 1173px 1515px #48d8e4, 1301px 1553px #48d8e4, 1463px 642px #48d8e4;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 1715px;
  width: 2px;
  height: 2px;
  z-index: -1;
  background: transparent;
  box-shadow: 271px 1324px #090e17, 222px 104px #48d8e4, 802px 1035px #48d8e4, 312px 413px #48d8e4, 770px 1075px #48d8e4,
    265px 830px #48d8e4, 1347px 1654px #48d8e4, 309px 384px #48d8e4, 1276px 946px #48d8e4, 272px 1269px #48d8e4,
    804px 977px #48d8e4, 1622px 687px #48d8e4, 34px 737px #48d8e4, 1308px 712px #48d8e4, 1380px 1667px #48d8e4,
    720px 1609px #48d8e4, 1564px 50px #48d8e4, 343px 934px #48d8e4, 589px 784px #48d8e4, 1564px 1281px #48d8e4,
    1328px 84px #48d8e4, 342px 972px #48d8e4, 1424px 864px #48d8e4, 1437px 76px #48d8e4, 547px 1081px #48d8e4,
    1628px 1594px #48d8e4, 199px 710px #48d8e4, 1056px 154px #48d8e4, 1416px 521px #48d8e4, 1454px 1327px #48d8e4,
    1480px 853px #48d8e4, 274px 303px #48d8e4, 418px 1208px #48d8e4, 1431px 1624px #48d8e4, 1535px 500px #48d8e4,
    1456px 1573px #48d8e4, 746px 434px #48d8e4, 11px 1501px #48d8e4, 403px 1376px #48d8e4, 1248px 1060px #48d8e4,
    705px 390px #48d8e4, 1063px 1586px #48d8e4, 1413px 691px #48d8e4, 572px 70px #48d8e4, 1035px 993px #48d8e4,
    1440px 966px #48d8e4, 1651px 1505px #48d8e4, 1306px 1651px #48d8e4, 409px 633px #48d8e4, 379px 1398px #48d8e4,
    668px 315px #48d8e4, 1333px 401px #48d8e4, 1487px 1311px #48d8e4, 638px 1047px #48d8e4, 848px 242px #48d8e4,
    526px 207px #48d8e4, 146px 1570px #48d8e4, 1140px 754px #48d8e4, 1438px 1708px #48d8e4, 99px 1408px #48d8e4,
    1483px 1567px #48d8e4, 1345px 202px #48d8e4, 1039px 306px #48d8e4, 1488px 1354px #48d8e4, 443px 29px #48d8e4,
    1093px 1485px #48d8e4, 202px 318px #48d8e4, 355px 802px #48d8e4, 851px 154px #48d8e4, 126px 583px #48d8e4,
    1232px 1096px #48d8e4, 1590px 1171px #48d8e4, 726px 1452px #48d8e4, 1175px 1278px #48d8e4, 695px 887px #48d8e4,
    204px 1184px #48d8e4, 83px 672px #48d8e4, 887px 452px #48d8e4, 452px 1438px #48d8e4, 1316px 614px #48d8e4,
    745px 1013px #48d8e4, 1233px 741px #48d8e4, 835px 581px #48d8e4, 1466px 302px #48d8e4, 1318px 619px #48d8e4,
    891px 801px #48d8e4, 478px 1220px #48d8e4, 670px 179px #48d8e4, 734px 303px #48d8e4, 1272px 1310px #48d8e4,
    840px 211px #48d8e4, 558px 1019px #48d8e4, 1360px 287px #48d8e4, 1469px 635px #48d8e4, 125px 1290px #48d8e4,
    683px 893px #48d8e4, 1346px 1662px #48d8e4, 1047px 468px #48d8e4, 1667px 1465px #48d8e4, 1303px 56px #48d8e4,
    414px 262px #48d8e4, 718px 1318px #48d8e4, 1128px 1345px #48d8e4, 837px 778px #48d8e4, 1697px 588px #48d8e4,
    1086px 37px #48d8e4, 936px 1598px #48d8e4, 940px 325px #48d8e4, 146px 266px #48d8e4, 661px 1242px #48d8e4,
    460px 1545px #48d8e4, 251px 291px #48d8e4, 932px 10px #48d8e4, 1250px 363px #48d8e4, 17px 1201px #48d8e4,
    1443px 305px #48d8e4, 1517px 1248px #48d8e4, 481px 1172px #48d8e4, 1170px 580px #48d8e4, 190px 411px #48d8e4,
    1024px 1602px #48d8e4, 473px 1431px #48d8e4, 886px 686px #48d8e4, 10px 671px #48d8e4, 1115px 254px #48d8e4,
    137px 982px #48d8e4, 164px 893px #48d8e4, 1472px 651px #48d8e4, 608px 1118px #48d8e4, 130px 596px #48d8e4,
    707px 225px #48d8e4, 51px 155px #48d8e4, 259px 95px #48d8e4, 113px 1212px #48d8e4, 970px 586px #48d8e4,
    1044px 20px #48d8e4, 1656px 1035px #48d8e4, 1255px 565px #48d8e4, 446px 1217px #48d8e4, 496px 221px #48d8e4,
    597px 1583px #48d8e4, 474px 525px #48d8e4, 38px 226px #48d8e4, 1212px 317px #48d8e4, 204px 237px #48d8e4,
    603px 477px #48d8e4, 375px 1096px #48d8e4, 1117px 735px #48d8e4, 218px 1678px #48d8e4, 938px 315px #48d8e4,
    784px 1121px #48d8e4, 477px 832px #48d8e4, 1290px 341px #48d8e4, 448px 1652px #48d8e4, 1136px 1211px #48d8e4,
    1530px 283px #48d8e4, 457px 1330px #48d8e4, 1204px 754px #48d8e4, 816px 327px #48d8e4, 930px 396px #48d8e4,
    1323px 54px #48d8e4, 610px 945px #48d8e4, 445px 1526px #48d8e4, 1588px 547px #48d8e4, 297px 293px #48d8e4,
    96px 1059px #48d8e4, 1024px 1312px #48d8e4, 1574px 357px #48d8e4, 1600px 690px #48d8e4, 185px 937px #48d8e4,
    103px 1441px #48d8e4, 1385px 1279px #48d8e4, 704px 1280px #48d8e4, 1463px 947px #48d8e4, 1624px 1323px #48d8e4,
    1338px 1347px #48d8e4, 952px 243px #48d8e4, 105px 1547px #48d8e4, 603px 705px #48d8e4, 1317px 233px #48d8e4,
    1158px 1442px #48d8e4, 975px 564px #48d8e4, 1051px 1571px #48d8e4, 1149px 506px #48d8e4, 836px 2px #48d8e4,
    530px 551px #48d8e4, 936px 662px #48d8e4, 457px 1496px #48d8e4, 182px 998px #48d8e4, 1440px 199px #48d8e4,
    288px 1559px #48d8e4, 1715px 546px #48d8e4, 1399px 1476px #48d8e4, 1400px 1023px #48d8e4, 621px 1273px #48d8e4,
    580px 878px #48d8e4, 769px 251px #48d8e4, 1173px 1515px #48d8e4, 1301px 1553px #48d8e4, 1463px 642px #48d8e4;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 498px 234px #090e17, 1236px 427px #48d8e4, 252px 1115px #48d8e4, 134px 247px #48d8e4, 101px 41px #48d8e4,
    1093px 36px #48d8e4, 275px 759px #48d8e4, 121px 1363px #48d8e4, 1045px 1323px #48d8e4, 359px 795px #48d8e4,
    581px 336px #48d8e4, 1301px 419px #48d8e4, 1127px 1117px #48d8e4, 1441px 934px #48d8e4, 105px 647px #48d8e4,
    673px 1237px #48d8e4, 560px 1179px #48d8e4, 258px 1421px #48d8e4, 1131px 954px #48d8e4, 963px 954px #48d8e4,
    224px 818px #48d8e4, 19px 435px #48d8e4, 1072px 1509px #48d8e4, 586px 1526px #48d8e4, 124px 909px #48d8e4,
    756px 559px #48d8e4, 872px 1126px #48d8e4, 125px 539px #48d8e4, 261px 1056px #48d8e4, 310px 948px #48d8e4,
    1493px 1236px #48d8e4, 657px 1319px #48d8e4, 1651px 175px #48d8e4, 847px 1054px #48d8e4, 1153px 1212px #48d8e4,
    1658px 946px #48d8e4, 1096px 837px #48d8e4, 158px 1372px #48d8e4, 318px 188px #48d8e4, 1331px 648px #48d8e4,
    321px 616px #48d8e4, 1020px 459px #48d8e4, 887px 589px #48d8e4, 575px 743px #48d8e4, 384px 1141px #48d8e4,
    292px 1161px #48d8e4, 86px 447px #48d8e4, 1615px 1041px #48d8e4, 707px 200px #48d8e4, 461px 1559px #48d8e4,
    1147px 196px #48d8e4, 1156px 1182px #48d8e4, 323px 907px #48d8e4, 262px 718px #48d8e4, 973px 1460px #48d8e4,
    1089px 1197px #48d8e4, 250px 986px #48d8e4, 20px 80px #48d8e4, 1417px 1699px #48d8e4, 1118px 1103px #48d8e4,
    842px 133px #48d8e4, 76px 277px #48d8e4, 540px 771px #48d8e4, 749px 1432px #48d8e4, 452px 223px #48d8e4,
    682px 424px #48d8e4, 987px 646px #48d8e4, 73px 1476px #48d8e4, 968px 512px #48d8e4, 508px 1230px #48d8e4,
    107px 1589px #48d8e4, 1527px 1703px #48d8e4, 1265px 582px #48d8e4, 765px 947px #48d8e4, 736px 1258px #48d8e4,
    993px 1619px #48d8e4, 181px 369px #48d8e4, 1477px 243px #48d8e4, 1618px 1263px #48d8e4, 1620px 581px #48d8e4,
    1550px 172px #48d8e4, 1187px 398px #48d8e4, 103px 1714px #48d8e4, 729px 43px #48d8e4, 1479px 987px #48d8e4,
    733px 1067px #48d8e4, 1390px 1693px #48d8e4, 401px 1013px #48d8e4, 1301px 991px #48d8e4, 627px 284px #48d8e4,
    956px 1342px #48d8e4, 1704px 1522px #48d8e4, 701px 1479px #48d8e4, 194px 1272px #48d8e4, 1047px 735px #48d8e4,
    1286px 1168px #48d8e4, 648px 1041px #48d8e4, 870px 1714px #48d8e4, 24px 1070px #48d8e4, 237px 80px #48d8e4;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 1715px;
  width: 3px;
  height: 3px;
  z-index: -1;
  background: transparent;
  box-shadow: 498px 234px #090e17, 1236px 427px #48d8e4, 252px 1115px #48d8e4, 134px 247px #48d8e4, 101px 41px #48d8e4,
    1093px 36px #48d8e4, 275px 759px #48d8e4, 121px 1363px #48d8e4, 1045px 1323px #48d8e4, 359px 795px #48d8e4,
    581px 336px #48d8e4, 1301px 419px #48d8e4, 1127px 1117px #48d8e4, 1441px 934px #48d8e4, 105px 647px #48d8e4,
    673px 1237px #48d8e4, 560px 1179px #48d8e4, 258px 1421px #48d8e4, 1131px 954px #48d8e4, 963px 954px #48d8e4,
    224px 818px #48d8e4, 19px 435px #48d8e4, 1072px 1509px #48d8e4, 586px 1526px #48d8e4, 124px 909px #48d8e4,
    756px 559px #48d8e4, 872px 1126px #48d8e4, 125px 539px #48d8e4, 261px 1056px #48d8e4, 310px 948px #48d8e4,
    1493px 1236px #48d8e4, 657px 1319px #48d8e4, 1651px 175px #48d8e4, 847px 1054px #48d8e4, 1153px 1212px #48d8e4,
    1658px 946px #48d8e4, 1096px 837px #48d8e4, 158px 1372px #48d8e4, 318px 188px #48d8e4, 1331px 648px #48d8e4,
    321px 616px #48d8e4, 1020px 459px #48d8e4, 887px 589px #48d8e4, 575px 743px #48d8e4, 384px 1141px #48d8e4,
    292px 1161px #48d8e4, 86px 447px #48d8e4, 1615px 1041px #48d8e4, 707px 200px #48d8e4, 461px 1559px #48d8e4,
    1147px 196px #48d8e4, 1156px 1182px #48d8e4, 323px 907px #48d8e4, 262px 718px #48d8e4, 973px 1460px #48d8e4,
    1089px 1197px #48d8e4, 250px 986px #48d8e4, 20px 80px #48d8e4, 1417px 1699px #48d8e4, 1118px 1103px #48d8e4,
    842px 133px #48d8e4, 76px 277px #48d8e4, 540px 771px #48d8e4, 749px 1432px #48d8e4, 452px 223px #48d8e4,
    682px 424px #48d8e4, 987px 646px #48d8e4, 73px 1476px #48d8e4, 968px 512px #48d8e4, 508px 1230px #48d8e4,
    107px 1589px #48d8e4, 1527px 1703px #48d8e4, 1265px 582px #48d8e4, 765px 947px #48d8e4, 736px 1258px #48d8e4,
    993px 1619px #48d8e4, 181px 369px #48d8e4, 1477px 243px #48d8e4, 1618px 1263px #48d8e4, 1620px 581px #48d8e4,
    1550px 172px #48d8e4, 1187px 398px #48d8e4, 103px 1714px #48d8e4, 729px 43px #48d8e4, 1479px 987px #48d8e4,
    733px 1067px #48d8e4, 1390px 1693px #48d8e4, 401px 1013px #48d8e4, 1301px 991px #48d8e4, 627px 284px #48d8e4,
    956px 1342px #48d8e4, 1704px 1522px #48d8e4, 701px 1479px #48d8e4, 194px 1272px #48d8e4, 1047px 735px #48d8e4,
    1286px 1168px #48d8e4, 648px 1041px #48d8e4, 870px 1714px #48d8e4, 24px 1070px #48d8e4, 237px 80px #48d8e4;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1715px);
  }
}
