.create {
  width: 60%;
  position: relative;
  z-index: 5;
}

.create__slogan {
  font-family: "Montserrat";
  font-size: 89.5px;
  font-weight: bold;
  line-height: 1;
  color: #48d8e4;
  margin-bottom: 24px;
  margin-left: -8px;
}

.create__slogan-white {
  padding-top: 14px;
  font-size: 75px;
  color: #fff;
}

.create__slogan-company {
  font-size: 55px;
}

.create__text {
  margin-left: -4px;
  width: 330px;
  height: 51px;
  font-family: "FuturaBookC";
  font-size: 24px;
  font-weight: 500;
  color: #48d8e4;
  margin-bottom: 38px;
  line-height: 0.6;
}

.create__text-white {
  display: inline-block;
  padding-top: 14px;
  color: #fff;
}

.create__btn {
  display: inline-block;
  padding: 26px 96px;
  box-shadow: 0.3px 5px 60px 0 rgba(82, 172, 219, 0.5), inset 0px -5px 0 0 #37b3bd;
  background: linear-gradient(to left, #3cf9ba, #48d8e4);
  font-family: "FuturaBookC";
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 36px;
  transition: All 0.5s ease;
  position: relative;
}

.create__btn:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to left, #3cf9ba, #48d8e4);
  border-radius: 36px;
  z-index: -1;
  transition: all ease-in-out 1s;
}

.create__btn:hover,
.create__btn:hover:after {
  background: linear-gradient(to left, #48d8e4, #48d8e4);
  cursor: pointer;
  transition: all ease-in-out 1s;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.create__change-text:after {
  content: "_";
  animation: blinking 1.2s infinite;
}
