.decision {
  margin-bottom: 120px;
}

.decision__list {
  display: flex;
  justify-content: space-around;
}

.decision__item {
  width: 33.3%;
}

.decision__h2 {
  width: 100%;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  text-align: center;
  color: #48d8e4;
  margin-bottom: 43px;
}

.decision__h2-white {
  color: white;
}

.decision-img {
  position: relative;
}

.decision-img__property {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 42px;
  z-index: 1;
  margin-bottom: 21px;
}

.decision-img__property::after {
  position: absolute;
  content: " ";
  background-image: url("../icon/dicision-line.png");
}

.rotate__animation {
  animation: 3s linear 0s normal none infinite running rotate;
  -webkit-animation: 3s linear 0s normal none infinite running rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.decision-img__bg-dark {
  position: absolute;
  width: 179px;
  padding-left: 5px;
  display: block;
  margin: 0 auto;
  top: 60px;
  left: 90px;
  opacity: 0.15;
  transform: scale(1.05) rotate(55deg);
  z-index: -1;
}

.decision-img__bg {
  position: relative;
  width: 179px;
  padding-left: 5px;
  display: block;
  margin: 0 auto;
  z-index: 0;
}

.rotate-zoom__animation {
  animation: 6s ease-in-out normal none infinite running rotate-zoom;
  -webkit-animation: 6s linear 0s normal none infinite running rotate-zoom;
}

.rotate-zoom__animation-bg {
  animation: 10s ease-in-out normal none infinite running rotate-zoom-bg;
  -webkit-animation: 6s ease-in-out 0s normal none infinite running rotate-zoom-bg;
}

@keyframes rotate-zoom {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes rotate-zoom-bg {
  0% {
    transform: scale(1.05) rotate(55deg);
  }
  50% {
    transform: scale(1.2) rotate(40deg);
  }
  100% {
    transform: scale(1.05) rotate(55deg);
  }
}

.decision-img__list {
  position: absolute;
  top: 76px;
  left: 105px;
  width: 165px;
  z-index: 2;
}

.desicion__h3 {
  font-family: "FuturaBookC";
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.desicion__text {
  font-size: 18px;
  color: #607480;
  text-align: center;
  font-family: "FuturaBookC";
}

.decision__item:hover .desicion__price {
  opacity: 1;
}

.desicion__price {
  opacity: 0;
  text-align: center;
  margin: 31px auto 0 auto;
  transition: 0.7s ease-in-out all;
}

.desicion__price-style {
  padding: 9px 15px;
  position: relative;
  font-family: "FuturaBookC";
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.desicion__price-style::after {
  content: "";
  position: absolute;
  width: 116px;
  height: 32px;
  left: 0;
  top: 4px;
  border-radius: 8px;
  background-color: #48d8e4;
  transform: skew(-20deg);
  box-shadow: 0.3px 5px 27px 3px rgba(82, 172, 219, 0.5);
  z-index: -1;
}
