.slider {
  position: relative;
}

.slider__img-1 {
  position: absolute;
  width: 758px;
  height: 418px;
  left: -188px;
  top: 120px;
  z-index: 0;
}

.slider__img-2 {
  position: absolute;
  top: -54px;
  left: -62px;
  width: 758px;
  height: 418px;
  z-index: 0;
}

.slider__img-3 {
  position: absolute;
  width: 758px;
  height: 418px;
  left: -188px;
  top: 120px;
  transform: translate(2400px, -1350px);
  z-index: 0;
}

.slider__img-4 {
  position: absolute;
  top: -54px;
  left: -62px;
  width: 758px;
  height: 418px;
  transform: translate(2400px, -1350px);
  z-index: 0;
}

.animation-slider-1 {
  animation: 8s ease-in-out none anim infinite;
}

.animation-slider-2 {
  animation: 8s ease-in-out 0.2s anim infinite;
}

.animation-slider-3 {
  animation: 8s ease-in-out 4s none anim infinite;
}

.animation-slider-4 {
  animation: 8s ease-in-out 4.2s none anim infinite;
}

@keyframes anim {
  0% {
    transform: translate(2400px, -1350px);
  }
  35% {
    transform: translate(-48px, 26px);
  }
  45% {
    transform: translate(0px, 0px);
  }
  55% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(-48px, -26px);
  }
  100% {
    transform: translate(2400px, 1350px);
  }
}
