.social {
  width: 431px;
  height: 185px;
  opacity: 0.7;
  border-radius: 17.9px;
  box-shadow: 0.3px 5px 42.5px 7.5px rgba(82, 172, 219, 0.3);
  border: solid 2px #00ffff;
  background-color: #0a121b;
}

.social__text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: "FuturaBookC";
  font-size: 18px;
  color: #586973;
}

.social__phone {
  opacity: 0;
  width: 66px;
  height: 67px;
  margin-left: 11px;
  transition: 0.7s ease-in-out all;
}

.social__telegram {
  opacity: 0;
  width: 67px;
  height: 59px;
  margin-left: 10px;
  transition: 0.7s ease-in-out all;
}

.social__viber {
  opacity: 0;
  width: 84px;
  transition: 0.7s ease-in-out all;
}

.social__messenger {
  opacity: 0;
  width: 67px;
  height: 66px;
  transition: 0.7s ease-in-out all;
}

.social__list {
  display: flex;
  margin-top: -8px;
  justify-content: space-around;
  align-items: center;
}

.social__phone:hover {
  opacity: 1;
}

.social__telegram:hover {
  opacity: 1;
}
.social__viber:hover {
  opacity: 1;
}
.social__messenger:hover {
  opacity: 1;
}
