@import url("../fonts/fonts-all.css");

@import url("./background.css");
@import url("./navigation.css");
@import url("./create.css");
@import url("./slider.css");
@import url("./decision.css");
@import url("./contact.css");
@import url("./social.css");
@import url("./footer.css");
@import url("./social-btn.css");
@import url("./animation-slider.css");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  z-index: -1;
  color: aliceblue;
  box-sizing: border-box;
  overflow-x: hidden;
}

.overflow {
  margin: -6px;
  overflow: hidden;
}

.karina {
  overflow: hidden;
}

.bg-up {
  background-image: url("./../img/bg-top.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mb__first-block {
  margin-bottom: 62px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.first-screen {
  display: flex;
}
